<ion-header>
  <app-list-toolbar pageTitle="Manufacturing KPI" [pageConfig]="pageConfig" [selectedItems]="selectedItems"
    [query]="query">
  </app-list-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-grid fixed>
    <ion-row class="hr-group">
      <ion-col size="12" size-sm="12" size-md="12" size-xl="6">
        <ion-card>
          <div>
            <ion-text color="dark">
              Effectiveness
            </ion-text>
          </div>
          <!-- <ion-card-header class="background"> -->

          <!-- </ion-card-header> -->

          <ion-card-content>
            <!-- Column Chart -->
            <!-- <div id="RateOfReturnChart" style="width: 100%; height: 100%"></div> -->
          </ion-card-content>
        </ion-card>
      </ion-col>

      <ion-col size="12" size-sm="12" size-md="12" size-xl="6">
        <ion-card>
          <div>
            <ion-text color="dark">
              Quality / Performance
            </ion-text>
          </div>
          <!-- <ion-card-header class="background"> -->

          <!-- </ion-card-header> -->

          <ion-card-content>
            <!-- Column Chart -->
            <!-- <div id="RateOfReturnChart" style="width: 100%; height: 100%"></div> -->
          </ion-card-content>
        </ion-card>
      </ion-col>

      <ion-col size="12" size-sm="12" size-md="12" size-xl="6">
        <ion-card>
          <div>
            <ion-text color="dark">
              Production
            </ion-text>
          </div>
          <!-- <ion-card-header class="background"> -->

          <!-- </ion-card-header> -->

          <ion-card-content>
            <!-- Column Chart -->
            <!-- <div id="RateOfReturnChart" style="width: 100%; height: 100%"></div> -->
          </ion-card-content>
        </ion-card>
      </ion-col>

      <ion-col size="12" size-sm="12" size-md="12" size-xl="6">
        <ion-card>
          <div>
            <ion-text color="dark">
              Cost / Revenue
            </ion-text>
          </div>
          <!-- <ion-card-header class="background"> -->

          <!-- </ion-card-header> -->

          <ion-card-content>
            <!-- Column Chart -->
            <!-- <div id="RateOfReturnChart" style="width: 100%; height: 100%"></div> -->
          </ion-card-content>
        </ion-card>
      </ion-col>

    </ion-row>
  </ion-grid>

</ion-content>