<ion-header>
	<app-list-toolbar pageTitle="Nhập hàng" [pageConfig]="pageConfig" [selectedItems]="selectedItems" [query]="query" (add)="add()" (refresh)="refresh()" (export)="export()" (import)="import($event)" (help)="help()" (unselect)="unselect()" (archiveItems)="archiveItems()" (deleteItems)="deleteItems()" (submitReceipt)="submitReceipt()"></app-list-toolbar>

	<section class="table">
		<header class="bold">
			<div class="col-checkbox cell"></div>
			<div class="col-id cell" (click)="sortToggle('Id')">
				Id
				<ion-icon class="min-btn" *ngIf="sort.Id" [name]="sort.Id == 'Id'?'arrow-down': 'arrow-up'"></ion-icon>
				<ion-icon class="min-btn" (click)="pageConfig.isShowSearch = !pageConfig.isShowSearch" *ngIf="query.Id" name="search" color="primary"></ion-icon>
			</div>
			<div class="col-status cell" (click)="sortToggle('Status')">
				Tình trạng
				<ion-icon class="min-btn" *ngIf="sort.Status" [name]="sort.Status == 'Status'?'arrow-down': 'arrow-up'"></ion-icon>
				<ion-icon class="min-btn" (click)="pageConfig.isShowSearch = !pageConfig.isShowSearch" *ngIf="query.Status" name="search" color="primary"></ion-icon>
			</div>
			<div class="col-code cell" (click)="sortToggle('IDStorer')">
				Chủ hàng
				<ion-icon class="min-btn" *ngIf="sort.IDStorer" [name]="sort.IDStorer == 'IDStorer'?'arrow-down': 'arrow-up'"></ion-icon>
				<ion-icon class="min-btn" (click)="pageConfig.isShowSearch = !pageConfig.isShowSearch" *ngIf="query.IDStorer" name="search" color="primary"></ion-icon>
			</div>
			<div class="col-date cell" (click)="sortToggle('ExpectedReceiptDate')">
				Ngày dự kiến
				<ion-icon class="min-btn" *ngIf="sort.ExpectedReceiptDate" [name]="sort.ExpectedReceiptDate == 'ExpectedReceiptDate'?'arrow-down': 'arrow-up'"></ion-icon>
				<ion-icon class="min-btn" (click)="pageConfig.isShowSearch = !pageConfig.isShowSearch" *ngIf="query.ExpectedReceiptDate" name="search" color="primary"></ion-icon>
			</div>
			<div class="col-date cell" (click)="sortToggle('ReceiptedDate')">
				Ngày nhận hàng
				<ion-icon class="min-btn" *ngIf="sort.ReceiptedDate" [name]="sort.ReceiptedDate == 'ReceiptedDate'?'arrow-down': 'arrow-up'"></ion-icon>
				<ion-icon class="min-btn" (click)="pageConfig.isShowSearch = !pageConfig.isShowSearch" *ngIf="query.ReceiptedDate" name="search" color="primary"></ion-icon>
			</div>
			<div class="col-name cell" (click)="sortToggle('VehicleNumber')">
				Xe giao hàng
				<ion-icon class="min-btn" *ngIf="sort.VehicleNumber" [name]="sort.VehicleNumber == 'VehicleNumber'?'arrow-down': 'arrow-up'"></ion-icon>
				<ion-icon class="min-btn" (click)="pageConfig.isShowSearch = !pageConfig.isShowSearch" *ngIf="query.VehicleNumber" name="search" color="primary"></ion-icon>
			</div>
			<div class="col-status cell" (click)="sortToggle('Type')">
				Phân loại
				<ion-icon class="min-btn" *ngIf="sort.Type" [name]="sort.Type == 'Type'?'arrow-down': 'arrow-up'"></ion-icon>
				<ion-icon class="min-btn" (click)="pageConfig.isShowSearch = !pageConfig.isShowSearch" *ngIf="query.Type" name="search" color="primary"></ion-icon>
			</div>

			

			<!-- <div class="col-code cell" (click)="sortToggle('Code')">Đơn vị
				<ion-icon class="min-btn" *ngIf="sort.Code" [name]="sort.Code == 'Code'?'arrow-down': 'arrow-up'"></ion-icon>
				<ion-icon class="min-btn" (click)="pageConfig.isShowSearch = !pageConfig.isShowSearch" *ngIf="query.Code_eq" name="search" color="primary"></ion-icon>
			</div> -->
		</header>
		<form (submit)="refresh()" action="#">
			<header class="filter" *ngIf="pageConfig.isShowSearch">
				<div class="col-checkbox cell"></div>
				<div class="col-id cell">
					<ion-text>Id</ion-text>
					<input [ngModelOptions]="{standalone: true}" [(ngModel)]="query.Id" class="c-input" [ngClass]="{active: query.Id}" type="text">
					<ion-icon class="min-btn" (click)="query.Id=''; refresh()" *ngIf="query.Id" name="close-circle-outline"></ion-icon>
				</div>
				<div class="col-status cell">
					<ion-text>Tình trạng</ion-text>
					<select (change)="refresh()" class="c-input c-dropdown" [ngModelOptions]="{standalone: true}" [(ngModel)]="query.Status" [ngClass]="{active: query.Status}">
						<option value="">Tất cả</option>
						<option disabled value="">----------</option>
						<option *ngFor="let t of statusList" [value]="t.Id">{{t.Name}}</option>
					</select>
					<ion-icon class="min-btn" (click)="query.Status=''; refresh()" *ngIf="query.Status !=''" name="close-circle-outline"></ion-icon>
				</div>
				<div class="col-code cell">
					<ion-text>Chủ hàng</ion-text>
					<select (change)="refresh()" class="c-input c-dropdown" [ngModelOptions]="{standalone: true}" [(ngModel)]="query.IDStorer" [ngClass]="{active: query.IDStorer}">
						<option value="">Tất cả</option>
						<option disabled value="">----------</option>
						<option *ngFor="let t of storerList" [value]="t.Id">{{t.Name}}</option>
					</select>
					<ion-icon class="min-btn" (click)="query.IDStorer=''; refresh()" *ngIf="query.IDStorer" name="close-circle-outline"></ion-icon>
				</div>
				
				<div class="col-date cell">
					<ion-text>Ngày nhập</ion-text>
					<input style="text-align: center;" [ngModelOptions]="{standalone: true}" (change)="refresh();" [(ngModel)]="query.ExpectedReceiptDate" class="c-input" [ngClass]="{active: query.ExpectedReceiptDate}" type="date">
					<ion-icon class="min-btn" (click)="query.ExpectedReceiptDate=''; refresh()" *ngIf="query.ExpectedReceiptDate" name="close-circle-outline"></ion-icon>
				</div>

				<div class="col-date cell">
					<ion-text>Ngày nhận</ion-text>
					<input style="text-align: center;" [ngModelOptions]="{standalone: true}" (change)="refresh();" [(ngModel)]="query.ReceiptedDate" class="c-input" [ngClass]="{active: query.ReceiptedDate}" type="date">
					<ion-icon class="min-btn" (click)="query.ReceiptedDate=''; refresh()" *ngIf="query.ReceiptedDate" name="close-circle-outline"></ion-icon>
				</div>
				<div class="col-name cell">
					<ion-text>Số xe</ion-text>
					<input [ngModelOptions]="{standalone: true}" [(ngModel)]="query.VehicleNumber" class="c-input" [ngClass]="{active: query.VehicleNumber}" type="text">
					<ion-icon class="min-btn" (click)="query.VehicleNumber=''; refresh()" *ngIf="query.VehicleNumber" name="close-circle-outline"></ion-icon>
				</div>
				<div class="col-status cell">
					<ion-text>Phân loại</ion-text>
					<select (change)="refresh()" class="c-input c-dropdown" [ngModelOptions]="{standalone: true}" [(ngModel)]="query.Type" [ngClass]="{active: query.Type}">
						<option value="">Tất cả</option>
						<option disabled value="">----------</option>
						<option *ngFor="let t of typeList" [value]="t.Id">{{t.Name}}</option>
					</select>
					<ion-icon class="min-btn" (click)="query.Type=''; refresh()" *ngIf="query.Type !=''" name="close-circle-outline"></ion-icon>
				</div>

				<button mat-raised-button type="submit" style="display:none">Search</button>
			</header>
		</form>
	</section>
</ion-header>

<ion-content appScrollbarTheme class="header-table">
	<app-page-message [itemsLength]="items.length" [showSpinner]="pageConfig.showSpinner"></app-page-message>

	<div *ngIf="items.length && pageConfig.showSpinner==false">
		<section class="table">
			<ion-virtual-scroll [items]="items" approxItemHeight="27px">
				<ng-container *virtualItem="let i; let itemBounds = bounds; let j = index; ">
					<div class="row" [ngClass]="{odd: j % 2 != 0}" [ngClass]="{selected: i.checked}" [ngStyle]="{'border-left': 'solid 5px rgba(var(--ion-color-' + i.StatusColor + '-rgb, 0, 0, 0), .2)'}">
						<div class="col-checkbox cell">
							<input (click)="changeSelection(i, $event)" class="c-checkbox" [(ngModel)]="i.checked" type="checkbox">
						</div>
						<div (click)="nav('receipt/'+i.Id,'forward')" class="col-id cell">
							{{i.Id}}
						</div>
						<div class="col-status cell">
							<span class="bar-holder">
								<ion-text class="bar-title" [color]="i.StatusColor">{{i.StatusText}}</ion-text>
								<span class="bar" [ngClass]="{active: s.Code==i.Status}" [ngStyle]="{'background-color': 'var(--ion-color-'+s.Color+')'}" *ngFor="let s of statusList" [title]="s.Name"></span>
							</span>
						</div>
						<div (click)="nav('receipt/'+i.Id,'forward')" class="col-code cell">
							{{i.StorerName}}
						</div>
						<div class="col-date cell">{{i.ExpectedReceiptDateText}}</div>
						<div class="col-date col-estReceivingDate cell" ><span *ngIf="i.ReceiptedDateText"> {{i.ReceiptedDateText}}</span></div>
						<div class="col-name cell">{{i.VehicleNumber}}</div>
						<div class="col-status col-ImportStatus cell"><span>{{i.TypeText}} <small *ngIf="i.IDPurchaseOrder">{{i.IDPurchaseOrder}}</small></span></div>
					</div>
				</ng-container>
			</ion-virtual-scroll>
		</section>
	</div>

	<ion-infinite-scroll color="primary" threshold="20%" (ionInfinite)="loadData($event)" [disabled]="!pageConfig.infiniteScroll || pageConfig.isEndOfData">
		<ion-infinite-scroll-content loadingSpinner="dots"></ion-infinite-scroll-content>
	</ion-infinite-scroll>

	<ion-fab vertical="bottom" horizontal="end" slot="fixed">
		<ion-fab-button color="secondary" (click)="scanQRCode()">
			<ion-icon name="qr-code-outline"></ion-icon>
		</ion-fab-button>
	</ion-fab>
</ion-content>

<ion-content *ngIf="scanning" no-scroll class="cameraFrame">
	<div class="frame">
		<div class="blink-line">
		</div>
	</div>
	<ion-fab vertical="bottom" horizontal="center" slot="fixed">
		<ion-fab-button color="secondary" (click)="closeCamera()">
			<ion-icon name="close"></ion-icon>
		</ion-fab-button>
	</ion-fab>
</ion-content>