<ion-header>
	<app-list-toolbar [pageTitle]="id && selectedTimesheet? 'Phân ca cho '+selectedTimesheet.Name :'Phân ca'" [ShowFeature]="false" [ShowArchive]="false" [ShowSearch]="false" [pageConfig]="pageConfig" [selectedItems]="selectedItems" [query]="query" (add)="add()" (refresh)="refresh()" (export)="export()" (import)="import($event)" (help)="help()" (unselect)="unselect()" (archiveItems)="archiveItems()" (deleteItems)="deleteItems()">
		<ion-button *ngIf="id" (click)="fcToday()" title="Di chuyển về ngày hiện tại">
			Today
		</ion-button>
		<ion-button *ngIf="id" (click)="fcPrev()" title="Ngày trước">
			<ion-icon slot="icon-only" name="chevron-back"></ion-icon>
		</ion-button>
		<ion-button *ngIf="id" (click)="fcNext()" title="Ngày kế tiếp">
			<ion-icon slot="icon-only" name="chevron-forward"></ion-icon>
		</ion-button>
		<span class="split ion-hide-sm-down">|</span>
		<!-- <ion-button *ngIf="id" (click)="massShiftAssignment()" title="Phân ca hàng loạt">
			<ion-icon slot="icon-only" name="trail-sign-outline"></ion-icon>
		</ion-button> -->
		<!-- <ion-button *ngIf="id" (click)="showStaffPickerModal()" title="Thêm nhân sự vào lịch làm việc">
			<ion-icon slot="icon-only" name="person-add-outline"></ion-icon>
		</ion-button> -->
		<ion-button (click)="showFilter()" title="Filter">
			<ion-icon slot="icon-only" [name]="pageConfig.isShowFeature? 'funnel':'funnel-outline' "></ion-icon>
		</ion-button>
	</app-list-toolbar>
</ion-header>

<ion-content appScrollbarTheme class="_left" [ngClass]="{withFeature: pageConfig.isShowFeature}">
	<ion-fab *ngIf="pageConfig.isShowFeature" class="feature no-print " vertical="top" horizontal="end" slot="fixed">
		<div id="order-detail-page" style="position: absolute;"></div>
		<ion-list>
			<ion-list-header lines="full">
				<ion-label color="dark">Lịch làm việc</ion-label>

				<!-- <ion-button size="small" (click)="toggleDateFilter()">
					<ion-icon slot="icon-only" [name]="query.IDStatus=='[301]' ? 'calendar-outline' : 'calendar'"></ion-icon>
				</ion-button> -->
			</ion-list-header>
			<ion-item lines="full">
				<div class="c-control">
					<ng-select class="c-input no-check-dirty" appendTo="#order-detail-page" (change)="changeTimesheet()" [(ngModel)]="selectedTimesheet" [items]="timesheetList" bindLabel="Name" bindValue="" placeholder="Chọn lịch làm việc">
						<ng-template ng-option-tmp let-i="item" let-search="searchTerm">
							<div *ngIf="i">
								<div> <span *ngFor="let l of i.levels">&nbsp;&nbsp;&nbsp;</span> <span [ngOptionHighlight]="search">{{i.Name}}</span></div>
							</div>
						</ng-template>
					</ng-select>
				</div>
			</ion-item>
		</ion-list>

		<!-- <ion-list>
			<ion-list-header lines="full">
				<ion-label color="dark">Ca làm việc</ion-label>
			</ion-list-header>
			<ion-item lines="full" *ngFor="let i of shiftList">
				<ion-checkbox slot="start" [(ngModel)]="i.isChecked" (ionChange)="changeFilter()"></ion-checkbox>
				<ion-label class="ion-text-wrap">
					<ion-text [color]="i.Color">
						<h3>{{i.Name}} <small>{{i.Start}}-{{i.End}}</small></h3>
					</ion-text>
					<p *ngIf="i.Remark">
						<small>{{i.ShiftType}}</small>
					</p>
				</ion-label>
			</ion-item>
		</ion-list> -->
		
		<ion-list>
			<ion-list-header lines="full">
				<ion-label color="dark">Địa điểm</ion-label>
			</ion-list-header>
			<ion-item lines="full" *ngFor="let i of officeList">
				<ion-checkbox slot="start" [(ngModel)]="i.isChecked" (ionChange)="changeFilter()"></ion-checkbox>
				<ion-label class="ion-text-wrap">
					<ion-text>
						<h3>{{i.Name}}</h3>
					</ion-text>
					<p *ngIf="i.Remark">
						<small>{{i.Remark}}</small>
					</p>
				</ion-label>
			</ion-item>
		</ion-list>

		

		<!-- <ion-list>
			<ion-list-header lines="full">
				<ion-label color="dark">Loại ca</ion-label>
			</ion-list-header>
			<ion-item lines="full" *ngFor="let i of shifTypeList">
				<ion-checkbox slot="start" [(ngModel)]="i.isChecked" (ionChange)="changeFilter()"></ion-checkbox>
				<ion-label class="ion-text-wrap">
					<ion-text [color]="i.Color">
						<h3>{{i.Name}}</h3>
					</ion-text>
					<p *ngIf="i.Remark">
						<small>{{i.Remark}}</small>
					</p>
				</ion-label>
			</ion-item>
		</ion-list> -->

	</ion-fab>

	<app-page-message message="Chưa chọn lịch làm việc" subMessage="Vui lòng chọn lịch làm việc để bắt đầu." *ngIf="!id" [itemsLength]="id" [showSpinner]="pageConfig.showSpinner"></app-page-message>
	<full-calendar #calendar [options]="calendarOptions"></full-calendar>


</ion-content>