<ion-grid fixed>
  <form [formGroup]="formGroup">
    <!-- General -->
    <ion-row class="hr-group">
      <ion-col size="12" size-sm="12" size-md="12" size-xl="3">
        <ion-list-header class="ion-no-padding">
          <ion-label color="primary">General</ion-label>
        </ion-list-header>
      </ion-col>
      <ion-col size="12" size-sm="6" size-xl="4">
        <div class="c-control">
          <label class="c-label" for="StandardCarrierAlphaCode">SCAC <small>StandardCarrierAlphaCode</small>
            <span *ngIf="!formGroup.controls.StandardCarrierAlphaCode.valid && !formGroup.controls.StandardCarrierAlphaCode.pending && (formGroup.controls.StandardCarrierAlphaCode.dirty || submitAttempt)" ion-text color="danger">(*)</span>
          </label>
          <input (change)="saveChange()" class="c-input" id="StandardCarrierAlphaCode" formControlName="StandardCarrierAlphaCode">
        </div>
        <div class="c-control">
          <label class="c-label" for="CreditLimit">CreditLimit <small>Maximum amount of the owner credit limit</small>
            <span *ngIf="!formGroup.controls.CreditLimit.valid && !formGroup.controls.CreditLimit.pending && (formGroup.controls.CreditLimit.dirty || submitAttempt)" ion-text color="danger">(*)</span>
          </label>
          <input (change)="saveChange()" class="c-input" id="CreditLimit" formControlName="CreditLimit" mask="separator.9" thousandSeparator="," [allowNegativeNumbers]="false" type="tel">
        </div>
      </ion-col>
      <ion-col size="12" size-sm="6" size-xl="4">
        <div class="c-control">
          <label class="c-label" for="IDCartonGroup">Carton group <small>CartonGroup</small>
            <span *ngIf="!formGroup.controls.IDCartonGroup.valid && !formGroup.controls.IDCartonGroup.pending && (formGroup.controls.IDCartonGroup.dirty || submitAttempt)" ion-text color="danger">(*)</span>
          </label>
          <input (change)="saveChange()" class="c-input" id="IDCartonGroup" formControlName="IDCartonGroup">
        </div>
      </ion-col>
    </ion-row>

    <!-- Task -->
    <ion-row class="hr-group">
      <ion-col size="12" size-sm="12" size-md="12" size-xl="3">
        <ion-list-header class="ion-no-padding">
          <ion-label color="primary">Task</ion-label>
        </ion-list-header>
      </ion-col>
      <ion-col size="12" size-sm="12" size-xl="8">
        <div class="c-control">
          <span class="no-warp">
            <input (change)="saveChange()" class="c-checkbox" id="isActivated" formControlName="isActivated" type="checkbox">
            <label class="c-label checkbox" for="isActivated">Activate
              <span *ngIf="!formGroup.controls.isActivated.valid && !formGroup.controls.isActivated.pending && (formGroup.controls.isActivated.dirty || submitAttempt)" ion-text color="danger">(*)</span>
            </label>
          </span>
        </div>
        <div class="c-control">
          <span class="no-warp">
            <input (change)="saveChange()" class="c-checkbox" id="IsEnablePacking" formControlName="IsEnablePacking" type="checkbox">
            <label class="c-label checkbox" for="IsEnablePacking">Enable packing
              <span *ngIf="!formGroup.controls.IsEnablePacking.valid && !formGroup.controls.IsEnablePacking.pending && (formGroup.controls.IsEnablePacking.dirty || submitAttempt)" ion-text color="danger">(*)</span>
            </label>
          </span>
          <span class="no-warp">
            <input (change)="saveChange()" class="c-checkbox" id="IsQCInspectAtPack" formControlName="IsQCInspectAtPack" type="checkbox">
            <label class="c-label checkbox" for="IsQCInspectAtPack">QC Inspect at pack
              <span *ngIf="!formGroup.controls.IsQCInspectAtPack.valid && !formGroup.controls.IsQCInspectAtPack.pending && (formGroup.controls.IsQCInspectAtPack.dirty || submitAttempt)" ion-text color="danger">(*)</span>
            </label>
          </span>
        </div>
        <div class="c-control">
          <span class="no-warp">
            <input (change)="saveChange()" class="c-checkbox" id="IsAllowMultiZoneRainbowPallet" formControlName="IsAllowMultiZoneRainbowPallet" type="checkbox">
            <label class="c-label checkbox" for="IsAllowMultiZoneRainbowPallet">Allow multi zone rainbow pallet
              <span *ngIf="!formGroup.controls.IsAllowMultiZoneRainbowPallet.valid && !formGroup.controls.IsAllowMultiZoneRainbowPallet.pending && (formGroup.controls.IsAllowMultiZoneRainbowPallet.dirty || submitAttempt)" ion-text color="danger">(*)</span>
            </label>
          </span>
        </div>
        <div class="c-control">
          <span class="no-warp">
            <input (change)="saveChange()" class="c-checkbox" id="AllowCommingledLPN" formControlName="AllowCommingledLPN" type="checkbox">
            <label class="c-label checkbox" for="AllowCommingledLPN">Allow commingled LPN
              <span *ngIf="!formGroup.controls.AllowCommingledLPN.valid && !formGroup.controls.AllowCommingledLPN.pending && (formGroup.controls.AllowCommingledLPN.dirty || submitAttempt)" ion-text color="danger">(*)</span>
            </label>
          </span>
        </div>
      </ion-col>
      <ion-col size="12" size-sm="6" size-xl="4" offset-xl="3">
        <div class="c-control">
          <label class="c-label" for="DefaultItemRotation">Default item rotation
            <span *ngIf="!formGroup.controls.DefaultItemRotation.valid && !formGroup.controls.DefaultItemRotation.pending && (formGroup.controls.DefaultItemRotation.dirty || submitAttempt)" ion-text color="danger">(*)</span>
          </label>
          <select (change)="saveChange()" class="c-input c-dropdown" formControlName="DefaultItemRotation">
            <option value="Lot">Lot</option>
          </select>
        </div>
        <div class="c-control">
          <label class="c-label" for="DefaultRotation">Default rotation
            <span *ngIf="!formGroup.controls.DefaultRotation.valid && !formGroup.controls.DefaultRotation.pending && (formGroup.controls.DefaultRotation.dirty || submitAttempt)" ion-text color="danger">(*)</span>
          </label>
          <select (change)="saveChange()" class="c-input c-dropdown" formControlName="DefaultRotation">
            <option value="FIFO">FIFO</option>
            <option value="LIFO">FIFO</option>
          </select>
        </div>
        <div class="c-control">
          <label class="c-label" for="DefaultStrategy">Default strategy
            <span *ngIf="!formGroup.controls.DefaultStrategy.valid && !formGroup.controls.DefaultStrategy.pending && (formGroup.controls.DefaultStrategy.dirty || submitAttempt)" ion-text color="danger">(*)</span>
          </label>
          <select (change)="saveChange()" class="c-input c-dropdown" formControlName="DefaultStrategy">
            <option [value]="1">Std</option>
          </select>
        </div>
        <div class="c-control">
          <label class="c-label" for="DefaultPutawayStrategy">Default putaway strategy
            <span *ngIf="!formGroup.controls.DefaultPutawayStrategy.valid && !formGroup.controls.DefaultPutawayStrategy.pending && (formGroup.controls.DefaultPutawayStrategy.dirty || submitAttempt)" ion-text color="danger">(*)</span>
          </label>
          <select (change)="saveChange()" class="c-input c-dropdown" formControlName="DefaultPutawayStrategy">
            <option [value]="1">Std</option>
          </select>
        </div>
      </ion-col>
      <ion-col size="12" size-sm="6" size-xl="4">
        <div class="c-control">
          <label class="c-label" for="DefaultInboundQCLocation">Default inbound QC location <small></small>
            <span *ngIf="!formGroup.controls.DefaultInboundQCLocation.valid && !formGroup.controls.DefaultInboundQCLocation.pending && (formGroup.controls.DefaultInboundQCLocation.dirty || submitAttempt)" ion-text color="danger">(*)</span>
          </label>
          <ng-select class="c-input" (change)="saveChange();" labelForId="DefaultInboundQCLocation" formControlName="DefaultInboundQCLocation" [items]="locationList" [virtualScroll]="true" bindLabel="Name" bindValue="Id" placeholder="Tìm kiếm...">
            <ng-template ng-option-tmp let-i="item" let-search="searchTerm">
              <div *ngIf="i">
                <div> <span *ngFor="let l of i.levels">&nbsp;&nbsp;&nbsp;</span> <span [ngOptionHighlight]="search">{{i.Name}}</span></div>
              </div>
            </ng-template>
          </ng-select>
        </div>
        <div class="c-control">
          <label class="c-label" for="DefaultOutboundQCLocation">Default outbound QC location <small></small>
            <span *ngIf="!formGroup.controls.DefaultOutboundQCLocation.valid && !formGroup.controls.DefaultOutboundQCLocation.pending && (formGroup.controls.DefaultOutboundQCLocation.dirty || submitAttempt)" ion-text color="danger">(*)</span>
          </label>
          <ng-select class="c-input" (change)="saveChange();" labelForId="DefaultOutboundQCLocation" formControlName="DefaultOutboundQCLocation" [items]="locationList" [virtualScroll]="true" bindLabel="Name" bindValue="Id" placeholder="Tìm kiếm...">
            <ng-template ng-option-tmp let-i="item" let-search="searchTerm">
              <div *ngIf="i">
                <div> <span *ngFor="let l of i.levels">&nbsp;&nbsp;&nbsp;</span> <span [ngOptionHighlight]="search">{{i.Name}}</span></div>
              </div>
            </ng-template>
          </ng-select>
        </div>
        <div class="c-control">
          <label class="c-label" for="DefaultReturnsReceiptLocation">Default returns receipt location <small></small>
            <span *ngIf="!formGroup.controls.DefaultReturnsReceiptLocation.valid && !formGroup.controls.DefaultReturnsReceiptLocation.pending && (formGroup.controls.DefaultReturnsReceiptLocation.dirty || submitAttempt)" ion-text color="danger">(*)</span>
          </label>
          <ng-select class="c-input" (change)="saveChange();" labelForId="DefaultReturnsReceiptLocation" formControlName="DefaultReturnsReceiptLocation" [items]="locationList" [virtualScroll]="true" bindLabel="Name" bindValue="Id" placeholder="Tìm kiếm...">
            <ng-template ng-option-tmp let-i="item" let-search="searchTerm">
              <div *ngIf="i">
                <div> <span *ngFor="let l of i.levels">&nbsp;&nbsp;&nbsp;</span> <span [ngOptionHighlight]="search">{{i.Name}}</span></div>
              </div>
            </ng-template>
          </ng-select>
        </div>
        <div class="c-control">
          <label class="c-label" for="DefaultPackingLocation">Default packing location <small></small>
            <span *ngIf="!formGroup.controls.DefaultPackingLocation.valid && !formGroup.controls.DefaultPackingLocation.pending && (formGroup.controls.DefaultPackingLocation.dirty || submitAttempt)" ion-text color="danger">(*)</span>
          </label>
          <ng-select class="c-input" (change)="saveChange();" labelForId="DefaultPackingLocation" formControlName="DefaultPackingLocation" [items]="locationList" [virtualScroll]="true" bindLabel="Name" bindValue="Id" placeholder="Tìm kiếm...">
            <ng-template ng-option-tmp let-i="item" let-search="searchTerm">
              <div *ngIf="i">
                <div> <span *ngFor="let l of i.levels">&nbsp;&nbsp;&nbsp;</span> <span [ngOptionHighlight]="search">{{i.Name}}</span></div>
              </div>
            </ng-template>
          </ng-select>
        </div>
      </ion-col>
    </ion-row>

    <ion-row class="hr-group" style="border:none">
      <ion-col size="12" size-sm="12" size-md="12" size-xl="3">
        <ion-list-header class="ion-no-padding">
          <ion-label color="primary">Label</ion-label>
        </ion-list-header>
      </ion-col>
      <ion-col size="12" size-sm="6" size-xl="4">
        <div class="c-control">
          <label class="c-label" for="LPNBarcodeSymbology">LPN barcode symbology
            <span *ngIf="!formGroup.controls.LPNBarcodeSymbology.valid && !formGroup.controls.LPNBarcodeSymbology.pending && (formGroup.controls.LPNBarcodeSymbology.dirty || submitAttempt)" ion-text color="danger">(*)</span>
          </label>
          <select (change)="saveChange()" class="c-input c-dropdown" formControlName="LPNBarcodeSymbology">
            <option value="Code39">Code 39</option>
            <option value="Code128">Code 128</option>
            <option value="DataMatrix">Data matrix</option>
            <option value="QRCode">QR code</option>
          </select>
        </div>
        <div class="c-control">
          <label class="c-label" for="LPNBarcodeFormat">LPN barcode format
            <span *ngIf="!formGroup.controls.LPNBarcodeFormat.valid && !formGroup.controls.LPNBarcodeFormat.pending && (formGroup.controls.LPNBarcodeFormat.dirty || submitAttempt)" ion-text color="danger">(*)</span>
          </label>
          <select (change)="saveChange()" class="c-input c-dropdown" formControlName="LPNBarcodeFormat">
            <option value="SSCC">SSCC</option>
            <option value="UserDefined">User defined</option>
          </select>
        </div>
        <div class="c-control">
          <label class="c-label" for="LPNLength">LPN length
            <span *ngIf="!formGroup.controls.LPNLength.valid && !formGroup.controls.LPNLength.pending && (formGroup.controls.LPNLength.dirty || submitAttempt)" ion-text color="danger">(*)</span>
          </label>
          <input (change)="saveChange()" class="c-input" id="LPNLength" formControlName="LPNLength" mask="separator.9" thousandSeparator="," [allowNegativeNumbers]="false" type="tel">
        </div>
        <div class="c-control">
          <label class="c-label" for="LPNStartNumber">LPN start number
            <span *ngIf="!formGroup.controls.LPNStartNumber.valid && !formGroup.controls.LPNStartNumber.pending && (formGroup.controls.LPNStartNumber.dirty || submitAttempt)" ion-text color="danger">(*)</span>
          </label>
          <input (change)="saveChange()" class="c-input" id="LPNStartNumber" formControlName="LPNStartNumber" mask="separator.9" thousandSeparator="," [allowNegativeNumbers]="false" type="tel">
        </div>
        <div class="c-control">
          <label class="c-label" for="LPNNextNumber">LPN next number
            <span *ngIf="!formGroup.controls.LPNNextNumber.valid && !formGroup.controls.LPNNextNumber.pending && (formGroup.controls.LPNNextNumber.dirty || submitAttempt)" ion-text color="danger">(*)</span>
          </label>
          <input (change)="saveChange()" class="c-input" id="LPNNextNumber" formControlName="LPNNextNumber" mask="separator.9" thousandSeparator="," [allowNegativeNumbers]="false" type="tel">
        </div>
        <div class="c-control">
          <label class="c-label" for="LPNRollbackNumber">LPN rollback number
            <span *ngIf="!formGroup.controls.LPNRollbackNumber.valid && !formGroup.controls.LPNRollbackNumber.pending && (formGroup.controls.LPNRollbackNumber.dirty || submitAttempt)" ion-text color="danger">(*)</span>
          </label>
          <input (change)="saveChange()" class="c-input" id="LPNRollbackNumber" formControlName="LPNRollbackNumber" mask="separator.9" thousandSeparator="," [allowNegativeNumbers]="false" type="tel">
        </div>

        
      </ion-col>
      <ion-col size="12" size-sm="6" size-xl="4">
        <div class="c-control">
          <label class="c-label" for="CaseLabelType">Case label type
            <span *ngIf="!formGroup.controls.CaseLabelType.valid && !formGroup.controls.CaseLabelType.pending && (formGroup.controls.CaseLabelType.dirty || submitAttempt)" ion-text color="danger">(*)</span>
          </label>
          <select (change)="saveChange()" class="c-input c-dropdown" formControlName="CaseLabelType">
            <option value="STD">STD</option>
            <option value="SGTIN">SGTIN</option>
            <option value="SSCC">SSCC</option>
          </select>
        </div>
        <div class="c-control">
          <label class="c-label" for="ApplicationID">Application ID
            <span *ngIf="!formGroup.controls.ApplicationID.valid && !formGroup.controls.ApplicationID.pending && (formGroup.controls.ApplicationID.dirty || submitAttempt)" ion-text color="danger">(*)</span>
          </label>
          <input (change)="saveChange()" class="c-input" id="ApplicationID" formControlName="ApplicationID">
        </div>
        <div class="c-control">
          <label class="c-label" for="SSCCFirstDigit">SSCC 1st digit
            <span *ngIf="!formGroup.controls.SSCCFirstDigit.valid && !formGroup.controls.SSCCFirstDigit.pending && (formGroup.controls.SSCCFirstDigit.dirty || submitAttempt)" ion-text color="danger">(*)</span>
          </label>
          <input (change)="saveChange()" class="c-input" id="SSCCFirstDigit" formControlName="SSCCFirstDigit">
        </div>
        <div class="c-control">
          <label class="c-label" for="UCCVendor">UCC vendor #
            <span *ngIf="!formGroup.controls.UCCVendor.valid && !formGroup.controls.UCCVendor.pending && (formGroup.controls.UCCVendor.dirty || submitAttempt)" ion-text color="danger">(*)</span>
          </label>
          <input (change)="saveChange()" class="c-input" id="UCCVendor" formControlName="UCCVendor">
        </div>
      </ion-col>
    </ion-row>

  </form>
</ion-grid>