.col-status {
    justify-content: flex-start;
}

.col-name{
    display: flex;
    flex-wrap: wrap;
}

.cell small{
    border-left: solid 3px rgba(var(--ion-color-primary-rgb, 0, 0, 0), .2);;
    margin: 1px 2px;
    padding: 2px 4px;
    background-color: rgba(var(--ion-color-primary-rgb, 0, 0, 0), .1);
    border-radius: 2px;

    &.address{
        border: none;
        background-color: transparent !important;
        padding: 0 !important;
        margin: 0 !important;
    }

    &.active{
        background-color: rgba(var(--ion-color-primary-rgb, 0, 0, 0), .2);
    }
}

.money{
    font-weight: bold;
    color: var(--ion-color-primary) !important;
}

section.table .col-id {
    max-width: 90px;
    min-width: 90px;
}

.feature{
    ion-item{
        .add{
            display: none;
        }
        .count{
            display: block;
        }

        &:hover{
            .add{
                display: block;
            }
            .count{
                display: none;
            }
        }
        .show{
            display: block !important;
        }
    }
}

.row .col-seperator{display: none;}

@media screen and (max-width: calc(1164px + 0px)) {
    
    section > header{
        display: none;
    }

    .filter{ 
        width: 100%;
        height: 115px;
        display: block;
        padding-right: 0;
        
        ion-text{
            display: block;
            font-size: 1rem;
            color: #000;
        }

        .cell{
            padding: 10px 10px 0 10px;
            width: 50%;
            max-width: 1000px !important;
            float: left;
            display: block;
        }

        .c-input{
            width: 100%;
            font-size: 1rem;
            text-align: left !important;
            padding: 0px 3px 0 5px;
            max-width: 1000px;
        }

        .min-btn{
            position: absolute;
            margin-top: 5px;
        }

        .col-checkbox{display: none;}

        .col-code{
            .c-dropdown{
                width: 100%;
            }
        }

        .col-name{
            min-width: 0 !important;
            max-width: 1000px !important;
        }

        .money{display: none;}

    }
    .small-screen {
        display: flex;
    }

    .hide-screen {
        display: none !important;
    }

    .row {
        flex-wrap: wrap;
        padding: 10px 110px 10px 35px !important;

        .cell {
            padding: 1px 7px 1px 0 !important;
        }

        .col-id,
        .col-code,
        .col-OrderDate,
        .col-SellerName,
        .col-DiscountFromSalesman,
        .col-ReceivedDiscountFromSalesman {
            min-width: fit-content !important;
            max-width: fit-content !important;
            order: 4;
            margin-bottom: 5px;
            margin-right: 5px;
        }


        .col-checkbox {
            order: 0;
            margin-left: -35px;
            padding: 0 !important;
        }

        .col-id {
            order: 1;
            padding: 1px 7px !important;
            border-radius: 3px;
            background-color: var(--ion-color-primary);
            color: var(--ion-color-primary-contrast) !important;
        }

        .col-code {
            order: 2;
            font-weight: bold;
        }

        .col-orderDate {
            order: 3;
            border-left: solid 3px rgba(var(--ion-color-primary-rgb, 0, 0, 0), .2);
            background-color: rgba(var(--ion-color-primary-rgb, 0, 0, 0), .1);
            border-radius: 2px;
            font-weight: normal;
            padding-right: 0 !important;
        }

        .money,
        .col-status {
            min-width: fit-content;
            max-width: fit-content;
            position: absolute;
            right: 0px;
            justify-content: right;
            
            small{
                padding-bottom: 0;
            }
        }

        .money {
            margin-top: 20px;
            margin-right: 0;
            //color: var(--ion-color-success) !important;
        }

        .col-saleMan {
            order: 4;
            min-width: fit-content;
            margin-right: 0;
            font-weight: normal;
        }

        .col-vendorCode{
            order: 2;
            font-weight: bold;
            margin-bottom: 0;
            margin-bottom: 5px;
        }

        .col-name.col-customerName{
            max-width: 250px;
        }

        .col-seperator{
            order: 5;
            min-width: 100%;
            display: block;
        }

        .col-name {
            
            order: 7;
            color: var(--ion-color-medium) !important;
        }

    }

}

@media screen and (min-width: 475px) and (max-width: 1163px) {
    .row {
        .col-name.col-customerName{
            min-width: 100%;
            margin-bottom: 0;

            .address{
                min-width: 100%;
            }
        }

    }
}


@media screen and (max-width: 376px) {
    .row {
        
        .col-name.col-customerName{
            min-width: 210px;
            max-width: 210px !important;
        }
    }
}