// .full-screen{
//     min-height: calc(100vh - 385px);
// }

.col-uom.cell {
    max-width: 90px;
}

.col-price.cell {
    max-width: 100px;
    justify-content: flex-end;

    .c-input {
        text-align: right;
    }
}





#itemList{
    .row {
        border: none;
        &.border{
            border-top: solid 1px var(--menu-right-border-color);
        }
    }
}