<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button defaultHref="price-list"></ion-back-button>
            <ion-button color="dark" class="ion-hide-sm-down">
                Bảng giá
            </ion-button>
        </ion-buttons>
        <ion-buttons slot="end">


            <app-detail-toolbar [item]="item" [pageConfig]="pageConfig" (refresh)="refresh()" (delete)="delete()" (help)="help()"></app-detail-toolbar>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content appScrollbarTheme class="ion-padding">
    <div class="main-view" *ngIf="item && pageConfig.showSpinner==false">
        <ion-grid fixed>
            <form [formGroup]="formGroup">
                <ion-row class="hr-group">
                    <ion-col size="12" size-sm="12" size-md="12" size-xl="3">
                        <ion-list-header class="ion-no-padding">
                            <ion-label color="primary">Bảng giá</ion-label>
                        </ion-list-header>
                    </ion-col>
                    <ion-col size="12" size-sm size-xl="4">
                        <div class="c-control">
                            <label class="c-label" for="Name">Bảng giá <small *ngIf="item?.Id">Id: {{item.Id}}</small>
                                <span *ngIf="!formGroup.controls.Name.valid && !formGroup.controls.Name.pending && (formGroup.controls.Name.dirty || submitAttempt)" ion-text color="danger">(*)</span>
                            </label>
                            <input class="c-input" id="Name" (change)="saveChange();" formControlName="Name" type="text">
                        </div>

                        <div class="c-control">
                            <label class="c-label" for="IDBasePriceList">Bảng giá gốc</label>
                            <ng-select (change)="saveChange()" class="c-input" #IDBasePriceList formControlName="IDBasePriceList" labelForId="IDBasePriceList" [items]="basePriceList" bindLabel="Name" bindValue="Id" placeholder="📍 Không có bảng giá tham chiếu"></ng-select>
                        </div>

                        <div class="c-control">
                            <label class="c-label" for="Factor">Hệ số
                                <span *ngIf="!formGroup.controls.Factor.valid && !formGroup.controls.Factor.pending && (formGroup.controls.Factor.dirty || submitAttempt)" ion-text color="danger">(*)</span>
                            </label>
                            <input class="c-input" id="Factor" (change)="saveChange();" formControlName="Factor" mask="separator.9" thousandSeparator="," [allowNegativeNumbers]="false" type="tel">
                        </div>

                        <div class="c-control">
                            <label class="c-label" for="RoundingMethod">Làm tròn giá</label>
                            <ng-select (change)="saveChange()" class="c-input" #RoundingMethod formControlName="RoundingMethod" labelForId="RoundingMethod" [items]="roundingMethodList" bindLabel="Name" bindValue="Id" placeholder=""></ng-select>
                        </div>

                        <!-- <div class="c-control">
                            <label class="c-label" for="ValidFrom">Từ ngày</label>
                            <input (change)="saveChange()" formControlName="ValidFrom" [ngModel]="item.ValidFrom | date:'yyyy-MM-dd'" class="c-input" type="date">
                        </div>
                        <div class="c-control">
                            <label class="c-label" for="ValidTo">Đến ngày</label>
                            <input (change)="saveChange()" formControlName="ValidTo" [ngModel]="item.ValidTo | date:'yyyy-MM-dd'" class="c-input" type="date">
                        </div> -->




                    </ion-col>
                    <ion-col size="12" size-sm size-xl="4">
                        <div class="c-control">
                            <label class="c-label" for="PrimaryDefaultCurrency">Đơn vị tiền tệ chính</label>
                            <ng-select (change)="saveChange()" class="c-input" #PrimaryDefaultCurrency formControlName="PrimaryDefaultCurrency" labelForId="PrimaryDefaultCurrency" [items]="currencyList" bindLabel="Name" bindValue="Code" placeholder="Chọn đơn vị..."></ng-select>
                        </div>
                        <div class="c-control">
                            <label class="c-label" for="PrimaryDefaultCurrency1">Đơn vị tiền tệ 1</label>
                            <ng-select (change)="saveChange()" class="c-input" #PrimaryDefaultCurrency1 formControlName="PrimaryDefaultCurrency1" labelForId="PrimaryDefaultCurrency1" [items]="currencyList" bindLabel="Name" bindValue="Code" placeholder="Chọn đơn vị..."></ng-select>
                        </div>
                        <div class="c-control">
                            <label class="c-label" for="PrimaryDefaultCurrency2">Đơn vị tiền tệ 2</label>
                            <ng-select (change)="saveChange()" class="c-input" #PrimaryDefaultCurrency2 formControlName="PrimaryDefaultCurrency2" labelForId="PrimaryDefaultCurrency2" [items]="currencyList" bindLabel="Name" bindValue="Code" placeholder="Chọn đơn vị..."></ng-select>
                        </div>
                        <div class="c-control">
                            <label class="c-label" for="Sort">Sắp xếp
                                <span *ngIf="!formGroup.controls.Sort.valid && !formGroup.controls.Sort.pending && (formGroup.controls.Sort.dirty || submitAttempt)" ion-text color="danger">(*)</span>
                            </label>
                            <input class="c-input" id="Sort" (change)="saveChange();" formControlName="Sort" mask="separator.9" thousandSeparator="," [allowNegativeNumbers]="false" type="tel">
                        </div>
                        <div class="c-control">
                            <input [readonly]="!(pageConfig.canEdit || pageConfig.canAdd)" (change)="saveChange()" class="c-checkbox" id="IsPriceListForVendor" formControlName="IsPriceListForVendor" type="checkbox">
                            <label class="c-label checkbox" for="IsPriceListForVendor">Bảng giá của NCC
                                <span *ngIf="!formGroup.controls.IsPriceListForVendor.valid && !formGroup.controls.IsPriceListForVendor.pending && (formGroup.controls.IsPriceListForVendor.dirty || submitAttempt)" ion-text color="danger">(*)</span>
                            </label>
                            
                            <br>
                            <input [readonly]="!(pageConfig.canEdit || pageConfig.canAdd)" (change)="saveChange()" class="c-checkbox" id="IsDisabled" formControlName="IsDisabled" type="checkbox">
                            <label class="c-label checkbox" for="IsDisabled">Ngưng sử dụng
                                <span *ngIf="!formGroup.controls.IsDisabled.valid && !formGroup.controls.IsDisabled.pending && (formGroup.controls.IsDisabled.dirty || submitAttempt)" ion-text color="danger">(*)</span>
                            </label>

                        </div>
                        <!-- <div class="c-control">
                            <label class="c-label" for="Remark">Mô tả
                                <span *ngIf="!formGroup.controls.Remark.valid && !formGroup.controls.Remark.pending && (formGroup.controls.Remark.dirty || submitAttempt)" ion-text color="danger">(*)</span>
                            </label>
                            <textarea [readonly]="!(pageConfig.canEdit || pageConfig.canAdd)" (change)="saveChange()" rows="3" class="c-input" id="Remark" formControlName="Remark" type="textarea"></textarea>
                        </div> -->
                        <div class="c-control" *ngIf="item.IDBasePriceList">
                            <label class="c-label" for=""></label>
                            <ion-button (click)="reCalcPrice()" [disabled]="!pageConfig.canEdit">Chạy lại bảng giá</ion-button>
                        </div>

                    </ion-col>
                </ion-row>
            </form>
        </ion-grid>

        <div class="row-full shadow full-screen">
            <ion-toolbar color="primary">
                <ion-segment scrollable="true" (ionChange)="segmentChanged($event)" [value]="segmentView.Page">
                    <ion-segment-button value="s4">
                        <ion-label>Phiên bản giá</ion-label>
                    </ion-segment-button>
                    <ion-segment-button value="s1">
                        <ion-label>Đang áp dụng</ion-label>
                    </ion-segment-button>
                    <ion-segment-button value="s2">
                        <ion-label>Nhóm đối tượng</ion-label>
                    </ion-segment-button>
                    <ion-segment-button value="s3">
                        <ion-label>Đối tượng</ion-label>
                    </ion-segment-button>
                </ion-segment>
            </ion-toolbar>
            <div style="min-height: calc(100vh - 600px);">
                <div *ngIf="segmentView.Page == 's1'" id="itemList">
                    <ion-grid fixed>
                        <ion-row>
                            <ion-col size="12">
                                <div class="table-contain">
                                    <section class="table" style="min-width: 700px;">
                                        <form (submit)="loadItemsPrice()" action="#">
                                            <header class="bold" style="padding: 0;">
                                                <div class="col-id cell" (click)="sortToggle('Id', sort, itemsQuery, true); loadItemsPrice()">
                                                    Id
                                                    <ion-icon class="min-btn" *ngIf="sort.Id" [name]="sort.Id == 'Id'?'arrow-down': 'arrow-up'"></ion-icon>
                                                </div>
                                                <div class="col-item cell">
                                                    <input [ngModelOptions]="{standalone: true}" [(ngModel)]="itemsQuery.Keyword" class="c-input" [ngClass]="{active: itemsQuery.Keyword}" type="text">
                                                </div>
                                                <div class="col-uom cell">Đơn vị</div>
                                                <div class="col-price cell">{{item.PrimaryDefaultCurrency}}</div>
                                                <div class="col-price cell">{{item.PrimaryDefaultCurrency1}}</div>
                                                <div class="col-price cell">{{item.PrimaryDefaultCurrency2}}</div>
                                                <div class="col-id cell" (click)="itemsQuery.IsManual = !itemsQuery.IsManual; loadItemsPrice()">
                                                    <ion-icon [color]="itemsQuery.IsManual?'danger':'success'" class="min-btn" [name]="itemsQuery.IsManual?'lock-open':'lock-closed'"></ion-icon>
                                                </div>
                                            </header>
                                        </form>

                                        <ng-container *ngFor="let i of itemList; let j = index;">

                                            <div class="row" [ngClass]="{border: k==0 }" *ngFor="let u of i.UoMs; let k = index;">
                                                <div class="col-id cell">
                                                    <a *ngIf="k==0" [routerLink]="['/item/'+i.Id]">{{i.Id}}</a>
                                                </div>
                                                <div class="col-item cell"><span *ngIf="k==0"><b>{{i.Code}}</b> - {{i.Name}}</span></div>
                                                <div class="col-uom cell"><b>
                                                        <ion-text color="primary">{{u.Name}}</ion-text>
                                                    </b></div>

                                                <div class="col-price cell"><input class="c-input" [disabled]="!pageConfig.canEdit || !u.Price.IsManual" (change)="savePriceDetail(u.Price)" mask="separator.4" thousandSeparator="," [allowNegativeNumbers]="false" type="tel" [(ngModel)]="u.Price.Price" *ngIf="u.Price"></div>
                                                <div class="col-price cell"><input class="c-input" [disabled]="!pageConfig.canEdit || !u.Price.IsManual" (change)="savePriceDetail(u.Price)" mask="separator.4" thousandSeparator="," [allowNegativeNumbers]="false" type="tel" [(ngModel)]="u.Price.Price1" *ngIf="u.Price"></div>
                                                <div class="col-price cell"><input class="c-input" [disabled]="!pageConfig.canEdit || !u.Price.IsManual" (change)="savePriceDetail(u.Price)" mask="separator.4" thousandSeparator="," [allowNegativeNumbers]="false" type="tel" [(ngModel)]="u.Price.Price2" *ngIf="u.Price"></div>

                                                <div class="col-id cell" (click)="changeManualPrice(u.Price)">
                                                    <ion-icon [color]="u.Price.IsManual?'danger':'success'" class="min-btn" [name]="u.Price.IsManual?'lock-open':'lock-closed'"></ion-icon>
                                                </div>
                                            </div>
                                        </ng-container>

                                        <app-page-message [itemsLength]="itemList.length" [showSpinner]="segmentView.ShowSpinner"></app-page-message>

                                    </section>
                                </div>

                            </ion-col>
                        </ion-row>
                    </ion-grid>
                </div>
                <div *ngIf="segmentView.Page == 's2'">

                </div>

                <div *ngIf="segmentView.Page == 's3'">

                </div>

                <div *ngIf="segmentView.Page == 's4'">
                    <ion-grid fixed>
                        <ion-row>
                            <ion-col size="12">
                                <form [formGroup]="formGroup">
                                    <ng-container formArrayName="Versions">
                                        <div class="table-contain">
                                            <section class="table" style="min-width: 700px;">
                                                <form (submit)="loadItemsPrice()" action="#">
                                                    <header class="bold" style="padding: 0;">
                                                        <div class="col-checkbox cell">

                                                        </div>
                                                        <div class="col-name cell">
                                                            <a *ngIf="pageConfig.canEdit" (click)="addVersion({IDPriceList: id})">
                                                                <ion-icon class="min-btn" title="Thêm bảng điều chỉnh giá" name="add-circle-outline"></ion-icon>
                                                                Thêm phiên bản giá
                                                            </a>

                                                            <span *ngIf="!pageConfig.canEdit">
                                                                Phiên bản giá
                                                            </span>
                                                        </div>
                                                        <div class="col-date cell">
                                                            Ngày áp dụng
                                                        </div>
                                                        <div class="col-code cell">

                                                        </div>
                                                        <div class="col-checkbox cell" *ngIf="pageConfig.canImport">
                                                        </div>
                                                        <div class="col-checkbox cell" *ngIf="pageConfig.canExport">
                                                        </div>
                                                        <div class="col-checkbox cell" *ngIf="pageConfig.canEdit"></div>
                                                    </header>
                                                </form>

                                                <div class="row" [ngClass]="{selected: g.controls._checked.value}" [formGroup]="g" *ngFor="let g of formGroup.get('Versions')['controls']; let idx = index;">
                                                    <div class="col-checkbox cell">
                                                        <input formControlName="_checked" class="c-checkbox" type="checkbox">
                                                    </div>
                                                    <div class="col-name cell">
                                                        <input class="c-input" (change)="saveChange();" formControlName="Name" type="text">
                                                    </div>
                                                    <div class="col-date cell">
                                                        {{g.controls.AppliedDate.value}}
                                                    </div>
                                                    <div class="col-code cell">
                                                        <a class="clickable" (click)="applyPriceListVersion(g.controls.Id.value)" *ngIf="g.controls.Id.value">Áp dụng giá</a>
                                                    </div>
                                                    <div class="col-checkbox cell" *ngIf="pageConfig.canImport">
                                                        <ion-icon (click)="importClick(g.controls.Id.value)" color="primary" class="min-btn" name="cloud-upload-outline" *ngIf="g.controls.Id.value"></ion-icon>
                                                    </div>
                                                    <div class="col-checkbox cell" *ngIf="pageConfig.canExport">
                                                        <ion-icon (click)="exportPriceListVersion(g.controls.Id.value)" color="primary" class="min-btn" name="cloud-download-outline" *ngIf="g.controls.Id.value"></ion-icon>
                                                    </div>
                                                    <div class="col-checkbox cell" *ngIf="pageConfig.canEdit" (click)="removeVersion(idx)">
                                                        <ion-icon color="danger" class="min-btn" name="trash-outline"></ion-icon>
                                                    </div>
                                                </div>
                                                <app-page-message [itemsLength]="itemList.length" [showSpinner]="segmentView.ShowSpinner"></app-page-message>
                                            </section>
                                        </div>
                                    </ng-container>
                                </form>
                            </ion-col>
                        </ion-row>
                    </ion-grid>
                </div>
                <div *ngIf="segmentView.Page == 's5'">

                </div>
            </div>
        </div>
    </div>

    <app-page-message [itemsLength]="item? 1: 0" [showSpinner]="pageConfig.showSpinner"></app-page-message>
    <input class="hide-all" #importfile type="file" accept=".xlsx" (change)="uploadPrice($event)" />
</ion-content>