<app-page-message [itemsLength]="1" [showSpinner]="pageConfig.showSpinner"></app-page-message>
<div class="main-view" *ngIf="pageConfig.showSpinner==false">
	<div class="row-full shadow full-screen ion-padding" style="min-height: calc(100vh - 100px);" *ngIf="optionList">
		<ion-grid fixed>
			<app-group-control [title]="o.Name" [fields]="o.children" (onChange)="saveChange($event)" [hideBorder]="idx==optionList.length-1" *ngFor="let o of optionList; let idx = index;"></app-group-control>
		</ion-grid>
	</div>
</div>