<ion-header>
	<ion-toolbar>
		<ion-buttons slot="start" class="ion-hide-sm-down_">
			<ion-button color="dark" class="ion-hide-sm-down">
				Bảng kê hàng rớt
			</ion-button>
		</ion-buttons>

		<ion-buttons slot="end">
			<ion-button (click)="print()" title="In phiếu">
				<ion-icon slot="icon-only" name="print"></ion-icon>
			</ion-button>

			<ion-button (click)="refresh()" title="In phiếu">
				<ion-icon slot="icon-only" name="reload-outline"></ion-icon>
			</ion-button>

			<ion-button title="Chức năng mở rộng" (click)="pageConfig.isShowFeature = !pageConfig.isShowFeature;">
				<ion-icon slot="icon-only" [name]="pageConfig.isShowFeature? 'close-outline':'list-circle-outline'">
				</ion-icon>
			</ion-button>

		</ion-buttons>
	</ion-toolbar>
</ion-header>


<ion-content appScrollbarTheme appPrintFix class="A4 left" [ngClass]="{withFeature: pageConfig.isShowFeature}">
	<ion-fab *ngIf="pageConfig.isShowFeature" [ngClass]="{withSearch: pageConfig.isShowSearch}" class="feature no-print " vertical="top" horizontal="start" slot="fixed">

		<ion-list>
			<ion-list-header lines="full">
				<ion-label color="dark">Xe chờ xử lý</ion-label>

				<ion-button size="small" (click)="toggleDateFilter()">
					<ion-icon slot="icon-only" [name]="query.IDStatus=='[306]' ? 'calendar-outline' : 'calendar'"></ion-icon>
				</ion-button>
			</ion-list-header>

		</ion-list>

		<ion-list>
			<ion-item lines="full" *ngIf="query.IDStatus!='[306]'">
				<div class="c-control">
					<label class="c-label" for="DeliveryDate">Ngày giao hàng</label>
					<input class="c-input" (change)="refresh()" id="DeliveryDate" type="date" [(ngModel)]="query.DeliveryDate">
				</div>
			</ion-item>

			<ion-item lines="full" *ngFor="let i of items">
				<ion-checkbox slot="start" [(ngModel)]="i.isChecked"></ion-checkbox>
				<ion-label class="ion-text-wrap">
					<ion-text>
						<h3>{{i.VehicleName}} - {{i.ShipperName}}</h3>
					</ion-text>
					<p>
						<b>
							<small>
								<ion-text color="primary">SH:{{i.Id}}</ion-text>
							</small>
							<ion-text color="dark"> - {{i.DeliveryDateText}}</ion-text>
						</b>
					</p>
				</ion-label>
			</ion-item>

		</ion-list>


		<div style="position: relative; min-height: 50vh;" *ngIf="pageConfig.showSpinner || !items.length">
			<app-page-message [itemsLength]="items.length" [showSpinner]="pageConfig.showSpinner"></app-page-message>
		</div>



		<div class="ion-padding" *ngIf="items.length && !pageConfig.showSpinner">
			<div class="c-control">
				<ion-button (click)="loadReturnedLlist()" fill="outline" expand="block" [disabled]="submitAttempt">
					Tính hàng rớt
				</ion-button>

				<label class="c-label"></label>

				<ion-button *ngIf="canRecieve"  (click)="confirmInboundReturn()" expand="block" [disabled]="submitAttempt">
					Nhập kho {{sheets.length}} xe
				</ion-button>
			</div>
		</div>

	</ion-fab>

	<div style="overflow: auto;">

		<ng-container *ngFor="let s of warehouses">
			<section class="sheet rpt" *ngIf="s.count > 1">
				<table>
					<thead>
						<tr>
							<td>
								<div class="page-header-space"></div>
							</td>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>
								<div class="top-zone">
									<table class="rpt-header" cellpadding="0" cellspacing="0">

										<tr>
											<td class="head-c1">Xuống hàng:</td>
											<td class="bol">{{s.Name}} ({{s.Phone}})</td>
											<td class="num"></td>
											<td class="bol"></td>
											<td class="num">Ngày in: </td>
											<td class="num bol ngay-hd"> {{ ngayIn }}</td>
										</tr>
										<tr>
											<td colspan="6" class="bol title">BẢNG KÊ HÀNG RỚT (của {{s.count}} xe) </td>
										</tr>
									</table>



									<div class="ds-san-pham">
										<table cellpadding="0" cellspacing="0">
											<tr class="head">
												<td class="cen">STT</td>
												<td>
													<div class="ten-sp">Tên sản phẩm</div>
												</td>
												<td class="num">Thùng</td>
												<td class="num">Lẻ</td>
												<td class="ghi-chu cen">Ghi chú</td>
											</tr>

											<ng-container *ngFor="let i of s.itemList; let idx = index; ">
												<tr *ngFor="let uom of i.UoMs; let gdx = index; ">
													<td class="cen" [attr.rowspan]="i.UoMs.length" *ngIf="gdx == 0">{{idx+1}}</td>
													<td [attr.rowspan]="i.UoMs.length" *ngIf="gdx == 0">
														<div class="ten-sp"><b *ngIf="i.ItemCode">{{i.ItemCode}}</b><b *ngIf="!i.ItemCode">{{i.IDItem}}</b> - {{i.ItemName}}</div>
													</td>

													<td class="num big" *ngIf="uom.IDUoM == 0"> <span *ngIf="uom.InventoryQuantity">{{uom.InventoryQuantity}}</span> </td>
													<td class="num big" *ngIf="uom.IDUoM == 0"> <span *ngIf="uom.BaseQuantity"> {{uom.BaseQuantity}} </span> </td>

													<td colspan="2" class="ion-text-center big" *ngIf="uom.IDUoM != 0">{{uom.Quantity}} {{uom.UoMName}}</td>

													<td></td>
												</tr>
											</ng-container>
										</table>
									</div>

									<div class="no-break-page">
										<table cellpadding="0" cellspacing="0">
											<tr>
												<td class="">
													<div class="line2">
														Đề nghị các bên vui lòng kiểm tra kỹ chứng từ & hàng hóa trước khi rời kho. <br />
														Mọi khiếu nại về sau, NPP sẽ không chịu trách nhiệm giải quyết.
													</div>

												</td>
											</tr>
										</table>


										<table class="chu-ky" cellpadding="0" cellspacing="0">
											<tr>

												<td>
													Thủ kho
													<div class="line2">
														Ký và ghi rõ họ tên
													</div>
												</td>
												<td>
													Nhân viên giao hàng
													<div class="line2">
														Ký và ghi rõ họ tên
													</div>
												</td>
												<td>
													Nhân viên bán hàng
													<div class="line2">
														Ký và ghi rõ họ tên
													</div>
												</td>
												<td>
													Kế toán
													<div class="line2">
														Ký và ghi rõ họ tên
													</div>
												</td>
											</tr>

										</table>
									</div>
								</div>

							</td>
						</tr>
					</tbody>

					<tfoot>
						<tr>
							<td>
								<div class="page-footer-space"></div>
							</td>
						</tr>
					</tfoot>
				</table>
			</section>
		</ng-container>

		<section class="sheet rpt" *ngFor="let s of sheets">
			<table>
				<thead>
					<tr>
						<td>
							<div class="page-header-space"></div>
						</td>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>
							<div class="top-zone">
								<table class="rpt-header" cellpadding="0" cellspacing="0">

									<tr>
										<td class="head-c1">Xuống hàng:</td>
										<td class="bol">{{s.WarehouseName}} ({{s.WarehousePhone}})</td>
										<td class="num"></td>
										<td class="bol"></td>
										<td class="num">Ngày giao hàng: </td>
										<td class="num bol ngay-hd"> {{s.DeliveryDateText}}</td>
									</tr>
									<tr>
										<td colspan="6" class="bol title">BẢNG KÊ HÀNG RỚT - KHO</td>
									</tr>
								</table>

								<table class="rpt-header rpt-nvgh-header" cellpadding="0" cellspacing="0">
									<tbody>
										<tr>
											<td class="head-c1">NVGH:</td>
											<td class="bol">{{s.Vehicle}} - {{s.ShipperName}} <span *ngIf="s.ShipperPhone"> - {{s.ShipperPhone}}</span></td>
										</tr>
									</tbody>
								</table>

								<div class="ds-san-pham">
									<table cellpadding="0" cellspacing="0">
										<tr class="head">
											<td class="cen">STT</td>
											<td>
												<div class="ten-sp">Tên sản phẩm</div>
											</td>
											<td class="num">Thùng</td>
											<td class="num">Lẻ</td>
											<td class="ghi-chu cen">Ghi chú</td>
										</tr>
										<ng-container *ngFor="let i of s.Items; let idx = index; ">
											<tr *ngFor="let uom of i.UoMs; let gdx = index; ">
												<td class="cen" [attr.rowspan]="i.UoMs.length" *ngIf="gdx == 0">{{idx+1}}</td>
												<td [attr.rowspan]="i.UoMs.length" *ngIf="gdx == 0">
													<div class="ten-sp"><b *ngIf="i.ItemCode">{{i.ItemCode}}</b><b *ngIf="!i.ItemCode">{{i.IDItem}}</b> - {{i.ItemName}}</div>
												</td>
												<td class="num big" *ngIf="uom.IDUoM == 0"> <span *ngIf="uom.InventoryQuantity">{{uom.InventoryQuantity}}</span> </td>
												<td class="num big" *ngIf="uom.IDUoM == 0"> <span *ngIf="uom.BaseQuantity"> {{uom.BaseQuantity}} </span> </td>
												<td colspan="2" class="ion-text-center big" *ngIf="uom.IDUoM != 0">{{uom.Quantity}} {{uom.UoMName}}</td>
												<td></td>
											</tr>
										</ng-container>
									</table>
								</div>

								<div class="no-break-page">
									<table cellpadding="0" cellspacing="0">
										<tr>
											<td class="">
												<div class="line2">
													Đề nghị các bên vui lòng kiểm tra kỹ chứng từ & hàng hóa trước khi rời kho. <br />
													Mọi khiếu nại về sau, NPP sẽ không chịu trách nhiệm giải quyết.
												</div>

											</td>
										</tr>
									</table>


									<table class="chu-ky" cellpadding="0" cellspacing="0">
										<tr>

											<td>
												Thủ kho
												<div class="line2">
													Ký và ghi rõ họ tên
												</div>
											</td>
											<td>
												Nhân viên giao hàng
												<div class="line2">
													Ký và ghi rõ họ tên
												</div>
											</td>
											<td>
												Nhân viên bán hàng
												<div class="line2">
													Ký và ghi rõ họ tên
												</div>
											</td>
											<td>
												Kế toán
												<div class="line2">
													Ký và ghi rõ họ tên
												</div>
											</td>
										</tr>

									</table>
								</div>
							</div>

						</td>
					</tr>
				</tbody>

				<tfoot>
					<tr>
						<td>
							<div class="page-footer-space"></div>
						</td>
					</tr>
				</tfoot>
			</table>
		</section>

	</div>

</ion-content>