<ion-header>
  <app-list-toolbar pageTitle="Transportation" [pageConfig]="pageConfig" [selectedItems]="selectedItems"
    [query]="query"></app-list-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <div class="main-view">
    <ion-grid fixed>
      <ion-row class="hr-group">
        <ion-col size="12" size-sm="12" size-md="12" size-xl="6">
          <ion-card>
            <div>
              <ion-text color="dark">
                Inventory To Sales - This Year
              </ion-text>
            </div>
            <!-- <ion-card-header class="background"> -->
            <!-- Line Chart -->
            <!-- <div id="FleetChart" style="width: 100%; height: 100%"></div> -->
            <!-- </ion-card-header> -->

            <ion-card-content>
              <!-- Trend Line Chart -->
              <div id="InventoryToSalesChart" style="width: 100%; height: 100%"></div>
            </ion-card-content>
          </ion-card>
        </ion-col>


        <ion-col size="12" size-sm="12" size-md="12" size-xl="6">
          <ion-card>
            <div>
              <ion-text color="dark">
                Inventory Turnover - Last 5 Years
              </ion-text>
            </div>

            <!-- <ion-card-header class="background"> -->
            <!-- Line Chart -->
            <!-- <div id="FleetChart" style="width: 100%; height: 100%"></div> -->
            <!-- </ion-card-header> -->

            <ion-card-content>
              <!-- Column Line Mix Chart -->
              <div id="InventoryTurnoverChart" style="width: 100%; height: 100%"></div>
            </ion-card-content>
          </ion-card>
        </ion-col>


        <ion-col size="12" size-sm="12" size-md="12" size-xl="4">
          <ion-card>
            <div>
              <ion-text color="dark">
                Carrying Cost Of Inventory
              </ion-text>
            </div>
            <ion-card-content style="height: 300px !important;">
              <!-- Column Chart -->
              <div id="CarryingCostOfInventoryChart" style="width: 100%; height: 100%"></div>
            </ion-card-content>
          </ion-card>
        </ion-col>

        <ion-col size="12" size-sm="12" size-md="12" size-xl="4">
          <ion-card>
            <div>
              <ion-text color="dark">
                Inventory Accuracy
              </ion-text>
            </div>
            <ion-card-content style="height: 300px !important;">
              <!-- Two Level Pie Chart -->
              <div id="InventoryAccuracyChart" style="width: 100%; height: 100%"></div>
            </ion-card-content>
          </ion-card>
        </ion-col>

        <ion-col size="12" size-sm="12" size-md="12" size-xl="4">
          <ion-card>
            <div>
              <ion-text color="dark">
                % Out Of Stock Items
              </ion-text>
            </div>
            <ion-card-content style="height: 300px !important;">
              <!-- Trend Line Chart -->
              <div id="OutOfStockItemsChart" style="width: 100%; height: 100%"></div>
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>


</ion-content>