<ion-content>
	<div>
		<ion-list lines="none">
			<div class="ion-padding">
				<div class="c-control" *ngIf="popConfig.isShowBranchesSelect">
					<label class="c-label">{{popConfig.BranchesSelectLabel}}</label>
					<ng-container *ngFor="let b of branchesList">
					  <ion-button [fill]="b.IsSelected ? 'solid' : 'outline'" size="small" (click)="toogleBranchDataset(b)">
						{{b.Code}}
					  </ion-button>
					</ng-container>
				</div>

				<div class="c-control" *ngIf="popConfig.isShowSingleDate">
					<label class="c-label" for="singleDate">{{popConfig.singleDateLabel}}</label>
					<input class="c-input" name="singleDate" type="date" ngDefaultControl type="date" [(ngModel)]="popData.singleDate">
				</div>
		
				<div class="c-control" *ngIf="popConfig.isShowDateRange">
					<label class="c-label">{{popConfig.dateRangeLabel}}
						<small *ngIf="popData.fromDate"> {{popData.fromDate | date:'dd/MM/yy'}} - {{popData.toDate | date:'dd/MM/yy'}} </small>
					</label>
					<ion-button size="small" [fill]="popData.selectedBTNDate=='today'? 'solid': 'outline'" size="small"
						(click)="changeDateFillter('today')" (click)="command(popData)">
						H.nay
					</ion-button>
					<!-- <ion-button size="small" [fill]="popData.selectedBTNDate=='yesterday'? 'solid': 'outline'" size="small"
						(click)="changeDateFillter('yesterday')" (click)="command(popData)">
						H.qua
					</ion-button> -->
					<ion-button size="small" [fill]="popData.selectedBTNDate=='thisWeek'? 'solid': 'outline'" size="small"
						(click)="changeDateFillter('thisWeek')" (click)="command(popData)">
						Tuần này
					</ion-button>
					<ion-button size="small" [fill]="popData.selectedBTNDate=='thisMonth'? 'solid': 'outline'" size="small"
						(click)="changeDateFillter('thisMonth')" (click)="command(popData)">
						Tháng này
					</ion-button>
					<ion-button size="small" (click)="isShowFromToDate = !isShowFromToDate"
						[fill]="popData.selectedBTNDate=='setdone'? 'solid': 'outline'" (click)="changeDateFillter('setdone')">
						...
					</ion-button>
				</div>

				<div *ngIf="popConfig.isShowDateRange && isShowFromToDate">
					<div class="c-control">
						<label class="c-label" for="OrderDateFrom">Từ ngày</label>
						<input (change)="changeDateFillter('setdone')" class="c-input" [(ngModel)]="popData.fromDate"
							required type="date" pattern="\d{1,2}/\m{1,2}/\y{4}" value=''>
					</div>

					<div class="c-control">
						<label class="c-label" for="OrderDateTo">Tới ngày</label>
						<input (change)="changeDateFillter('setdone')" class="c-input" [(ngModel)]="popData.toDate" required
							type="date" pattern="\d{1,2}/\m{1,2}/\y{4}" value=''>
					</div>
				</div>

				<div class="c-control" *ngIf="popConfig.isShowStaffSelect">
					<label class="c-label" for="IDstaff">{{popConfig.staffSelectLabel}}</label>
					<ng-select [(ngModel)]="popData.staff" class="c-input" #IDstaff labelForId="IDstaff" [items]="staffList$ | async" [typeahead]="staffListInput$" [loading]='staffListLoading' [virtualScroll]="true" bindLabel="FullName" placeholder="Tìm tên, mã hoặc số điện thoại...">
						<ng-template ng-option-tmp let-i="item" let-search="searchTerm">
							<div *ngIf="i">
								<div><span [ngOptionHighlight]="search">{{i.FullName}}</span></div>
								<small>#<b><span class="important" [ngOptionHighlight]="search">{{i.Id}} - {{i.Code}}</span></b> <span *ngIf="i.Phone"> | điện thoại: <b [ngOptionHighlight]="search">{{i.Phone}}</b></span></small>
							</div>
						</ng-template>
					</ng-select>
				</div>

				<div class="c-control" *ngIf="popConfig.isShowSaleOrderStatusSelect">
					<label class="c-label">{{popConfig.saleOrderStatusSelectLabel}}</label>
					<select class="c-input c-dropdown" [(ngModel)]="popData.IDSaleOrderStatus" [ngModelOptions]="{standalone: true}">
						<option *ngFor="let t of saleOrderStatusList" [value]="t.Id">{{t.Name}}</option>
					</select>
				</div>

				<div class="c-control" *ngIf="popConfig.isShowAppoinmentStatusSelect">
					<label class="c-label">{{popConfig.AppoinmentStatusSelectLabel}}</label>
					<select class="c-input c-dropdown" [(ngModel)]="popData.IDAppointmentStatus" [ngModelOptions]="{standalone: true}">
						<option *ngFor="let t of appoinmentStatusList" [value]="t.ID">{{t.Name}}</option>
					</select>
				</div>

				<div class="c-control">
					<ion-button color="primary" expand="block" (click)="command(popData)">
						{{popConfig.submitButtonLabel}}
					</ion-button>
				</div>

			</div>
		</ion-list>
	</div>
</ion-content>