<ion-header>
  <app-list-toolbar pageTitle="Sales & Order Overview" [pageConfig]="pageConfig" [selectedItems]="selectedItems"
    [query]="query">
  </app-list-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-grid fixed>
    <ion-row class="hr-group">
      <ion-col size="12" size-sm="12" size-md="12" size-xl="4">
        <ion-card>
          <div>
            <ion-text color="dark">
              Return Reasons
            </ion-text>
          </div>
          <!-- <ion-card-header class="background"> -->

          <!-- </ion-card-header> -->

          <ion-card-content>
            <!-- Pie Chart -->
            <div id="ReturnReasonsChart" style="width: 100%; height: 100%"></div>
          </ion-card-content>
        </ion-card>
      </ion-col>

      <ion-col size="12" size-sm="12" size-md="12" size-xl="4">
        <ion-card>
          <div>
            <ion-text color="dark">
              Perfect Order Rate
            </ion-text>
          </div>
          <!-- <ion-card-header class="background"> -->

          <!-- </ion-card-header> -->

          <ion-card-content>
            <!-- TrendLine Chart -->
            <div id="PerfectOrderRateChart" style="width: 100%; height: 100%"></div>

            <!-- Gauge Chart -->
            <div id="PerfectOrderRateGaugeChart" style="width: 100%; height: 100%"></div>
          </ion-card-content>
        </ion-card>
      </ion-col>

      <ion-col size="12" size-sm="12" size-md="12" size-xl="4">
        <ion-card>
          <div>
            <ion-text color="dark">
              Total Orders
            </ion-text>
          </div>
          <!-- <ion-card-header class="background"> -->

          <!-- </ion-card-header> -->

          <ion-card-content>
            <!-- Column Chart -->
            <div id="TotalOrdersChart" style="width: 100%; height: 100%"></div>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>


</ion-content>