<ion-header>
	<app-list-toolbar [pageTitle]="numberOfDinnerPax + 'P - '+ numberOfReal+'Đ - '+numberOfKid+'T - '+numberOfForeigner+'N'" [pageConfig]="pageConfig" [ShowFeature]="false" [ShowArchive]="false" [ShowHelp]="false" [selectedItems]="selectedItems" [query]="query" (add)="add()" (refresh)="refresh()" (export)="export()" (import)="import($event)" (help)="help()" (unselect)="unselect()" (archiveItems)="archiveItems()" (deleteItems)="deleteItems()"></app-list-toolbar>
	
</ion-header>

<ion-content appScrollbarTheme class="header-table scrollx">
	<section class="table">
		<header class="bold" style="position:sticky; top: 0; padding:0; z-index: 10;">
			<div class="col-checkbox cell"></div>
			<!-- <div class="col-id cell" (click)="sortToggle('Id')">
				Id
				<ion-icon class="min-btn" *ngIf="sort.Id" [name]="sort.Id == 'Id'?'arrow-down': 'arrow-up'"></ion-icon>
				<ion-icon class="min-btn" (click)="pageConfig.isShowSearch = !pageConfig.isShowSearch" *ngIf="query.Id" name="search" color="primary"></ion-icon>
			</div> -->
			
			
			<div class="col-date cell" (click)="sortToggle('PartyDate')">
				Ngày tiệc
				<ion-icon class="min-btn" *ngIf="sort.PartyDate" [name]="sort.PartyDate == 'PartyDate'?'arrow-down': 'arrow-up'"></ion-icon>
				<ion-icon class="min-btn" (click)="pageConfig.isShowSearch = !pageConfig.isShowSearch" *ngIf="query.PartyDate" name="search" color="primary"></ion-icon>
			</div>
			<div class="col-remark cell" (click)="sortToggle('CustomerName')">
				Tên khách
				<ion-icon class="min-btn" *ngIf="sort.CustomerName" [name]="sort.CustomerName == 'CustomerName'?'arrow-down': 'arrow-up'"></ion-icon>
				<ion-icon class="min-btn" (click)="pageConfig.isShowSearch = !pageConfig.isShowSearch" *ngIf="query.CustomerName" name="search" color="primary"></ion-icon>
			</div>
			
			<div class="col-code cell phone" (click)="sortToggle('Phone')">
				Điện thoại
				<ion-icon class="min-btn" *ngIf="sort.Phone" [name]="sort.Phone == 'Phone'?'arrow-down': 'arrow-up'"></ion-icon>
				<ion-icon class="min-btn" (click)="pageConfig.isShowSearch = !pageConfig.isShowSearch" *ngIf="query.Phone" name="search" color="primary"></ion-icon>
			</div>
			<div class="col-code cell" (click)="sortToggle('RegisteredTable')">
				Bàn
				<ion-icon class="min-btn" *ngIf="sort.RegisteredTable" [name]="sort.RegisteredTable == 'RegisteredTable'?'arrow-down': 'arrow-up'"></ion-icon>
				<ion-icon class="min-btn" (click)="pageConfig.isShowSearch = !pageConfig.isShowSearch" *ngIf="query.RegisteredTable" name="search" color="primary"></ion-icon>
			</div>
			<div class="col-number cell" (click)="sortToggle('DinnerPax')">
				Pax
				<ion-icon class="min-btn" *ngIf="sort.DinnerPax" [name]="sort.DinnerPax == 'DinnerPax'?'arrow-down': 'arrow-up'"></ion-icon>
				<ion-icon class="min-btn" (click)="pageConfig.isShowSearch = !pageConfig.isShowSearch" *ngIf="query.DinnerPax" name="search" color="primary"></ion-icon>
			</div>
			<div class="col-number cell" (click)="sortToggle('RealField')">
				Đến
				<ion-icon class="min-btn" *ngIf="sort.RealField" [name]="sort.RealField == 'RealField'?'arrow-down': 'arrow-up'"></ion-icon>
				<ion-icon class="min-btn" (click)="pageConfig.isShowSearch = !pageConfig.isShowSearch" *ngIf="query.RealField" name="search" color="primary"></ion-icon>
			</div>
			<div class="col-number cell" (click)="sortToggle('Kids')">
				Trẻ
				<ion-icon class="min-btn" *ngIf="sort.Kids" [name]="sort.Kids == 'Kids'?'arrow-down': 'arrow-up'"></ion-icon>
				<ion-icon class="min-btn" (click)="pageConfig.isShowSearch = !pageConfig.isShowSearch" *ngIf="query.Kids" name="search" color="primary"></ion-icon>
			</div>
			<div class="col-number cell" (click)="sortToggle('ForeignerNo')">
				NN
				<ion-icon class="min-btn" *ngIf="sort.ForeignerNo" [name]="sort.ForeignerNo == 'ForeignerNo'?'arrow-down': 'arrow-up'"></ion-icon>
				<ion-icon class="min-btn" (click)="pageConfig.isShowSearch = !pageConfig.isShowSearch" *ngIf="query.ForeignerNo" name="search" color="primary"></ion-icon>
			</div>
			
			

			<div class="col-code cell" (click)="sortToggle('TypeOfParty')">
				Tiệc
				<ion-icon class="min-btn" *ngIf="sort.TypeOfParty" [name]="sort.TypeOfParty == 'TypeOfParty'?'arrow-down': 'arrow-up'"></ion-icon>
				<ion-icon class="min-btn" (click)="pageConfig.isShowSearch = !pageConfig.isShowSearch" *ngIf="query.TypeOfParty" name="search" color="primary"></ion-icon>
			</div>
			<div class="col-remark cell">
				Ghi chú
				<ion-icon class="min-btn" *ngIf="sort.CustomerName" [name]="sort.CustomerName == 'CustomerName'?'arrow-down': 'arrow-up'"></ion-icon>
				<ion-icon class="min-btn" (click)="pageConfig.isShowSearch = !pageConfig.isShowSearch" *ngIf="query.CustomerName" name="search" color="primary"></ion-icon>
			</div>
			<div class="col-code cell" (click)="sortToggle('DiningCard')">
				DiningCard
				<ion-icon class="min-btn" *ngIf="sort.DiningCard" [name]="sort.DiningCard == 'DiningCard'?'arrow-down': 'arrow-up'"></ion-icon>
				<ion-icon class="min-btn" (click)="pageConfig.isShowSearch = !pageConfig.isShowSearch" *ngIf="query.DiningCard" name="search" color="primary"></ion-icon>
			</div>
			<div class="col-code cell" (click)="sortToggle('CustomerGroup')">
				Nhóm
				<ion-icon class="min-btn" *ngIf="sort.CustomerGroup" [name]="sort.CustomerGroup == 'CustomerGroup'?'arrow-down': 'arrow-up'"></ion-icon>
				<ion-icon class="min-btn" (click)="pageConfig.isShowSearch = !pageConfig.isShowSearch" *ngIf="query.CustomerGroup" name="search" color="primary"></ion-icon>
			</div>
			<div class="col-code cell" (click)="sortToggle('CustomerType')">
				Loại
				<ion-icon class="min-btn" *ngIf="sort.CustomerType" [name]="sort.CustomerType == 'CustomerType'?'arrow-down': 'arrow-up'"></ion-icon>
				<ion-icon class="min-btn" (click)="pageConfig.isShowSearch = !pageConfig.isShowSearch" *ngIf="query.CustomerType" name="search" color="primary"></ion-icon>
			</div>
			<div class="col-status cell" (click)="sortToggle('Status')">
				Tình trạng
				<ion-icon class="min-btn" *ngIf="sort.Status" [name]="sort.Status == 'Status'?'arrow-down': 'arrow-up'"></ion-icon>
				<ion-icon class="min-btn" (click)="pageConfig.isShowSearch = !pageConfig.isShowSearch" *ngIf="query.Status" name="search" color="primary"></ion-icon>
			</div>
		</header>
		<form (keydown.enter)="refresh()"  action="#" style="position:sticky; top: 0; padding:0; z-index: 10;">
			<header class="filter" *ngIf="pageConfig.isShowSearch">
				<div class="col-checkbox cell empty"></div>
				<!-- <div class="col-id cell">
					<ion-text>Id</ion-text>
					<input placeholder="Id" [ngModelOptions]="{standalone: true}" [(ngModel)]="query.Id" class="c-input no-check-dirty" [ngClass]="{active: query.Id}" type="search">
					<ion-icon class="min-btn" (click)="query.Id=''; refresh()" *ngIf="query.Id" name="close-circle-outline"></ion-icon>
				</div> -->
				
				
				<div class="col-date cell">
					<ion-text>Ngày tiệc</ion-text>
					<input placeholder="Ngày tiệc" [ngModelOptions]="{standalone: true}" (change)="refresh();" [(ngModel)]="query.PartyDate" class="c-input no-check-dirty" [ngClass]="{active: query.PartyDate}" type="date">
					<ion-icon class="min-btn" (click)="query.PartyDate=''; refresh()" *ngIf="query.PartyDate" name="close-circle-outline"></ion-icon>
				</div>
				<div class="col-remark cell">
					<ion-text>Tên khách</ion-text>
					<input (keydown)="onKeydown($event)" type="search" placeholder="Tên khách" [ngModelOptions]="{standalone: true}" [(ngModel)]="query.CustomerName" class="c-input no-check-dirty" [ngClass]="{active: query.CustomerName}" >
					<ion-icon class="min-btn" (click)="query.CustomerName=''; refresh()" *ngIf="query.CustomerName" name="close-circle-outline"></ion-icon>
				</div>
				<div class="col-code cell phone">
					<ion-text>Điện thoại</ion-text>
					<input (keydown.enter)="refresh()" placeholder="Điện thoại" [ngModelOptions]="{standalone: true}" [(ngModel)]="query.Phone" class="c-input no-check-dirty" [ngClass]="{active: query.Phone}" type="search">
					<ion-icon class="min-btn" (click)="query.Phone=''; refresh()" *ngIf="query.Phone" name="close-circle-outline"></ion-icon>
				</div>
				<div class="col-code cell">
					<ion-text>Bàn</ion-text>
					<input placeholder="Bàn" [ngModelOptions]="{standalone: true}" [(ngModel)]="query.RegisteredTable" class="c-input no-check-dirty" [ngClass]="{active: query.RegisteredTable}" type="search">
					<ion-icon class="min-btn" (click)="query.RegisteredTable=''; refresh()" *ngIf="query.RegisteredTable" name="close-circle-outline"></ion-icon>
				</div>
				<div class="col-number cell empty"></div>
				<div class="col-number cell empty"></div>
				<div class="col-number cell empty"></div>
				<div class="col-number cell empty"></div>
				
				<div class="col-code cell">
					<ion-text>Loại tiệc</ion-text>
					<select (change)="refresh()" class="c-input no-check-dirty c-dropdown" [ngModelOptions]="{standalone: true}" [(ngModel)]="query.TypeOfParty" [ngClass]="{active: query.TypeOfParty}">
						<option value="">TC loại tiệc</option>
						<option *ngFor="let t of PartyMenuList" [value]="t.Code">{{t.Name}}</option>
					</select>
					<ion-icon class="min-btn" (click)="query.TypeOfParty=''; refresh()" name="close-circle-outline"></ion-icon>
				</div>
				
				<div class="col-remark cell">
					<ion-text>Ghi chú</ion-text>
					<input (keydown.enter)="refresh()" placeholder="Ghi chú" [ngModelOptions]="{standalone: true}" [(ngModel)]="query.Remark" class="c-input no-check-dirty" [ngClass]="{active: query.Remark}" type="search">
					<ion-icon class="min-btn" (click)="query.Remark=''; refresh()" *ngIf="query.Remark" name="close-circle-outline"></ion-icon>
				</div>
				<div class="col-code cell">
					<ion-text>DiningCard</ion-text>
					<input (keydown.enter)="refresh()" placeholder="DiningCard" [ngModelOptions]="{standalone: true}" [(ngModel)]="query.DiningCard" class="c-input no-check-dirty" [ngClass]="{active: query.DiningCard}" type="search">
					<ion-icon class="min-btn" (click)="query.DiningCard=''; refresh()" *ngIf="query.DiningCard" name="close-circle-outline"></ion-icon>
				</div>
				<div class="col-code cell">
					<ion-text>Nhóm khách</ion-text>
					<select (change)="refresh()" class="c-input no-check-dirty c-dropdown" [ngModelOptions]="{standalone: true}" [(ngModel)]="query.CustomerGroup" [ngClass]="{active: query.CustomerGroup}">
						<option value="">TC nhóm khách</option>
						<option *ngFor="let t of AttendanceGroup" [value]="t.Code">{{t.Name}}</option>
					</select>
					<ion-icon class="min-btn" (click)="query.CustomerGroup=''; refresh()" name="close-circle-outline"></ion-icon>
				</div>
				<div class="col-code cell">
					<ion-text>Loại khách</ion-text>
					<select (change)="refresh()" class="c-input no-check-dirty c-dropdown" [ngModelOptions]="{standalone: true}" [(ngModel)]="query.CustomerType" [ngClass]="{active: query.CustomerType}">
						<option value="">TC loại khách</option>
						<option *ngFor="let t of AttendanceType" [value]="t.Code">{{t.Name}}</option>
					</select>
					<ion-icon class="min-btn" (click)="query.CustomerType=''; refresh()" name="close-circle-outline"></ion-icon>
				</div>
				<div class="col-status cell">
					<ion-text>Tình trạng</ion-text>
					<select (change)="refresh()" class="c-input c-dropdown no-check-dirty" [ngModelOptions]="{standalone: true}" [(ngModel)]="query.Status" [ngClass]="{active: query.Status}">
						<option value="">TC tình trạng</option>
						<option *ngFor="let t of statusList" [value]="t.Code">{{t.Name}}</option>
					</select>
					<ion-icon class="min-btn" (click)="query.Status=''; refresh()"  name="close-circle-outline"></ion-icon>
				</div>
				<button mat-raised-button type="submit" style="display:none">Search</button>
			</header>
		</form>
		<app-page-message [itemsLength]="items.length" [showSpinner]="pageConfig.showSpinner"></app-page-message>
		<ion-virtual-scroll [items]="items" approxItemHeight="27px">
			<ng-container *virtualItem="let i; let itemBounds = bounds; let j = index;">
				<div class="row clickable" [ngClass]="{odd: j % 2 != 0}" [ngClass]="{selected: i.checked}" (click)="nav('attendance-booking/'+i.Id,'forward')">
					<!--  showModal(i)-->
					<div class="col-checkbox cell">
						<input (click)="changeSelection(i, $event)" class="c-checkbox" [(ngModel)]="i.checked" type="checkbox">
					</div>
					<!-- <div  class="col-id cell">
						{{i.Id}}
					</div> -->
					
					<div class="col-date cell">{{i.PartyDateText}}</div>
					<div class="col-remark cell">{{i.CustomerName}}</div>
					<div class="col-code cell phone">{{i.Phone}}</div>
					<div class="col-code cell"><span *ngIf="i.RegisteredTable" class="regis">{{i.RegisteredTable}}</span></div>
					<div class="col-number cell kid">
						<ion-text color="primary" *ngIf="i.DinnerPax">
							<b>{{i.DinnerPax}}</b>	
						</ion-text>
					</div>
					<div class="col-number cell">
						<ion-text color="success" *ngIf="i.RealField">
							<b>{{i.RealField}}</b>
						</ion-text>
						<ion-text color="warning" class="small-kid" *ngIf="i.Kids">+{{i.Kids}}<small>T</small></ion-text>
						<ion-text color="danger" class="small-kid" *ngIf="i.ForeignerNo">+{{i.ForeignerNo}}<small>N</small></ion-text>
						<span class="small-kid" *ngIf="i.RealField || i.Kids || i.ForeignerNo">/</span>
						<span class="small-kid" >{{i.DinnerPax}}</span>
					</div>
					<div class="col-number cell kid">
						<ion-text color="warning" *ngIf="i.Kids">
							<b>{{i.Kids}}</b>	
						</ion-text>
					</div>
					<div class="col-number cell kid">
						<ion-text color="danger" *ngIf="i.ForeignerNo">
							<b>{{i.ForeignerNo}}</b>	
						</ion-text>
					</div>
					<div class="col-code cell"><span *ngIf="i.TypeOfPartyText">{{i.TypeOfPartyText}}</span></div>
					<div class="col-remark cell remark">{{i.Remark}}</div>
					<div class="col-code cell dinning-card"><span *ngIf="i.DiningCard">{{i.DiningCard}}</span></div>
					
					<div class="col-code cell"><span *ngIf="i.CustomerGroup">{{i.CustomerGroup}}</span></div>
					<div class="col-code cell"><span *ngIf="i.CustomerType">{{i.CustomerType}}</span></div>
					<div class="col-status cell">
						<span class="bar-holder">
							<ion-text class="bar-title" [color]="i.StatusColor">{{i.StatusText}}</ion-text>
							<span class="bar" [ngClass]="{active: s.Code==i.Status}" [ngStyle]="{'background-color': 'var(--ion-color-'+s.Color+')'}" *ngFor="let s of statusList" [title]="s.Name"></span>
						</span>
					</div>
					<hr>
					
				</div>
			</ng-container>
		</ion-virtual-scroll>
	</section>
	
	<ion-infinite-scroll color="primary" threshold="20%" (ionInfinite)="loadData($event)" [disabled]="!pageConfig.infiniteScroll || pageConfig.isEndOfData">
		<ion-infinite-scroll-content loadingSpinner="dots"></ion-infinite-scroll-content>
	</ion-infinite-scroll>
</ion-content>