<ion-header>
	<ion-toolbar class="no-padding">
        <ion-buttons slot="start" class="ion-hide-sm-down_">
            <ion-button color="dark" class="ion-hide-sm-down">
                Chọn nhân sự
            </ion-button>
        </ion-buttons>
       
        <ion-buttons slot="primary">
            <div class="c-control" style="margin: 0;">
				<select class="c-input c-dropdown no-check-dirty" (change)="quickSelectChange('IDDepartment')" [(ngModel)]="quickSelect.IDDepartment">
					<option value="-1">Chọn theo bộ phận</option>
					<option [value]="i.Id" *ngFor="let i of departmentList">{{i.NamePadding}} {{i.Count?'('+i.Count+')' : ''}}</option>
				</select>
			</div>
            &nbsp;
            <div class="c-control" style="margin: 0;">
				<select class="c-input c-dropdown no-check-dirty" (change)="quickSelectChange('IDJobTitle')" [(ngModel)]="quickSelect.IDJobTitle">
					<option value="-1">Chọn theo chức danh</option>
					<option [disabled]="!t.Flag" *ngFor="let t of branchList" [value]="t.Id">{{t.NamePadding}} {{t.Count?'('+t.Count+')' : ''}}</option>
				</select>
			</div>
            <span class="split ion-hide-sm-down">|</span>
            
            <ion-button [disabled]="selectedItems.length==0" fill="solid" size="small" color="primary" (click)="SaveSelectedStaff()">
                &nbsp;Thêm {{selectedItems.length}} nhân sự&nbsp;
            </ion-button>

            <ion-button (click)="refresh()" title="Refresh">
                <ion-icon slot="icon-only" name="reload-outline"></ion-icon>
            </ion-button>

            <ion-button title="Trợ giúp" (click)="help()">
                <ion-icon slot="icon-only" name="help-circle-outline"></ion-icon>
            </ion-button>

            <ion-button title="Đóng lại" color="secondary" (click)="closeModal()">
                <ion-icon slot="icon-only" name="close"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content appScrollbarTheme class="header-table scrollx">
	<section class="table" style="min-width: 970px;">
		<header class="bold" style="position:sticky; top: 0; padding:0; z-index: 10;">
			<div class="col-checkbox cell">
				<input (change)="toggleSelectAll()" [(ngModel)]="isAllChecked" class="c-checkbox" type="checkbox">
			</div>
			<div class="col-id cell" (click)="sortToggle('Id')">
				Id
				<ion-icon class="min-btn" *ngIf="sort.Id" [name]="sort.Id == 'Id'?'arrow-down': 'arrow-up'"></ion-icon>
				<ion-icon class="min-btn" (click)="pageConfig.isShowSearch = !pageConfig.isShowSearch" *ngIf="query.Id" name="search" color="primary"></ion-icon>
			</div>
			<div class="col-name cell" (click)="sortToggle('FullName')">
				Tên nhân sự
				<ion-icon class="min-btn" *ngIf="sort.FullName" [name]="sort.FullName == 'FullName'?'arrow-down': 'arrow-up'"></ion-icon>
				<ion-icon class="min-btn" (click)="pageConfig.isShowSearch = !pageConfig.isShowSearch" *ngIf="query.FullName" name="search" color="primary"></ion-icon>
			</div>
			<div class="col-code cell" (click)="sortToggle('Email')">Tài khoản
				<ion-icon class="min-btn" *ngIf="sort.Email" [name]="sort.Email == 'Email'?'arrow-down': 'arrow-up'"></ion-icon>
				<ion-icon class="min-btn" (click)="pageConfig.isShowSearch = !pageConfig.isShowSearch" *ngIf="query.Email" name="search" color="primary"></ion-icon>
			</div>
			<div class="col-code cell">Đơn vị</div>
			<div class="col-code cell">Chức danh</div>

			<div class="col-code cell" (click)="sortToggle('Code')">
				Code
				<ion-icon class="min-btn" *ngIf="sort.Code" [name]="sort.Code == 'Code'?'arrow-down': 'arrow-up'"></ion-icon>
				<ion-icon class="min-btn" (click)="pageConfig.isShowSearch = !pageConfig.isShowSearch" *ngIf="query.Code" name="search" color="primary"></ion-icon>
			</div>
			<!-- <div class="col-code cell" (click)="sortToggle('Code')">Đơn vị
				<ion-icon class="min-btn" *ngIf="sort.Code" [name]="sort.Code == 'Code'?'arrow-down': 'arrow-up'"></ion-icon>
				<ion-icon class="min-btn" (click)="pageConfig.isShowSearch = !pageConfig.isShowSearch" *ngIf="query.Code_eq" name="search" color="primary"></ion-icon>
			</div> -->
		</header>
		<form (keydown.enter)="refresh()" (submit)="refresh()" style="position:sticky; top: 0; padding:0; z-index: 10;" action="#">
			<header class="filter" >
				<div class="col-checkbox cell clickable" title="Bỏ chọn tất cả" (click)="isAllChecked = false; toggleSelectAll()">
					<ion-icon color="danger" name="close-circle-outline"></ion-icon>
				</div>
				<div class="col-id cell">
					<input [ngModelOptions]="{standalone: true}" [(ngModel)]="query.Id" class="c-input" [ngClass]="{active: query.Id}" type="text">
					<ion-icon class="min-btn" (click)="query.Id=''; refresh()" *ngIf="query.Id" name="close-circle-outline"></ion-icon>
				</div>
				<div class="col-name cell">
					<input [ngModelOptions]="{standalone: true}" [(ngModel)]="query.FullName" class="c-input" [ngClass]="{active: query.FullName}" type="text">
					<ion-icon class="min-btn" (click)="query.FullName=''; refresh()" *ngIf="query.FullName" name="close-circle-outline"></ion-icon>
				</div>
				<div class="col-code cell">
					<input [ngModelOptions]="{standalone: true}" [(ngModel)]="query.Email" class="c-input" [ngClass]="{active: query.Email}" type="text">
					<ion-icon class="min-btn" (click)="query.Email=''; refresh()" *ngIf="query.Email" name="close-circle-outline"></ion-icon>
				</div>
				<div class="col-code cell">
					<select (change)="refresh()" [ngModelOptions]="{standalone: true}" [(ngModel)]="query.IDDepartment" class="c-input c-dropdown" [ngClass]="{active: query.IDDepartment}">
						<option [disabled]="t.Flag" *ngFor="let t of departmentList" [value]="t.Query">{{t.NamePadding}}</option>
					</select>
					<ion-icon class="min-btn" (click)="query.IDDepartment=''; refresh()" *ngIf="query.IDDepartment" name="close-circle-outline"></ion-icon>
				</div>
				<div class="col-code cell">
					<select (change)="refresh()" [ngModelOptions]="{standalone: true}" [(ngModel)]="query.IDJobTitle" class="c-input c-dropdown" [ngClass]="{active: query.IDJobTitle}">
						<option [disabled]="!t.Flag" *ngFor="let t of branchList" [value]="t.Id">{{t.NamePadding}}</option>
					</select>
					<ion-icon class="min-btn" (click)="query.IDJobTitle=''; refresh()" *ngIf="query.IDJobTitle" name="close-circle-outline"></ion-icon>
				</div>

				<div class="col-code cell">
					<input [ngModelOptions]="{standalone: true}" [(ngModel)]="query.Code" class="c-input" [ngClass]="{active: query.Code}" type="text">
					<ion-icon class="min-btn" (click)="query.Code=''; refresh()" *ngIf="query.Code" name="close-circle-outline"></ion-icon>
				</div>				

				<button mat-raised-button type="submit" style="display:none">Search</button>
			</header>
		</form>
		<app-page-message [itemsLength] = "items.length" [showSpinner]="pageConfig.showSpinner"></app-page-message>
		<ion-virtual-scroll [items]="items" approxItemHeight="27px">
			<ng-container *virtualItem="let i; let itemBounds = bounds; let j = index;">
				<div class="row" [ngClass]="{odd: j % 2 != 0}" [ngClass]="{selected: i.checked}">
					<div class="col-checkbox cell" >
						<input (click)="changeSelection(i, $event)" class="c-checkbox"  [(ngModel)]="i.checked" type="checkbox">
					</div>
					<div class="col-id cell">
						<a [routerLink]="['/'+pageConfig.pageName+'/'+i.Id]">{{i.Id}}</a>
					</div>
					<div (click)="changeSelection(i, $event)" class="col-name cell">
						{{i.FullName}}
					</div>
					<div class="col-code cell">{{i.Email}}</div>
					<div class="col-code cell">{{i.Department}}</div>
					<div class="col-code cell">{{i.JobTitle}}</div>
					<div class="col-code cell">{{i.Code}}</div>
				</div>
			</ng-container>
		</ion-virtual-scroll>
	</section>

	<ion-infinite-scroll color="primary" threshold="20%" (ionInfinite)="loadData($event)" [disabled]="!pageConfig.infiniteScroll || pageConfig.isEndOfData">
		<ion-infinite-scroll-content loadingSpinner="dots"></ion-infinite-scroll-content>
	</ion-infinite-scroll>
</ion-content>