<ion-header>
	<ion-toolbar >
		<ion-buttons slot="start" class="ion-hide-sm-down_">
			<ion-button color="dark" class="ion-hide-sm-down">
				Sale report
			</ion-button>
		</ion-buttons>

		<ion-buttons slot="end">
			<ion-button (click)="refresh()" title="Refresh">
				<ion-icon slot="icon-only" name="reload-outline"></ion-icon>
			</ion-button>
			<ion-button outline="true" color="primary" (click)="presentPopover($event)">
				<ion-icon name="calendar-outline"></ion-icon>
				<ion-label color="medium"> </ion-label>
			</ion-button>
		</ion-buttons>
	<!-- </ion-toolbar>
	<ion-toolbar style="--padding-start: 4px;" color="primary"> -->
		<ion-segment color="primary" scrollable="true" (ionChange)="segmentChanged($event)" [value]="segmentView.Page">
			<ion-segment-button value="s1">
				<ion-label>Đơn hàng</ion-label>
			</ion-segment-button>
			<ion-segment-button value="s2">
				<ion-label>Sản phẩm</ion-label>
			</ion-segment-button>
		</ion-segment>
	</ion-toolbar>
</ion-header>

<ion-content appScrollbarTheme>
	<div class="main-view ion-padding">
		<!-- <div class="row-1" [hidden]="!(items.length && segmentView.Page == 's1')">
			<div class="col-1">
				<div class="c-box">
					<canvas style="cursor: pointer;" id="barCanvas" #barCanvas width="400" height="200"></canvas>
				</div>
			</div>
			<div class="col-2">
				<div class="table-contain" *ngIf="items[0]?.salemans?.length">
					<ion-grid>
						<ion-row>
							<ion-col>
								<div>
									<section class="table data-table">
										<div class="row">
											<div class="col2 cell">NVBH:</div>
											<div class="col3 cell">{{items[0].salemans[0].FullName}}</div>
										</div>
										<div class="row">
											<div class="col2 cell">Thời gian:</div>
											<div class="col3 cell">
												<small>{{reportQuery.fromDate | date:'dd/MM/yy'}} - {{reportQuery.toDate | date:'dd/MM/yy'}}</small>
											</div>
										</div>
										<div class="row">
											<div class="col2 cell">Doanh số trước CK:</div>
											<div class="col3 cell">{{items[0].salemans[0].TotalBeforeDiscountText}}</div>
										</div>
										<div class="row">
											<div class="col2 cell">Chiết khấu:</div>
											<div class="col3 cell">{{items[0].salemans[0].TotalDiscountText}}</div>
										</div>
										<div class="row">
											<div class="col2 cell">Doanh số sau CK:</div>
											<div class="col3 cell">{{items[0].salemans[0].TotalAfterDiscountText}}</div>
										</div>

									</section>
								</div>
							</ion-col>
						</ion-row>
					</ion-grid>
				</div>
			</div>
		</div> -->
		<div class="row-1" [hidden]="!(items.length && segmentView.Page == 's2')">
			<div class="col-1">
				<div class="c-box">
					<canvas style="cursor: pointer; margin: 20px auto;" id="pieCanvas" #pieCanvas></canvas>
				</div>
			</div>
			<div class="col-2">
				<div class="table-contain" *ngIf="items[0]?.salemans?.length">
					<ion-grid>
						<ion-row>
							<ion-col>
								<div>
									<section class="table data-table">
										<div class="row">
											<div class="col2 cell">NVBH:</div>
											<div class="col3 cell">{{items[0].salemans[0].FullName}}</div>
										</div>
										<div class="row">
											<div class="col2 cell">Thời gian:</div>
											<div class="col3 cell">
												<small>{{reportQuery.fromDate | date:'dd/MM/yy'}} - {{reportQuery.toDate | date:'dd/MM/yy'}}</small>
											</div>
										</div>
										<div class="row">
											<div class="col2 cell">Doanh số trước CK:</div>
											<div class="col3 cell">{{items[0].salemans[0].TotalBeforeDiscountText}}</div>
										</div>
										<div class="row">
											<div class="col2 cell">Chiết khấu:</div>
											<div class="col3 cell">{{items[0].salemans[0].TotalDiscountText}}</div>
										</div>
										<div class="row">
											<div class="col2 cell">Doanh số sau CK:</div>
											<div class="col3 cell">{{items[0].salemans[0].TotalAfterDiscountText}}</div>
										</div>

									</section>
								</div>
							</ion-col>
						</ion-row>
					</ion-grid>
				</div>
			</div>
		</div>

		<section class="table s1" *ngIf="segmentView.Page == 's1'" style="max-width: 1024px;margin: -16px auto;min-height: calc(100vh - 64px);">
			<app-page-message [itemsLength]="this.items.length" [showSpinner]="pageConfig.showSpinner"></app-page-message>
			<ion-virtual-scroll [items]="items" approxItemHeight="27px" [headerFn]="myHeaderFn">
				<div class="row header" *virtualHeader="let header">
					<div class="col-id cell">#{{header.IDSaleOrder}}</div>
					<div class="col-name cell">
						{{header.ContactName}} ({{header.ContactCode}})
					</div>
					<div class="col-OrderDate cell">
						{{header.OrderDate}}
					</div>
					<div class="col-money cell">
						{{header.OriginalTotalAfterDiscountText}}
					</div>
				</div>

				<ng-container *virtualItem="let i; let itemBounds = bounds; let j = index;">
					<div class="row">
						<div class="col-code cell">{{i.ItemCode}}</div>
						<div class="col-name cell">
							<b>{{i.ItemCode}}&nbsp;</b>{{i.ItemName}}
						</div>
						<div class="col-number cell">
							<ion-text color="success" *ngIf="i.ShippedQuantity==i.Quantity">{{i.ShippedQuantity}}/{{i.Quantity}} <small>{{i.UoM}}</small></ion-text>
							<ion-text color="danger" *ngIf="i.ShippedQuantity!=i.Quantity">
								<b>{{i.ShippedQuantity}}</b>/{{i.Quantity}} <small>{{i.UoM}}</small>
							</ion-text>
							
						</div>
						<div class="col-money cell">
							<small *ngIf="i.IsPromotionItem">KM</small>
							<span *ngIf="!i.IsPromotionItem"> <span *ngIf="i.ShippedQuantity!=i.Quantity && i.TotalAfterDiscount">{{i.TotalAfterDiscountText}}/</span>{{i.OriginalTotalAfterDiscountText}}</span>
						</div>
					</div>
				</ng-container>
			</ion-virtual-scroll>
		</section>

		<div class="row-full shadow table-contain-main" *ngIf="segmentView.Page == 's2'">
			<!-- <div *ngIf="segmentView.Page == 's1'" style="min-height: calc(100vh - 88px - 52px);">
				<app-page-message [itemsLength]="this.items.length" [showSpinner]="pageConfig.showSpinner"></app-page-message>

				
			</div> -->
			<div style="min-height: calc(100vh - 88px - 52px);">
				<app-page-message [itemsLength]="items.length" [showSpinner]="pageConfig.showSpinner"></app-page-message>
				<div class="Table-Container" *ngFor="let b of items">
					<div class="froze-column" *ngFor="let s of b.salemans">
						<table>
							<ng-container *ngFor="let i of s.itemList; let idx = index; ">
								<tr>
									<td class="percent-bar">

										<span class="bar-container">

											<span class="bar" [ngStyle]="{'width': 'calc(' + i.barPercent + '% - 0px'}" [style.background-color]="colorArray[idx]">
												<span class="title">{{i.percent}} %</span>
											</span>
										</span>

									</td>
									<td rowspan="2" class="border-bottom">
										<div class="item-name">
											{{i.ItemName}}
										</div>
									</td>
								</tr>

								<tr>
									<td style="color: var(--ion-color-primary);text-align: right;">
										<span>
											<small><b> #{{i.ItemCode}}</b></small>
										</span>
									</td>
								</tr>

								<tr *ngFor="let uom of i.UoMs; let gdx = index; ">
									<td [attr.rowspan]="i.UoMs.length" *ngIf="gdx == 0"> </td>
									<td class="nowrap border-bottom">
										<span>
											<b> {{uom.ShippedQuantity}}</b>
											<ion-text style='color: var(--ion-color-primary);'><small>{{uom.Name}}</small></ion-text>

											<span *ngIf="uom.PromotionQuantity">
												<b>&nbsp;&nbsp;{{uom.PromotionQuantity}}</b>
												<ion-text style='color: var(--ion-color-primary);'><small>KM</small></ion-text>
											</span>
										</span>
									</td>
								</tr>
								<tr>
									<td></td>
								</tr>
							</ng-container>
						</table>
					</div>
					<div class="scroll-column" *ngFor="let s of b.salemans">

						<!-- item 1 -->
						<table>
							<ng-container *ngFor="let i of s.itemList; let idx = index; ">
								<tr>
									<td class="value-height">
										<div class="mobile-width">
											<ion-text *ngIf="idx==0" color="primary">
												<small>Trước CK</small>
											</ion-text>
										</div>
									</td>
									<td class="value-height">
										<div class="mobile-width">
											<ion-text *ngIf="idx==0" color="primary">
												<small>Chiết khấu</small>
											</ion-text>
										</div>
									</td>
									<td class="value-height">
										<div class="mobile-width">
											<ion-text *ngIf="idx==0" color="primary">
												<small>Sau CK</small>
											</ion-text>
										</div>
									</td>
								</tr>

								<tr class="bold">
									<td class="border-bottom">
										<div>
											{{i.TotalBeforeDiscountText}}
										</div>
									</td>
									<td class="border-bottom">
										<div>
											{{i.TotalDiscountText}}
										</div>
									</td>
									<td class="border-bottom">
										<div>
											{{i.TotalAfterDiscountText}}
										</div>
									</td>
								</tr>

								<tr *ngFor="let uom of i.UoMs; let gdx = index;" style="vertical-align: bottom;">

									<td class="border-bottom">
										<div>
											{{uom.TotalBeforeDiscountText}}
										</div>
									</td>
									<td class="border-bottom">
										<div>
											{{uom.TotalDiscountText}}
										</div>
									</td>
									<td class="border-bottom">
										<div>
											{{uom.TotalAfterDiscountText}}
										</div>
									</td>
								</tr>
								<tr>
									<td colspan="3"></td>
								</tr>
							</ng-container>
						</table>
					</div>
				</div>
			</div>


		</div>
	</div>
</ion-content>






<!-- <div class="summary-bar">
				<ion-card class='card1-2'>
					<div id="div-bar">
						<canvas style="cursor: pointer;" id="barCanvas" #barCanvas width="400" height="200"></canvas>
					</div>
				</ion-card>
			</div> -->