<ion-header>
	<ion-toolbar>
		<ion-buttons slot="start">
			<ion-back-button defaultHref="timesheet"></ion-back-button>
			<ion-button color="dark" class="ion-hide-sm-down">
				Lịch làm việc
			</ion-button>
		</ion-buttons>
		<ion-buttons slot="end">
			<app-detail-toolbar [item]="item" [pageConfig]="pageConfig" [ShowFeature]="true" (refresh)="refresh()" (help)="help()"></app-detail-toolbar>
		</ion-buttons>
	</ion-toolbar>
</ion-header>


<ion-content appScrollbarTheme class="ion-padding">
	<div class="main-view">
		<div class="row-full shadow full-screen">
			<div class="ion-padding">
				<ion-grid fixed>
					<form [formGroup]="formGroup">
						<!-- Thông tin chung -->
						<ion-row class="hr-group">
							<ion-col size="12" size-md="12" size-lg="12" size-xl="4">
								<ion-list-header class="ion-no-padding">
									<ion-label color="primary">Thông tin chung</ion-label>
								</ion-list-header>
							</ion-col>

							<ion-col size="12" size-md="12" size-lg="12" size-xl="6">
								<!-- <div class="c-control">
									<label class="c-label" for="Id">Id</label>
									<input class="c-input" id="Id" formControlName="Id" type="number">
								</div> -->
								<div class="c-control">
									<label class="c-label" for="Name">Tên gọi</label>
									<input (change)="saveChange()" class="c-input" id="Name" formControlName="Name" type="text">
								</div>
								<!-- <div class="c-control">
									<label class="c-label" for="Code">Code</label>
									<input (change)="saveChange()" class="c-input" id="Code" formControlName="Code" type="text">
								</div> -->

								<!-- <div class="c-control">
									<label class="c-label" for="Manager">Quản lý<small>Manager</small></label>
									<input (change)="saveChange()" class="c-input" id="Manager" formControlName="Manager" type="number">
								</div> -->

								<div class="c-control">
									<label class="c-label" for="Type">Phân loại</label>
									<ng-select class="c-input" (change)="saveChange()" labelForId="Type" formControlName="Type" [items]="timesheetTypeList" [virtualScroll]="true" bindLabel="Name" bindValue="Code" placeholder="Chọn type">
										<ng-template ng-option-tmp let-i="item" let-search="searchTerm">
											<div *ngIf="i">
												<div> <span *ngFor="let l of i.levels">&nbsp;&nbsp;&nbsp;</span> <span [ngOptionHighlight]="search">{{i.Name}}</span></div>
											</div>
										</ng-template>
									</ng-select>
								</div>

								<div class="c-control">
									<label class="c-label" for="CheckInPolicy">CheckInPolicy</label>
									<ng-select class="c-input" (change)="saveChange()" labelForId="CheckInPolicy" formControlName="CheckInPolicy" [items]="CheckInOutPolicyList" [virtualScroll]="true" bindLabel="Name" bindValue="Code" placeholder="Chọn policy">
										<ng-template ng-option-tmp let-i="item" let-search="searchTerm">
											<div *ngIf="i">
												<div> <span *ngFor="let l of i.levels">&nbsp;&nbsp;&nbsp;</span> <span [ngOptionHighlight]="search">{{i.Name}}</span></div>
											</div>
										</ng-template>
									</ng-select>
								</div>

								<div class="c-control">
									<label class="c-label" for="NumberOfShiftPerDay">Số ca làm việc trong ngày</label>
									<input (change)="saveChange()" class="c-input" id="NumberOfShiftPerDay" formControlName="NumberOfShiftPerDay" type="number">
								</div>

								<div class="c-control">
									<label class="c-label" for="WorkingHoursPerDay">Số giờ làm việc một ngày</label>
									<input (change)="saveChange()" class="c-input" id="WorkingHoursPerDay" formControlName="WorkingHoursPerDay" type="number">
								</div>
							
								

								<div class="c-control">
									<label class="c-label" for="Remark">Remark</label>
									<textarea rows="3" (change)="saveChange()" class="c-input" id="Remark" formControlName="Remark" type="textarea"></textarea>
								</div>

								<div class="c-control">
									<span class="no-warp">
										<input (change)="saveChange()" class="c-checkbox" id="IsCheckOutRequired" formControlName="IsCheckOutRequired" type="checkbox">
										<label class="c-label checkbox" for="IsCheckOutRequired">Check-out required
											<!-- <span *ngIf="!formGroup.controls.IsCheckOutRequired.valid && !formGroup.controls.IsCheckOutRequired.pending && (formGroup.controls.IsCheckOutRequired.dirty || submitAttempt)" ion-text color="danger">(*)</span> -->
										</label>
									</span><br>

									<span class="no-warp">
										<input (change)="saveChange()" class="c-checkbox" id="IsRequiredApproveToEnroll" formControlName="IsRequiredApproveToEnroll" type="checkbox">
										<label class="c-label checkbox" for="IsRequiredApproveToEnroll">Required approve to enroll
											<!-- <span *ngIf="!formGroup.controls.IsRequiredApproveToEnroll.valid && !formGroup.controls.IsRequiredApproveToEnroll.pending && (formGroup.controls.IsRequiredApproveToEnroll.dirty || submitAttempt)" ion-text color="danger">(*)</span> -->
										</label>
									</span><br>

									<span class="no-warp">
										<input (change)="saveChange()" class="c-checkbox" id="IsRequiredApproveToTransfer" formControlName="IsRequiredApproveToTransfer" type="checkbox">
										<label class="c-label checkbox" for="IsRequiredApproveToTransfer">Required approve to transfer
											<!-- <span *ngIf="!formGroup.controls.IsRequiredApproveToTransfer.valid && !formGroup.controls.IsRequiredApproveToTransfer.pending && (formGroup.controls.IsRequiredApproveToTransfer.dirty || submitAttempt)" ion-text color="danger">(*)</span> -->
										</label>
									</span><br>

									<span class="no-warp">
										<input (change)="saveChange()" class="c-checkbox" id="IsRequiredApproveToSwitch" formControlName="IsRequiredApproveToSwitch" type="checkbox">
										<label class="c-label checkbox" for="IsRequiredApproveToSwitch">Required approve to switch
											<!-- <span *ngIf="!formGroup.controls.IsRequiredApproveToSwitch.valid && !formGroup.controls.IsRequiredApproveToSwitch.pending && (formGroup.controls.IsRequiredApproveToSwitch.dirty || submitAttempt)" ion-text color="danger">(*)</span> -->
										</label>
									</span><br>
								</div>
							</ion-col>
						</ion-row>

					</form>
				</ion-grid>
			</div>
		</div>
	</div>

</ion-content>