<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button defaultHref="location"></ion-back-button>
            <ion-button color="dark" class="ion-hide-sm-down">
                Location
            </ion-button>
        </ion-buttons>
        <ion-buttons slot="end">
            <app-detail-toolbar [item]="item" [pageConfig]="pageConfig" (refresh)="refresh()" (delete)="delete()" (help)="help()"></app-detail-toolbar>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content appScrollbarTheme class="ion-padding">
    <div class="main-view" *ngIf="item && pageConfig.showSpinner==false">
        <div class="row-full shadow full-screen">
            <div>
                <div *ngIf="segmentView == 's1'">
                    <div class="ion-padding">
                        <ion-grid fixed>
                            <form [formGroup]="formGroup">
                                <ion-row class="hr-group">
                                    <ion-col size="12" size-sm="12" size-md="12" size-xl="3">
                                        <ion-list-header class="ion-no-padding">
                                            <ion-label color="primary">Thông tin chung</ion-label>
                                        </ion-list-header>
                                    </ion-col>
                                    <ion-col size="12" size-sm size-xl="4">
                                        <div class="c-control">
                                            <label class="c-label" for="Name">Tên gọi <span *ngIf="formGroup.controls.Id.value">(Id: {{formGroup.controls.Id.value}})</span>
                                                <span *ngIf="!formGroup.controls.Name.valid && !formGroup.controls.Name.pending && (formGroup.controls.Name.dirty || submitAttempt)" ion-text color="danger">(*)</span>
                                            </label>
                                            <input class="c-input" id="Name" (change)="saveChange();" formControlName="Name" type="text">
                                        </div>
                                        <div class="c-control">
                                            <label class="c-label" for="IDZone">Zone
                                                <span *ngIf="!formGroup.controls.IDZone.valid && !formGroup.controls.IDZone.pending && (formGroup.controls.IDZone.dirty || submitAttempt)" ion-text color="danger">(*)</span>
                                            </label>
                                            <ng-select class="c-input" (change)="changedIDZone($event)" labelForId="IDZone" formControlName="IDZone" [items]="zoneList" bindLabel="Name" bindValue="Id" placeholder="Tìm kiếm...">
                                                <ng-template ng-option-tmp let-i="item" let-search="searchTerm">
                                                    <div *ngIf="i">
                                                        <div> <span *ngFor="let l of i.levels">&nbsp;&nbsp;&nbsp;</span> <span [ngOptionHighlight]="search">{{i.Name}}</span></div>
                                                    </div>
                                                </ng-template>
                                            </ng-select>
                                        </div>
                                        <div class="c-control">
                                            <label class="c-label" for="LocationType">Phân loại
                                                <span *ngIf="!formGroup.controls.LocationType.valid && !formGroup.controls.LocationType.pending && (formGroup.controls.LocationType.dirty || submitAttempt)" ion-text color="danger">(*)</span>
                                            </label>
                                            <ng-select class="c-input" (change)="saveChange();" labelForId="LocationType" formControlName="LocationType" [items]="locationTypeList" bindLabel="Name" bindValue="Code" placeholder="Tìm kiếm...">
                                                <ng-template ng-option-tmp let-i="item" let-search="searchTerm">
                                                    <div *ngIf="i">
                                                        <div> <span *ngFor="let l of i.levels">&nbsp;&nbsp;&nbsp;</span> <span [ngOptionHighlight]="search">{{i.Name}}</span></div>
                                                    </div>
                                                </ng-template>
                                            </ng-select>
                                        </div>
                                        <div class="c-control">
                                            <label class="c-label" for="LocationFlag">Khóa vị trí
                                                <span *ngIf="!formGroup.controls.LocationFlag.valid && !formGroup.controls.LocationFlag.pending && (formGroup.controls.LocationFlag.dirty || submitAttempt)" ion-text color="danger">(*)</span>
                                            </label>
                                            <ng-select class="c-input" (change)="saveChange();" labelForId="LocationFlag" formControlName="LocationFlag" [items]="locationFlagList" bindLabel="Name" bindValue="Code" placeholder="Tìm kiếm...">
                                                <ng-template ng-label-tmp let-i="item">
                                                    <ion-text [color]="i.Color">
                                                        {{i.Name}}
                                                    </ion-text>
                                                </ng-template>
                                                <ng-template ng-option-tmp let-i="item" let-search="searchTerm">
                                                    <ion-text [color]="i.Color">
                                                        <div> <span *ngFor="let l of i.levels">&nbsp;&nbsp;&nbsp;</span> <span [ngOptionHighlight]="search">{{i.Name}}</span></div>
                                                    </ion-text>
                                                </ng-template>
                                            </ng-select>
                                        </div>
                                        <div class="c-control">
                                            <label class="c-label" for="LocationHandling">Hàng trên kệ
                                                <span *ngIf="!formGroup.controls.LocationHandling.valid && !formGroup.controls.LocationHandling.pending && (formGroup.controls.LocationHandling.dirty || submitAttempt)" ion-text color="danger">(*)</span>
                                            </label>
                                            <ng-select class="c-input" (change)="saveChange();" labelForId="LocationHandling" formControlName="LocationHandling" [items]="locationHandlingList" bindLabel="Name" bindValue="Code" placeholder="Tìm kiếm...">
                                                <ng-template ng-option-tmp let-i="item" let-search="searchTerm">
                                                    <div *ngIf="i">
                                                        <div> <span *ngFor="let l of i.levels">&nbsp;&nbsp;&nbsp;</span> <span [ngOptionHighlight]="search">{{i.Name}}</span></div>
                                                    </div>
                                                </ng-template>
                                            </ng-select>
                                        </div>
                                    </ion-col>
                                    <ion-col size="12" size-sm size-xl="4">
                                        
                                        <div class="c-control">
                                            <label class="c-label" for="RouteSequence">Route Sequence
                                                <span *ngIf="!formGroup.controls.RouteSequence.valid && !formGroup.controls.RouteSequence.pending && (formGroup.controls.RouteSequence.dirty || submitAttempt)" ion-text color="danger">(*)</span>
                                            </label>
                                            <input class="c-input" id="RouteSequence" (change)="saveChange();" formControlName="RouteSequence" type="text">
                                        </div>
                                        <div class="c-control">
                                            <label class="c-label" for="Remark">Ghi chú
                                                <span *ngIf="!formGroup.controls.Remark.valid && !formGroup.controls.Remark.pending && (formGroup.controls.Remark.dirty || submitAttempt)" ion-text color="danger">(*)</span>
                                            </label>
                                            <textarea (change)="saveChange()" rows="3" class="c-input" id="Remark" formControlName="Remark" type="textarea"></textarea>
                                        </div>
                                        <div class="c-control">
                                            <span class="no-warp">
                                                <input (change)="saveChange()" class="c-checkbox" id="IsLoseID" formControlName="IsLoseID" type="checkbox">
                                                <label class="c-label checkbox" for="IsLoseID">Bỏ LPN của item khi điều chuyển hàng đến đây
                                                    <span *ngIf="!formGroup.controls.IsLoseID.valid && !formGroup.controls.IsLoseID.pending && (formGroup.controls.IsLoseID.dirty || submitAttempt)" ion-text color="danger">(*)</span>
                                                </label>
                                            </span>
                                            <span class="no-warp">
                                                <input (change)="saveChange()" class="c-checkbox" id="IsAutomaticallyShipPickedProduct" formControlName="IsAutomaticallyShipPickedProduct" type="checkbox">
                                                <label class="c-label checkbox" for="IsAutomaticallyShipPickedProduct">Tự động ship hàng đã lấy
                                                    <span *ngIf="!formGroup.controls.IsAutomaticallyShipPickedProduct.valid && !formGroup.controls.IsAutomaticallyShipPickedProduct.pending && (formGroup.controls.IsAutomaticallyShipPickedProduct.dirty || submitAttempt)" ion-text color="danger">(*)</span>
                                                </label>
                                            </span>
                                            <span class="no-warp">
                                                <input (change)="saveChange()" class="c-checkbox" id="IsCommingleItem" formControlName="IsCommingleItem" type="checkbox">
                                                <label class="c-label checkbox" for="IsCommingleItem">Cho phép đặt nhiều loại hàng hóa cùng chỗ
                                                    <span *ngIf="!formGroup.controls.IsCommingleItem.valid && !formGroup.controls.IsCommingleItem.pending && (formGroup.controls.IsCommingleItem.dirty || submitAttempt)" ion-text color="danger">(*)</span>
                                                </label>
                                            </span>
                                            <span class="no-warp">
                                                <input (change)="saveChange()" class="c-checkbox" id="IsCommingleLot" formControlName="IsCommingleLot" type="checkbox">
                                                <label class="c-label checkbox" for="IsCommingleLot">Cho đặt sản phẩm khác lô sản xuất cùng chỗ
                                                    <span *ngIf="!formGroup.controls.IsCommingleLot.valid && !formGroup.controls.IsCommingleLot.pending && (formGroup.controls.IsCommingleLot.dirty || submitAttempt)" ion-text color="danger">(*)</span>
                                                </label>
                                            </span>
                                        </div>
                                    </ion-col>
                                </ion-row>
                                <ion-row class="hr-group">
                                    <ion-col size="12" size-sm="12" size-md="12" size-xl="3">
                                        <ion-list-header class="ion-no-padding">
                                            <ion-label color="primary">Thông số location</ion-label>
                                        </ion-list-header>
                                    </ion-col>
                                    <ion-col size="12" size-sm size-xl="4">
                                        <div class="c-control">
                                            <label class="c-label" for="Length">Chiều dài
                                                <span *ngIf="!formGroup.controls.Length.valid && !formGroup.controls.Length.pending && (formGroup.controls.Length.dirty || submitAttempt)" ion-text color="danger">(*)</span>
                                            </label>
                                            <input class="c-input" id="Length" (change)="saveChange();" formControlName="Length" type="number">
                                        </div>
                                        <div class="c-control">
                                            <label class="c-label" for="Width">Chiều rộng
                                                <span *ngIf="!formGroup.controls.Width.valid && !formGroup.controls.Width.pending && (formGroup.controls.Width.dirty || submitAttempt)" ion-text color="danger">(*)</span>
                                            </label>
                                            <input class="c-input" id="Width" (change)="saveChange();" formControlName="Width" type="number">
                                        </div>
                                        <div class="c-control">
                                            <label class="c-label" for="Height">Chiều cao
                                                <span *ngIf="!formGroup.controls.Height.valid && !formGroup.controls.Height.pending && (formGroup.controls.Height.dirty || submitAttempt)" ion-text color="danger">(*)</span>
                                            </label>
                                            <input class="c-input" id="Height" (change)="saveChange();" formControlName="Height" type="number">
                                        </div>
                                        <div class="c-control">
                                            <label class="c-label" for="CubicCapacity">Số khối có thể chứa (Dài x Rộng x Cao)
                                                <span *ngIf="!formGroup.controls.CubicCapacity.valid && !formGroup.controls.CubicCapacity.pending && (formGroup.controls.CubicCapacity.dirty || submitAttempt)" ion-text color="danger">(*)</span>
                                            </label>
                                            <input class="c-input" id="CubicCapacity" (change)="saveChange();" formControlName="CubicCapacity" type="number">
                                        </div>
                                        <div class="c-control">
                                            <label class="c-label" for="WeightCapacity">Khối lượng tối đa
                                                <span *ngIf="!formGroup.controls.WeightCapacity.valid && !formGroup.controls.WeightCapacity.pending && (formGroup.controls.WeightCapacity.dirty || submitAttempt)" ion-text color="danger">(*)</span>
                                            </label>
                                            <input class="c-input" id="WeightCapacity" (change)="saveChange();" formControlName="WeightCapacity" type="number">
                                        </div>
                                        <div class="c-control">
                                            <label class="c-label" for="FootPrint">Số lượng pallet theo chiều sâu
                                                <span *ngIf="!formGroup.controls.FootPrint.valid && !formGroup.controls.FootPrint.pending && (formGroup.controls.FootPrint.dirty || submitAttempt)" ion-text color="danger">(*)</span>
                                            </label>
                                            <input class="c-input" id="FootPrint" (change)="saveChange();" formControlName="FootPrint" type="number">
                                        </div>
                                        <div class="c-control">
                                            <label class="c-label" for="StackLimit">Số lượng pallet được chồng lên (chiều cao)
                                                <span *ngIf="!formGroup.controls.StackLimit.valid && !formGroup.controls.StackLimit.pending && (formGroup.controls.StackLimit.dirty || submitAttempt)" ion-text color="danger">(*)</span>
                                            </label>
                                            <input class="c-input" id="StackLimit" (change)="saveChange();" formControlName="StackLimit" type="number">
                                        </div>
                                    </ion-col>
                                    <ion-col size="12" size-sm size-xl="4">
                                        <div class="c-control">
                                            <label class="c-label" for="Level">Vị trí tầng
                                                <span *ngIf="!formGroup.controls.Level.valid && !formGroup.controls.Level.pending && (formGroup.controls.Level.dirty || submitAttempt)" ion-text color="danger">(*)</span>
                                            </label>
                                            <input class="c-input" id="Level" (change)="saveChange();" formControlName="Level" type="number">
                                        </div>
                                        <div class="c-control">
                                            <label class="c-label" for="XCoordinate">Tọa độ X
                                                <span *ngIf="!formGroup.controls.XCoordinate.valid && !formGroup.controls.XCoordinate.pending && (formGroup.controls.XCoordinate.dirty || submitAttempt)" ion-text color="danger">(*)</span>
                                            </label>
                                            <input class="c-input" id="XCoordinate" (change)="saveChange();" formControlName="XCoordinate" type="number">
                                        </div>
                                        <div class="c-control">
                                            <label class="c-label" for="YCoordinate">Tọa độ Y
                                                <span *ngIf="!formGroup.controls.YCoordinate.valid && !formGroup.controls.YCoordinate.pending && (formGroup.controls.YCoordinate.dirty || submitAttempt)" ion-text color="danger">(*)</span>
                                            </label>
                                            <input class="c-input" id="YCoordinate" (change)="saveChange();" formControlName="YCoordinate" type="number">
                                        </div>
                                        <div class="c-control">
                                            <label class="c-label" for="ZCoordinate">Tọa độ Z
                                                <span *ngIf="!formGroup.controls.ZCoordinate.valid && !formGroup.controls.ZCoordinate.pending && (formGroup.controls.ZCoordinate.dirty || submitAttempt)" ion-text color="danger">(*)</span>
                                            </label>
                                            <input class="c-input" id="ZCoordinate" (change)="saveChange();" formControlName="ZCoordinate" type="number">
                                        </div>
                                        <div class="c-control">
                                            <label class="c-label" for="Orientation">Góc (tính bằng độ)
                                                <span *ngIf="!formGroup.controls.Orientation.valid && !formGroup.controls.Orientation.pending && (formGroup.controls.Orientation.dirty || submitAttempt)" ion-text color="danger">(*)</span>
                                            </label>
                                            <input class="c-input" id="Orientation" (change)="saveChange();" formControlName="Orientation" type="number">
                                        </div>
                                        
                                    </ion-col>
                                </ion-row>
                            </form>
                        </ion-grid>
                    </div>
                </div>
                <div *ngIf="segmentView == 's2'">


                </div>
            </div>
        </div>
    </div>
    <app-page-message [itemsLength]="item? 1: 0" [showSpinner]="pageConfig.showSpinner"></app-page-message>
</ion-content>