<ion-header>
	<app-list-toolbar pageTitle="Danh sách" [pageConfig]="pageConfig" [selectedItems]="selectedItems" [query]="query" (add)="add()" (refresh)="refresh()" (export)="export()" (import)="import($event)" (help)="help()" (unselect)="unselect()" (archiveItems)="archiveItems()" (deleteItems)="deleteItems()"></app-list-toolbar>
	<section class="table">
		<header class="bold">
			<div class="col-checkbox cell"></div>
			<div class="col-id cell" (click)="sortToggle('Id')">
				Id
				<ion-icon class="min-btn" *ngIf="sort.Id" [name]="sort.Id == 'Id'?'arrow-down': 'arrow-up'"></ion-icon>
				<ion-icon class="min-btn" (click)="pageConfig.isShowSearch = !pageConfig.isShowSearch" *ngIf="query.Id" name="search" color="primary"></ion-icon>
			</div>
			<div class="col-code cell" (click)="sortToggle('Code')">
				Mã
				<ion-icon class="min-btn" *ngIf="sort.Code" [name]="sort.Code == 'Code'?'arrow-down': 'arrow-up'"></ion-icon>
				<ion-icon class="min-btn" (click)="pageConfig.isShowSearch = !pageConfig.isShowSearch" *ngIf="query.Code" name="search" color="primary"></ion-icon>
			</div>
			<div class="col-name cell" (click)="sortToggle('Name')">
				Tên gọi
				<ion-icon class="min-btn" *ngIf="sort.Name" [name]="sort.Name == 'Name'?'arrow-down': 'arrow-up'"></ion-icon>
				<ion-icon class="min-btn" (click)="pageConfig.isShowSearch = !pageConfig.isShowSearch" *ngIf="query.Name" name="search" color="primary"></ion-icon>
			</div>

			<div class="col-code cell" (click)="sortToggle('Category')">
				Category
				<ion-icon class="min-btn" *ngIf="sort.Category" [name]="sort.Category == 'Category'?'arrow-down': 'arrow-up'"></ion-icon>
				<ion-icon class="min-btn" (click)="pageConfig.isShowSearch = !pageConfig.isShowSearch" *ngIf="query.Category" name="search" color="primary"></ion-icon>
			</div>

			<div class="col-number cell" (click)="sortToggle('Rate')">
				Rate
				<ion-icon class="min-btn" *ngIf="sort.Rate" [name]="sort.Rate == 'Rate'?'arrow-down': 'arrow-up'"></ion-icon>
				<ion-icon class="min-btn" (click)="pageConfig.isShowSearch = !pageConfig.isShowSearch" *ngIf="query.Rate" name="search" color="primary"></ion-icon>
			</div>

			<div class="col-code cell" (click)="sortToggle('TaxAccount')">
				TaxAccount
				<ion-icon class="min-btn" *ngIf="sort.TaxAccount" [name]="sort.TaxAccount == 'TaxAccount'?'arrow-down': 'arrow-up'"></ion-icon>
				<ion-icon class="min-btn" (click)="pageConfig.isShowSearch = !pageConfig.isShowSearch" *ngIf="query.TaxAccount" name="search" color="primary"></ion-icon>
			</div>

		</header>
		<form (submit)="refresh()" action="#">
			<header class="filter" *ngIf="pageConfig.isShowSearch">
				<div class="col-checkbox cell"></div>
				<div class="col-id cell">
					<input [ngModelOptions]="{standalone: true}" [(ngModel)]="query.Id" class="c-input" [ngClass]="{active: query.Id}" type="text">
					<ion-icon class="min-btn" (click)="query.Id=''; refresh()" *ngIf="query.Id" name="close-circle-outline"></ion-icon>
				</div>
				<div class="col-code cell">
					<input [ngModelOptions]="{standalone: true}" [(ngModel)]="query.Code" class="c-input" [ngClass]="{active: query.Code}" type="text">
					<ion-icon class="min-btn" (click)="query.Code=''; refresh()" *ngIf="query.Code" name="close-circle-outline"></ion-icon>
				</div>
				<div class="col-name cell">
					<input [ngModelOptions]="{standalone: true}" [(ngModel)]="query.Name" class="c-input" [ngClass]="{active: query.Name}" type="text">
					<ion-icon class="min-btn" (click)="query.Name=''; refresh()" *ngIf="query.Name" name="close-circle-outline"></ion-icon>
				</div>
				<div class="col-code cell">
					<input [ngModelOptions]="{standalone: true}" [(ngModel)]="query.Category" class="c-input" [ngClass]="{active: query.Category}" type="text">
					<ion-icon class="min-btn" (click)="query.Category=''; refresh()" *ngIf="query.Category" name="close-circle-outline"></ion-icon>
				</div>
				<div class="col-number cell">
					<input [ngModelOptions]="{standalone: true}" [(ngModel)]="query.Rate" class="c-input" [ngClass]="{active: query.Rate}" type="text">
					<ion-icon class="min-btn" (click)="query.Rate=''; refresh()" *ngIf="query.Rate" name="close-circle-outline"></ion-icon>
				</div>
				<div class="col-code cell">
					<input [ngModelOptions]="{standalone: true}" [(ngModel)]="query.TaxAccount" class="c-input" [ngClass]="{active: query.TaxAccount}" type="text">
					<ion-icon class="min-btn" (click)="query.TaxAccount=''; refresh()" *ngIf="query.TaxAccount" name="close-circle-outline"></ion-icon>
				</div>
				<button mat-raised-button type="submit" style="display:none">Search</button>
			</header>
		</form>
	</section>
</ion-header>

<ion-content appScrollbarTheme class="header-table">
	<app-page-message [itemsLength]="items.length" [showSpinner]="pageConfig.showSpinner"></app-page-message>
	<div *ngIf="items.length && pageConfig.showSpinner==false">
		<section class="table">
			<ion-virtual-scroll [items]="items" approxItemHeight="27px">
				<ng-container *virtualItem="let i; let itemBounds = bounds; let j = index;">
					<div class="row" [ngClass]="{odd: j % 2 != 0}" [ngClass]="{selected: i.checked}">
						<div class="col-checkbox cell">
							<input (click)="changeSelection(i, $event)" class="c-checkbox" [(ngModel)]="i.checked" type="checkbox">
						</div>
						<div (click)="nav('tax-definition/'+i.Id,'forward')" class="col-id cell">
							{{i.Id}}
						</div>
						<div (click)="nav('tax-definition/'+i.Id,'forward')" class="col-code cell">
							{{i.Code}}
						</div>
						<div (click)="nav('tax-definition/'+i.Id,'forward')" class="col-name cell">
							{{i.Name}}
						</div>
						<div class="col-code cell">{{i.Category}}</div>
						<div class="col-number cell">{{i.Rate}}%</div>
						<div class="col-code cell">{{i.TaxAccount}}</div>
					</div>
				</ng-container>
			</ion-virtual-scroll>
		</section>
	</div>
	<ion-infinite-scroll color="primary" threshold="20%" (ionInfinite)="loadData($event)" [disabled]="!pageConfig.infiniteScroll || pageConfig.isEndOfData">
		<ion-infinite-scroll-content loadingSpinner="dots"></ion-infinite-scroll-content>
	</ion-infinite-scroll>
</ion-content>