<ion-header>
	<ion-toolbar>
		<ion-buttons slot="start" class="ion-hide-sm-down_">
			<ion-button color="dark" class="ion-hide-sm-down">
				Dashboard
			</ion-button>
		</ion-buttons>

		<ion-buttons slot="end">
			<ion-button (click)="refresh()" title="In phiếu">
				<ion-icon slot="icon-only" name="reload-outline"></ion-icon>
			</ion-button>

			<ion-button title="Chức năng mở rộng" (click)="pageConfig.isShowFeature = !pageConfig.isShowFeature;">
				<ion-icon slot="icon-only" [name]="pageConfig.isShowFeature? 'close-outline':'list-circle-outline'">
				</ion-icon>
			</ion-button>

		</ion-buttons>
	</ion-toolbar>
</ion-header>


<ion-content appScrollbarTheme>

	<ion-fab [hidden]="!pageConfig.isShowFeature" [ngClass]="{withSearch: pageConfig.isShowSearch}" class="feature" vertical="top" horizontal="end" slot="fixed">
		<div class="ion-padding">
			

			<div>
				<div class="title">Group by / Nhóm theo</div>
				<ng-container *ngFor="let f of rpt.rptGlobal.frequency">
					<ion-button [fill]="rpt.rptGlobal.query.frequency == f.Id ? 'solid' : 'outline'" size="small" (click)="changeFrequency(f)">
						{{f.Name}}
					</ion-button>
				</ng-container>
				<div class="query-time"></div>
			</div>

			<div>
				<div class="title">Time / Thời gian</div>

				<ion-button *ngIf="rpt.rptGlobal.query.frequency == 1" (click)="changeDateFillter('d')" [fill]="rpt.rptGlobal.query.type=='d'? 'solid': 'outline'" size="small">Hôm nay</ion-button>
				<ion-button *ngIf="rpt.rptGlobal.query.frequency == 1" (click)="changeDateFillter('dw')" [fill]="rpt.rptGlobal.query.type=='dw'? 'solid': 'outline'" size="small">Tuần này</ion-button>
				<ion-button *ngIf="rpt.rptGlobal.query.frequency == 1" (click)="changeDateFillter('dm')" [fill]="rpt.rptGlobal.query.type=='dm'? 'solid': 'outline'" size="small">Tháng này</ion-button>

				<ion-button *ngIf="rpt.rptGlobal.query.frequency == 2" (click)="changeDateFillter('m')" [fill]="rpt.rptGlobal.query.type=='m'? 'solid': 'outline'" size="small">Tháng này</ion-button>
				<ion-button *ngIf="rpt.rptGlobal.query.frequency == 2" (click)="changeDateFillter('m3')" [fill]="rpt.rptGlobal.query.type=='m3'? 'solid': 'outline'" size="small">3 tháng</ion-button>
				<ion-button *ngIf="rpt.rptGlobal.query.frequency == 2" (click)="changeDateFillter('m6')" [fill]="rpt.rptGlobal.query.type=='m6'? 'solid': 'outline'" size="small">6 tháng</ion-button>
				<ion-button *ngIf="rpt.rptGlobal.query.frequency == 2" (click)="changeDateFillter('my')" [fill]="rpt.rptGlobal.query.type=='my'? 'solid': 'outline'" size="small">Năm nay</ion-button>

				<ion-button *ngIf="rpt.rptGlobal.query.frequency == 3" (click)="changeDateFillter('q')" [fill]="rpt.rptGlobal.query.type=='q'? 'solid': 'outline'" size="small">Quý này</ion-button>
				<ion-button *ngIf="rpt.rptGlobal.query.frequency == 3" (click)="changeDateFillter('q2')" [fill]="rpt.rptGlobal.query.type=='q2'? 'solid': 'outline'" size="small">2 quý</ion-button>
				<ion-button *ngIf="rpt.rptGlobal.query.frequency == 3" (click)="changeDateFillter('q3')" [fill]="rpt.rptGlobal.query.type=='q3'? 'solid': 'outline'" size="small">3 quý</ion-button>
				<ion-button *ngIf="rpt.rptGlobal.query.frequency == 3" (click)="changeDateFillter('qy')" [fill]="rpt.rptGlobal.query.type=='qy'? 'solid': 'outline'" size="small">Năm nay</ion-button>

				<ion-button *ngIf="rpt.rptGlobal.query.frequency == 4" (click)="changeDateFillter('y')" [fill]="rpt.rptGlobal.query.type=='y'? 'solid': 'outline'" size="small">Năm nay</ion-button>
				<ion-button *ngIf="rpt.rptGlobal.query.frequency == 4" (click)="changeDateFillter('y2')" [fill]="rpt.rptGlobal.query.type=='y2'? 'solid': 'outline'" size="small">2 năm</ion-button>
				<ion-button *ngIf="rpt.rptGlobal.query.frequency == 4" (click)="changeDateFillter('y3')" [fill]="rpt.rptGlobal.query.type=='y3'? 'solid': 'outline'" size="small">3 năm</ion-button>

				<ion-button (click)="changeDateFillter('set')" [fill]="rpt.rptGlobal.query.type=='set'? 'solid': 'outline'" size="small">Tùy chọn...</ion-button>

				<div *ngIf="rpt.rptGlobal.query.type=='set'" class="date-pick">
					<input (change)="changeDateFillter('setdone')" [(ngModel)]="rpt.rptGlobal.query.fromDate" required type="date" pattern="\d{1,2}/\d{1,2}/\d{4}" class="datepicker" name="date" value="" />
					<input (change)="changeDateFillter('setdone')" [(ngModel)]="rpt.rptGlobal.query.toDate" required type="date" pattern="\d{1,2}/\d{1,2}/\d{4}" class="datepicker" name="date" value="" />
				</div>
				<div class="query-time">{{rpt.rptGlobal.query.fromDate}} - {{rpt.rptGlobal.query.toDate}}</div>
			</div>

			<div>
				<div class="title">Branch / Chi nhánh</div>
				<ng-container *ngFor="let b of rpt.rptGlobal.branch">
					<ion-button [fill]="b.IsHidden ? 'outline' : 'solid'" size="small" (click)="toogleBranchDataset(b)">
						{{b.Name}}
					</ion-button>
				</ng-container>
				<div class="query-time"></div>
			</div>

		</div>

		<div class="chart-box" style="background-color: transparent;">
			<div class="title">Lý do bị mất Inquiry</div>
			<div style="height: 320px;" class="chart-contain">
				<canvas id="lostReasonCanvas" #lostReasonCanvas height="320"></canvas>
			</div>
		</div>

		<div class="chart-box kpi">
			<div class="title">Pin chart</div>
			<div class="chart-contain">
				<canvas id="cCanvas" #cCanvas></canvas>
			</div>
		</div>

		<div class="chart-box kpi">
			<div class="title">Pin chart</div>
			<div class="chart-contain">
				<canvas id="cCanvas" #cCanvas></canvas>
			</div>
		</div>

		<div class="chart-box">
			<div class="title">Pin chart</div>
			<div class="chart-contain">
				<canvas id="cCanvas" #cCanvas></canvas>
			</div>
		</div>

	</ion-fab>



			


	<div class="main-view" style="max-width: 1140px; margin: auto;">
		<div class="row-1">
			<div class="top-main-chart">
				<div class="number-container">
					<div class="number">{{pageData.NumberOfEvents}}</div>
					<div class="title">Numbers of events</div>
				</div>
				<div class="chart-contain">
					<ion-spinner *ngIf="charts.SoLuongTiec.IsLoading" class="chart-loading" name="dots"></ion-spinner>
					<canvas id="soLuongTiecCanvas" #soLuongTiecCanvas></canvas>
				</div>

			</div>

			<!-- <div class="top-chart multi-lines">
				<div>
					<span class="number">70%</span>
					<span class="title">Weekend</span>
				</div>
				<div>
					<span class="number">15%</span>
					<span class="title">Weekday</span>
				</div>
				<div>
					<span class="number">40%</span>
					<span class="title"><ion-text color="primary">
						Occupancy rate
					</ion-text></span>
					<div class="stats" style="margin-top: 16px;">
						<ion-text color="success">
							<ion-icon name="arrow-up"></ion-icon>
							+2%
						</ion-text>
					</div>
				</div>
			</div> -->
			<div class="top-chart">
				<div class="number">{{pageData.DoanhThu}} B</div>
				<div class="title">Doanh thu thuần</div>
				<div class="stats">
					<ion-text color="success">
						<ion-icon name="arrow-up"></ion-icon>
						+1%
					</ion-text>
				</div>
			</div>
			<div class="top-chart">
				<div class="number">{{pageData.DoanhThu}} B</div>
				<div class="title">Doanh thu thuần</div>
				<div class="stats">
					<ion-text color="success">
						<ion-icon name="arrow-up"></ion-icon>
						+1%
					</ion-text>
				</div>
			</div>
			<div class="top-chart">
				<div class="number">{{pageData.NumberOfGuests}} K</div>
				<div class="title">Numbers of guests</div>
				<div class="stats">
					<ion-text color="danger">
						<ion-icon name="arrow-down"></ion-icon>
						1%
					</ion-text>
				</div>
			</div>
		</div>

		<div class="row-2">
			<div class="title">Thông tin theo ngày</div>
			<div class="calendar-heatmap-holder">

				<div class="col1">
					<div style="height: auto; width: 100%; 	display: flex; justify-content: center;" class="chart-contain">

						<div class="calendar-heatmap" *ngIf="this.rpt.rptGlobal.query.frequency == 1">
							<table>
								<ng-container *ngFor="let ds of calendarHeatmapData.datasets">
									<tr *ngIf="!ds.hidden">
										<td *ngFor="let d of ds.data">
											<div [ngStyle]="{'background-color': ds.color + d.opacity}" (click)="selectedHeatNode = d; selectedHeatNode.color = ds.color;">
												{{d.value}}
											</div>
										</td>
									</tr>
								</ng-container>
								<tr class="header">
									<td *ngFor="let l of calendarHeatmapData.labels">{{l}}</td>
								</tr>
							</table>
						</div>
						<div class="calendar-heatmap month-view" *ngIf="this.rpt.rptGlobal.query.frequency == 2">
							<!-- Vẽ từng dataset -->
							<ng-container *ngFor="let ds of calendarHeatmapData.datasets">
								<!-- Vẽ từng tháng -->
								<div class="month" *ngIf="!ds.hidden">
									<div class="month-contain">
										<div class="header" *ngFor="let l of calendarHeatmapData.weekLabels">{{l}}
										</div>
										<div *ngFor="let d of ds.data" (click)="selectedHeatNode = d; selectedHeatNode.color = ds.color;" [ngStyle]="{'background-color': ds.color + d.opacity, 'border-style': d.value < 0? 'none': 'solid', 'border-color': ds.color}">
											<span *ngIf="d.value>=0">{{d.value}}</span>
										</div>
									</div>
								</div>
							</ng-container>
						</div>
					</div>
				</div>
				<div class="col2">
					<div class="info" [ngStyle]="{'border-color': (selectedHeatNode.color + selectedHeatNode.opacity) }">
						<div class="multi">
							<div>
								<span class="number">{{selectedHeatNode.value}}</span>
								<span class="title">Số lượng tiệc</span>
							</div>
							<div>
								<span class="number">{{selectedHeatNode.value * 451 * 1.5}} M</span>
								<span class="title">Doanh thu thuần</span>
							</div>
							<div>
								<span class="number">{{selectedHeatNode.value * 451}}</span>
								<span class="title">Số khách tham dự</span>
							</div>
						</div>
					</div>
				</div>

			</div>
		</div>

		<div class="row-3">

			<div style="height: 225px; min-width: 40%; background-color: transparent;" class="chart-box">
				<div class="title">Doanh thu / Chỉ tiêu</div>
				<div class="chart-contain">
					<ion-spinner *ngIf="charts.Funnel.IsLoading" class="chart-loading" name="dots"></ion-spinner>
					<canvas id="doanhThuChiTieuCanvas" #doanhThuChiTieuCanvas height="255"></canvas>
				</div>
			</div>

			<div style="height: 225px; min-width: 40%; background-color: transparent;" class="chart-box">
				<div class="title">Chi phí / Chỉ tiêu</div>
				<div class="chart-contain">
					<ion-spinner *ngIf="charts.Funnel.IsLoading" class="chart-loading" name="dots"></ion-spinner>
					<canvas id="chiPhiChiTieuCanvas" #chiPhiChiTieuCanvas height="255"></canvas>
				</div>
			</div>

			<div class="chart-box">
				<div class="title">Tổng hợp tình trạng Inquiry</div>
				<div style="height: 210px;" class="chart-contain">
					<ion-spinner *ngIf="charts.Funnel.IsLoading" class="chart-loading" name="dots"></ion-spinner>
					<canvas id="funnelCanvas" #funnelCanvas></canvas>
				</div>
			</div>

			<div class="chart-box">
				<div class="title">Doanh thu theo loại KH</div>
				<div class="chart-contain">
					<ion-spinner *ngIf="charts.Funnel.IsLoading" class="chart-loading" name="dots"></ion-spinner>
					<canvas id="saleByServiceCanvas" #saleByServiceCanvas></canvas>
				</div>
			</div>
			<!-- <div class="chart-box">
				<div class="title">saleByLocationCanvas</div>
				<div class="chart-contain">
					<ion-spinner *ngIf="charts.Funnel.IsLoading" class="chart-loading" name="dots"></ion-spinner>
					<canvas id="saleByLocationCanvas" #saleByLocationCanvas></canvas>
				</div>
			</div> -->
			<div class="chart-box">
				<div class="title">Inquiry theo nguồn thông tin</div>
				<div class="chart-contain">
					<ion-spinner *ngIf="charts.Funnel.IsLoading" class="chart-loading" name="dots"></ion-spinner>
					<canvas id="inquiryBySourceCanvas" #inquiryBySourceCanvas></canvas>
				</div>
			</div>
			<div style="width: 100%; height: 400px; " class="chart-box">
				<div class="title">Top khách hàng theo doanh thu thuần</div>
				<div class="chart-contain">
					<ion-spinner *ngIf="charts.Funnel.IsLoading" class="chart-loading" name="dots"></ion-spinner>
					<canvas id="top10CustomerCanvas" #top10CustomerCanvas></canvas>
				</div>
			</div>

			<!-- <div class="chart-box">
				<div class="title">Doanh thu - Dòng tiền vào</div>
				<div class="chart-contain">
					<ion-spinner *ngIf="charts.Funnel.IsLoading" class="chart-loading" name="dots"></ion-spinner>
					<canvas id="saleByLocationCanvas" #saleByLocationCanvas></canvas>
				</div>
			</div> -->
			<div class="chart-box" style="min-width: 40%; height: 300px;">
				<div class="title">PnL</div>
				<div class="chart-contain">
					<ion-spinner *ngIf="charts.Funnel.IsLoading" class="chart-loading" name="dots"></ion-spinner>
					<canvas id="pnlCanvas" #pnlCanvas></canvas>
				</div>
			</div>
			<div class="chart-box" style="min-width: 40%; height: 300px;">
				<div class="title">Cash flow</div>
				<div class="chart-contain">
					<ion-spinner *ngIf="charts.Funnel.IsLoading" class="chart-loading" name="dots"></ion-spinner>
					<canvas id="cashFlowCanvas" #cashFlowCanvas></canvas>
				</div>
			</div>
			<!-- <div class="chart-box">
				<div class="title">Doanh thu - Chi phí</div>
				<div class="chart-contain">
					<ion-spinner *ngIf="charts.Funnel.IsLoading" class="chart-loading" name="dots"></ion-spinner>
					<canvas id="saleByLocationCanvas" #saleByLocationCanvas></canvas>
				</div>
			</div> -->
			<!-- <div class="chart-box">
				<div class="title">Chi phí - Dòng tiền ra</div>
				<div class="chart-contain">
					<ion-spinner *ngIf="charts.Funnel.IsLoading" class="chart-loading" name="dots"></ion-spinner>
					<canvas id="saleByLocationCanvas" #saleByLocationCanvas></canvas>
				</div>
			</div>

			<div class="chart-box">
				<div class="title">Doanh thu quá hạn thanh toán</div>
				<div class="chart-contain">
					<ion-spinner *ngIf="charts.Funnel.IsLoading" class="chart-loading" name="dots"></ion-spinner>
					<canvas id="saleByLocationCanvas" #saleByLocationCanvas></canvas>
				</div>
			</div>

			<div class="chart-box">
				<div class="title">Tỉ trọng quá hạn thanh toán</div>
				<div class="chart-contain">
					<ion-spinner *ngIf="charts.Funnel.IsLoading" class="chart-loading" name="dots"></ion-spinner>
					<canvas id="saleByLocationCanvas" #saleByLocationCanvas></canvas>
				</div>
			</div> -->

		</div>
	</div>


</ion-content>


<ion-content *ngIf="0">
	<div *ngIf="pageConfig.showSpinner" class="page-loading">
		<ion-spinner name="dots"></ion-spinner>
	</div>
	<div class="empty-message" *ngIf="this.env.user && this.env.user.UserName && !items.length && pageConfig.showSpinner==false">
		<div class="icon">
			<img appSvgImage src="./assets/undraw_no_data_qbuo.svg">
		</div>
		<div class="message">
			<div class="title">
				Không có dữ liệu
			</div>
			<div class="detail">
				<ion-text>
					Không tìm thấy dữ liệu phù hợp. Xin vui lòng chọn các điều kiện truy vấn khác!
				</ion-text>
			</div>
		</div>
	</div>
</ion-content>