.main-view {
    .row-1 {
        .top-chart {
            &.multi-lines {
                
                .number{
                    margin-top: 0;
                    width: 100px;
	                display: inline-block;
                    text-align: right;
                }
            }
        }
    }
}
