<ion-header>
	<app-list-toolbar pageTitle="Danh sách nhập mua" selectedTitle="{{selectedItems.length}} đơn" [pageConfig]="pageConfig" [selectedItems]="selectedItems" [query]="query" (add)="add()" (refresh)="refresh()" (export)="export()" (import)="import($event)" (help)="help()" (unselect)="unselect()" (archiveItems)="archiveItems()" (deleteItems)="deleteItems()" (mergeOrders)="mergeSaleOrders()" (splitOrder)="splitSaleOrder()" (approveOrders)="approveOrders()" (disapproveOrders)="disapproveOrders()" (cancelOrders)="cancelOrders()" (submitOrdersForApproval)="submitOrdersForApproval()"></app-list-toolbar>
	<section class="table">
		<header class="bold">
			<div class="col-checkbox cell"></div>
			<div class="col-id cell" (click)="sortToggle('Id')">
				Id
				<ion-icon class="min-btn" *ngIf="sort.Id" [name]="sort.Id == 'Id'?'arrow-down': 'arrow-up'"></ion-icon>
				<ion-icon class="min-btn" (click)="pageConfig.isShowSearch = !pageConfig.isShowSearch" *ngIf="query.Id" name="search" color="primary"></ion-icon>
			</div>
			<div class="col-status cell" (click)="sortToggle('Status')">
				Tình trạng
				<ion-icon class="min-btn" *ngIf="sort.Status" [name]="sort.Status == 'Status'?'arrow-down': 'arrow-up'"></ion-icon>
				<ion-icon class="min-btn" (click)="pageConfig.isShowSearch = !pageConfig.isShowSearch" *ngIf="query.Status" name="search" color="primary"></ion-icon>
			</div>
			<div class="col-code cell" (click)="sortToggle('OrderDate')">
				Ngày giao
				<ion-icon class="min-btn" *ngIf="sort.OrderDate" [name]="sort.OrderDate == 'OrderDate'?'arrow-down': 'arrow-up'"></ion-icon>
				<ion-icon class="min-btn" (click)="pageConfig.isShowSearch = !pageConfig.isShowSearch" *ngIf="query.OrderDate" name="search" color="primary"></ion-icon>
			</div>
			<div class="col-code cell" (click)="sortToggle('StorerName')">
				Chủ hàng
				<ion-icon class="min-btn" *ngIf="sort.StorerName" [name]="sort.StorerName == 'StorerName'?'arrow-down': 'arrow-up'"></ion-icon>
				<ion-icon class="min-btn" (click)="pageConfig.isShowSearch = !pageConfig.isShowSearch" *ngIf="query.ShipmentTerm" name="search" color="primary"></ion-icon>
			</div>
			<div class="col-name cell" (click)="sortToggle('VendorName')">
				Nhà cung cấp
				<ion-icon class="min-btn" *ngIf="sort.VendorName" [name]="sort.VendorName == 'VendorName'?'arrow-down': 'arrow-up'"></ion-icon>
				<ion-icon class="min-btn" (click)="pageConfig.isShowSearch = !pageConfig.isShowSearch" *ngIf="query.ShipmentTerm" name="search" color="primary"></ion-icon>
			</div>
			<div class="col-code cell money" >
				Trị giá
				<ion-icon class="min-btn" *ngIf="sort.TotalAfterTax" [name]="sort.TotalAfterTax == 'TotalAfterTax'?'arrow-down': 'arrow-up'"></ion-icon>
				<ion-icon class="min-btn" (click)="pageConfig.isShowSearch = !pageConfig.isShowSearch" *ngIf="query.TotalAfterTax" name="search" color="primary"></ion-icon>
			</div>
			<div class="col-code cell" (click)="sortToggle('Code')">
				Mã của NCC
				<ion-icon class="min-btn" *ngIf="sort.Code" [name]="sort.Code == 'Code'?'arrow-down': 'arrow-up'"></ion-icon>
				<ion-icon class="min-btn" (click)="pageConfig.isShowSearch = !pageConfig.isShowSearch" *ngIf="query.Code" name="search" color="primary"></ion-icon>
			</div>
		</header>
		<form (submit)="refresh()" action="#">
			<header class="filter" *ngIf="pageConfig.isShowSearch">
				<div class="col-checkbox cell"></div>
				<div class="col-id cell">
					<input placeholder="Tìm theo Id"  [ngModelOptions]="{standalone: true}" [(ngModel)]="query.Id" class="c-input" [ngClass]="{active: query.Id}" type="text">
					<ion-icon class="min-btn" (click)="query.Id=''; refresh()" *ngIf="query.Id" name="close-circle-outline"></ion-icon>
				</div>
				<div class="col-status cell">
					<select (change)="refresh()" class="c-input c-dropdown" [ngModelOptions]="{standalone: true}" [(ngModel)]="query.Status" [ngClass]="{active: query.Status}">
						<option value="">Tất cả</option>
						<option disabled value="">----------</option>
						<option *ngFor="let t of statusList" [value]="t.Code">{{t.Name}}</option>
					</select>
					<ion-icon class="min-btn" (click)="query.Status=''; refresh()" *ngIf="query.Status !=''" name="close-circle-outline"></ion-icon>
				</div>
				<div class="col-code col-orderDate cell">
					<input (change)="refresh()" [ngModelOptions]="{standalone: true}" [(ngModel)]="query.OrderDate" class="c-input" [ngClass]="{active: query.OrderDate}" type="date">
					<ion-icon class="min-btn" (click)="query.OrderDate=''; refresh()" *ngIf="query.OrderDate" name="close-circle-outline"></ion-icon>
				</div>
				<div class="col-code  cell">
					<input placeholder="Tìm theo chủ hàng" [ngModelOptions]="{standalone: true}" [(ngModel)]="query.StorerName" class="c-input" [ngClass]="{active: query.StorerName}" type="text">
					<ion-icon class="min-btn" (click)="query.StorerName=''; refresh()" *ngIf="query.StorerName" name="close-circle-outline"></ion-icon>
				</div>
				<div class="col-name cell">
					<input placeholder="Tìm nhà cung cấp" [ngModelOptions]="{standalone: true}" [(ngModel)]="query.VendorName" class="c-input" [ngClass]="{active: query.VendorName}" type="text">
					<ion-icon class="min-btn" (click)="query.VendorName=''; refresh()" *ngIf="query.VendorName" name="close-circle-outline"></ion-icon>
				</div>
				<div class="col-code cell money"></div>
				<div class="col-code cell">
					<input placeholder="Tìm theo mã NCC"  [ngModelOptions]="{standalone: true}" [(ngModel)]="query.Code" class="c-input" [ngClass]="{active: query.Code}" type="text">
					<ion-icon class="min-btn" (click)="query.Code=''; refresh()" *ngIf="query.Code" name="close-circle-outline"></ion-icon>
				</div>
				<button mat-raised-button type="submit" style="display:none">Search</button>
			</header>
		</form>
	</section>
</ion-header>

<ion-content appScrollbarTheme class="header-table">
	<app-page-message [itemsLength]="items.length" [showSpinner]="pageConfig.showSpinner"></app-page-message>
	<div *ngIf="items.length && pageConfig.showSpinner==false">
		<section class="table">
			<ion-virtual-scroll [items]="items" approxItemHeight="27px">
				<ng-container *virtualItem="let i; let itemBounds = bounds; let j = index;">
					<div class="row" [ngClass]="{odd: j % 2 != 0}" [ngClass]="{selected: i.checked}" [ngStyle]="{'border-left': 'solid 5px rgba(var(--ion-color-' + i.StatusColor + '-rgb, 0, 0, 0), 1)'}">
						<div class="col-checkbox cell">
							<input (click)="changeSelection(i, $event)" class="c-checkbox" [(ngModel)]="i.checked" type="checkbox">
						</div>
						<div (click)="nav('purchase-order/'+i.Id,'forward')" class="col-id cell">
							{{i.Id}}
						</div>
						<div class="col-status cell">
							<span class="bar-holder">
								<ion-text class="bar-title" [color]="i.StatusColor">{{i.StatusText}}</ion-text>
								<span class="bar" [ngClass]="{active: s.Code==i.Status}" [ngStyle]="{'background-color': 'var(--ion-color-'+s.Color+')'}" *ngFor="let s of statusList" [title]="s.Name"></span>
							</span>
						</div>
						<div class="col-code col-orderDate cell" (click)="nav('purchase-order/'+i.Id,'forward')">
							{{i.OrderDateText}}
							<small *ngIf="i.OrderTimeText ">{{i.OrderTimeText}}</small>
						</div>
						<div class="col-code col-owner cell">
							{{i.StorerName}}
						</div>
						<!-- <div class="cell col-seperator"></div> -->
						<div class="col-name col-vendor cell" (click)="nav('purchase-order/'+i.Id,'forward')">
							{{i.VendorName}}
						</div>
						<div class="col-code cell money">{{i.TotalAfterTaxText}}</div>
						<div class="col-code col-vendorCode cell" [ngClass]="{'empty-field': !i.Code?.length}">{{i.Code}}</div>
					</div>
				</ng-container>
			</ion-virtual-scroll>
		</section>
	</div>
	<ion-infinite-scroll color="primary" threshold="20%" (ionInfinite)="loadData($event)" [disabled]="!pageConfig.infiniteScroll || pageConfig.isEndOfData">
		<ion-infinite-scroll-content loadingSpinner="dots"></ion-infinite-scroll-content>
	</ion-infinite-scroll>
</ion-content>