<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button *ngIf="item" [defaultHref]="'item'"></ion-back-button>
        </ion-buttons>
        <ion-title *ngIf="product">
            <ion-button class="title" text-center fill="clear" expand="full" size="small">
                #{{product.Id}}
            </ion-button>
        </ion-title>
        <ion-buttons slot="end">
            <app-detail-toolbar [item]="item" [pageConfig]="pageConfig" (refresh)="refresh()" (help)="help()"></app-detail-toolbar>
        </ion-buttons>

    </ion-toolbar>
</ion-header>

<ion-content *ngIf="!scanning" appScrollbarTheme class="ion-padding">
    <div class="main-view">
        <ion-grid fixed style="max-width: 500px;">
            <ion-row class="hr-group" *ngIf="product">
                <ion-col size="12">

                    <div class="c-control">
                        <label class="c-label" for="OriginalTotalAfterTax">
                            <ion-text color="primary">Item #{{product.Id}} {{product.Code? ' - '+ product.Code: ''}} </ion-text>
                        </label>
                        <input [readonly]="true" class="c-input" id="OriginalTotalAfterTax" [(ngModel)]="product.Name" type="text">
                    </div>

                    <div class="c-control ion-text-right" *ngIf="pageConfig.canEditUoMQty">
                        <ion-button (click)="disableProduct()" size="small" [disabled]="!(pageConfig.canEdit) || submitAttempt" [fill]=" product.IsDisabled? 'solid' : 'outline' ">
                            Ngưng sử dụng
                        </ion-button>
                    </div>
                </ion-col>
            </ion-row>

        </ion-grid>

        <div class="row-full shadow full-screen">
            <ion-toolbar color="primary">
                <ion-segment scrollable="true" (ionChange)="changeUoM($event)" [value]="id">
                    <ion-segment-button [value]="u.Id" *ngFor="let u of items">
                        <ion-label>{{u.Name}} <span *ngIf="u.IsBaseUoM">(*)</span></ion-label>
                    </ion-segment-button>
                </ion-segment>
            </ion-toolbar>

            <div>
                <div style="min-height: calc(100vh - 315px);">
                    <div class="table-contain">
                        <form [formGroup]="formGroup">
                            <section class="table" *ngIf="item">
                                <div class="row">
                                    <div class="col-name cell">
                                        <div style=" min-width: 100%; max-width: 100%;">
                                            <table style="max-width: 100%; min-width: 100%;">
                                                <ng-container *ngIf="pageConfig.canEditUoMQty">
                                                    <tr *ngIf="showAlterQty">
                                                        <td class="label">
                                                            <span>
                                                                Quy cách
                                                                <ion-text color="primary"><b>{{item.Name}}</b> <span *ngIf="item.IsBaseUoM">&nbsp; (đv gốc)</span> </ion-text>
                                                            </span>
                                                            <ion-button class="right-btn" size="small" fill="clear" color="danger" (click)="showAlterQty = !showAlterQty">
                                                                <ion-icon slot="icon-only" name="chevron-down"></ion-icon>
                                                            </ion-button>
                                                        </td>
                                                        <td style="min-width: 150px; width: 150px; max-width: 150px;">
                                                            <input formControlName="BaseQuantity" [readonly]="!pageConfig.canEdit || item.IsBaseUoM" type="tel" (focus)="$event.target.select()" (blur)="saveChange()" class="c-input" mask="separator.2" thousandSeparator=",">
                                                        </td>
                                                    </tr>


                                                    <tr *ngIf="!showAlterQty">
                                                        <td class="label">
                                                            Cứ {{item.AlternativeQuantity}} {{item.Name}}
                                                            <ion-button class="right-btn" size="small" fill="clear" color="danger" (click)="showAlterQty = !showAlterQty">
                                                                <ion-icon slot="icon-only" name="chevron-up"></ion-icon>
                                                            </ion-button>
                                                        </td>
                                                        <td>
                                                            <input formControlName="AlternativeQuantity" [readonly]="!pageConfig.canEdit || item.IsBaseUoM" type="tel" (focus)="$event.target.select()" (blur)="saveChange()" class="c-input" mask="separator.2" thousandSeparator=",">
                                                        </td>
                                                    </tr>
                                                    <tr *ngIf="!showAlterQty">
                                                        <td class="label">
                                                            <span>
                                                                = {{item.BaseQuantity}} {{baseUoM.Name}}
                                                            </span>

                                                        </td>
                                                        <td style="min-width: 150px; width: 150px; max-width: 150px;">
                                                            <input formControlName="BaseQuantity" [readonly]="!pageConfig.canEdit || item.IsBaseUoM" type="tel" (focus)="$event.target.select()" (blur)="saveChange()" class="c-input" mask="separator.2" thousandSeparator=",">
                                                        </td>
                                                    </tr>
                                                </ng-container>

                                                <tr>
                                                    <td class="label">Chiều dài (cm)</td>
                                                    <td>
                                                        <input formControlName="Length" [readonly]="!pageConfig.canEdit" type="tel" (focus)="$event.target.select()" (blur)="saveChange()" class="c-input" mask="separator.2" thousandSeparator=",">
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td class="label">Chiều rộng</td>
                                                    <td>
                                                        <input formControlName="Width" [readonly]="!pageConfig.canEdit" type="tel" (focus)="$event.target.select()" (blur)="saveChange()" class="c-input" mask="separator.2" thousandSeparator=",">
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td class="label">Chiều cao</td>
                                                    <td>
                                                        <input formControlName="Height" [readonly]="!pageConfig.canEdit" type="tel" (focus)="$event.target.select()" (blur)="saveChange()" class="c-input" mask="separator.2" thousandSeparator=",">
                                                    </td>
                                                </tr>

                                                <tr>
                                                    <td class="label">Khối lượng (kg)</td>
                                                    <td>
                                                        <input formControlName="Weight" [readonly]="!pageConfig.canEdit" type="tel" (focus)="$event.target.select()" (blur)="saveChange()" class="c-input" mask="separator.2" thousandSeparator=",">
                                                    </td>
                                                </tr>

                                                <tr *ngIf="item.Name=='Pallet'">
                                                    <td class="label">Số thùng / lớp</td>
                                                    <td>
                                                        <input [(ngModel)]="product.TI" [ngModelOptions]="{standalone: true}" [readonly]="!pageConfig.canEdit" type="tel" (focus)="$event.target.select()" (change)="saveProduct()" class="c-input no-check-dirty" >
                                                    </td>
                                                </tr>

                                                <tr *ngIf="item.Name=='Pallet'">
                                                    <td class="label">Số lớp</td>
                                                    <td>
                                                        <input [(ngModel)]="product.HI" [ngModelOptions]="{standalone: true}" [readonly]="!pageConfig.canEdit" type="tel" (focus)="$event.target.select()" (change)="saveProduct()" class="c-input no-check-dirty" >
                                                    </td>
                                                </tr> 

                                                <tr>
                                                    <td class="label">Barcode</td>
                                                    <td>
                                                        <input formControlName="Barcode" [readonly]="!pageConfig.canEdit" type="tel" (focus)="$event.target.select()" (blur)="saveChange()" class="c-input">
                                                    </td>
                                                </tr>
                                            </table>

                                        </div>
                                    </div>
                                </div>
                            </section>
                        </form>
                    </div>
                    <div class="table-contain">
                        <div class="row">
                            <div class="cell">
                                <ion-button class="ion-margin" size="block" (click)="scanQRCode()">
                                    Quét barcode
                                </ion-button>
                            </div>
                        </div>
                    </div>
                    <div class="ion-padding"></div>

                </div>

            </div>
        </div>
    </div>
</ion-content>


<ion-content *ngIf="scanning" no-scroll class="cameraFrame">
    <div class="frame">
        <div class="blink-line">
        </div>
    </div>
    <ion-fab vertical="bottom" horizontal="center" slot="fixed">
        <ion-fab-button id='closeCamera' color="secondary" (click)="closeCamera()">
            <ion-icon name="close"></ion-icon>
        </ion-fab-button>
    </ion-fab>
    <!-- <ion-fab vertical="bottom" horizontal="start" slot="fixed">
		<ion-fab-button color="warning" (click)="lightCamera()">
			<ion-icon name="flashlight"></ion-icon>
		</ion-fab-button>
	</ion-fab> -->
</ion-content>