<ion-header>
	<app-list-toolbar pageTitle="Thông tin kho" [pageConfig]="pageConfig" [ShowSearch]="true" [selectedItems]="selectedItems" [query]="query" (add)="add()" (refresh)="refresh()" (export)="export()" (import)="import($event)" (help)="help()" (unselect)="unselect()" (archiveItems)="archiveItems()" (deleteItems)="deleteItems()"></app-list-toolbar>
</ion-header>


<ion-content appScrollbarTheme class="left scrollx" [ngClass]="{withFeature: pageConfig.isShowFeature}" forceOverscroll="false">
	<ion-fab *ngIf="pageConfig.isShowFeature"  class="feature no-print " vertical="bottom" horizontal="start" slot="fixed">
		<app-page-message [itemsLength]="1" [showSpinner]="pageConfig.showSpinner"></app-page-message>
		<div *ngIf="pageConfig.showSpinner==false">
			<div class="ion-padding" style="padding-bottom: 0;">
				<div class="c-control">
					<label class="c-label" for="IDBranch">
						<ion-text color="primary">
							Kho
						</ion-text>
					</label>
					<ng-select class="c-input no-check-dirty" (change)="selectBranch();" appendTo="" [(ngModel)]="selectedBranch" labelForId="IDBranch" [items]="branchList" bindLabel="Name" bindValue="" placeholder="Chọn đơn vị">
						<ng-template ng-option-tmp let-i="item" let-search="searchTerm">
							<div *ngIf="i">
								<div> <span *ngFor="let l of i.levels">&nbsp;&nbsp;&nbsp;</span> <span [ngOptionHighlight]="search">{{i.Name}}</span></div>
							</div>
						</ng-template>
					</ng-select>
				</div>

				<div class="c-control">
					<label class="c-label" for="Storer">
						<ion-text color="primary">
							Chủ hàng
						</ion-text>
					</label>
					<ng-select class="c-input no-check-dirty" (change)="loadNode();" appendTo="" [(ngModel)]="selectedStorer" labelForId="Storer" [items]="storerList" bindLabel="Name" bindValue="" placeholder="Chọn chủ hàng">
						<ng-template ng-option-tmp let-i="item" let-search="searchTerm">
							<div *ngIf="i">
								<div> <span *ngFor="let l of i.levels">&nbsp;&nbsp;&nbsp;</span> <span [ngOptionHighlight]="search">{{i.Name}}</span></div>
							</div>
						</ng-template>
					</ng-select>
				</div>

				<div class="c-control">
					<label class="c-label" for="Zone">
						<ion-text color="primary">
							Zone
						</ion-text>
					</label>
					<ng-select class="c-input no-check-dirty" (change)="selectZone();" appendTo="" [(ngModel)]="selectedZone" labelForId="Zone" [items]="zoneList" bindLabel="Name" bindValue="" placeholder="Chọn đơn vị">
						<ng-template ng-option-tmp let-i="item" let-search="searchTerm">
							<div *ngIf="i">
								<div> <span *ngFor="let l of i.levels">&nbsp;&nbsp;&nbsp;</span> <span [ngOptionHighlight]="search">{{i.Name}}</span></div>
							</div>
						</ng-template>
					</ng-select>
				</div>

				<div class="c-control">
					<label class="c-label" for="Location">
						<ion-text color="primary">
							Location
						</ion-text>
					</label>
					<ng-select class="c-input no-check-dirty" (change)="loadNode();" appendTo="" [(ngModel)]="selectedLocation" labelForId="Location" [items]="locationList" bindLabel="Name" bindValue="" placeholder="Chọn đơn vị">
						<ng-template ng-option-tmp let-i="item" let-search="searchTerm">
							<div *ngIf="i">
								<div> <span *ngFor="let l of i.levels">&nbsp;&nbsp;&nbsp;</span> <span [ngOptionHighlight]="search">{{i.Name}}</span></div>
							</div>
						</ng-template>
					</ng-select>
				</div>

				<div class="c-control">
					<label class="c-label" for="IDItem">
						<ion-text color="primary">
							Item
						</ion-text>
					</label>
					<ng-select class="c-input no-check-dirty" (change)="loadNode();" appendTo="" [(ngModel)]="selectedItem" labelForId="IDItem" 
					[items]="itemList$ | async" [typeahead]="itemListInput$" [virtualScroll]="true" bindLabel="Name" bindValue="" placeholder="Tìm tên hoặc mã sản phẩm...">
						<ng-template ng-option-tmp let-i="item" let-search="searchTerm">
							<div *ngIf="i">
								<div><span [ngOptionHighlight]="search">{{i.Name}}</span></div>
								<small>#<b><span class="important" [ngOptionHighlight]="search">{{i.Id}} - {{i.Code}}</span></b></small>
							</div>
						</ng-template>
					</ng-select>
				</div>

				<div class="c-control">
					<label class="c-label" for="ValidFrom">Từ ngày</label>
					<input (change)="loadNode()" [(ngModel)]="fromDate" class="c-input no-check-dirty" type="date">
				</div>

				<div class="c-control">
					<label class="c-label" for="ValidTo">Đến ngày</label>
					<input (change)="loadNode()" [(ngModel)]="toDate" class="c-input no-check-dirty" [min]="fromDate" type="date">
				</div>

			</div>

			<div *ngIf="selectedBranch">
				<ion-list-header lines="full">
					<ion-label color="dark">Bảng kê</ion-label>
				</ion-list-header>
				<ion-list>
					<ion-item *ngFor="let i of optionGroup" [color]="segmentView == i.Code? 'primary': '' " button detail="true" lines="full" class="clickable" (click)="loadNode(i)">
						<ion-label class="ion-text-wrap">
							<h3>{{i.Name}}</h3>
							<p *ngIf="i.Remark">{{i.Remark}}</p>
						</ion-label>
					</ion-item>
				</ion-list>
			</div>
			<div class="ion-padding" style="padding-bottom: 0;"></div>
		</div>
	</ion-fab>
	<!-- <ion-content>
		<ion-slides pager="false" scrollbar="false" [options]="slideOpts">
		  <ion-slide>
			<div class="swiper-zoom-container">
				<app-warehouse-transaction [showSearch]="pageConfig.isShowSearch" [setQuery]="setQuery" *ngIf="segmentView=='warehouse-transaction'"></app-warehouse-transaction>
			</div>
		  </ion-slide>
		</ion-slides>
	  </ion-content> -->
	<div *ngIf="selectedBranch && setQuery" style="min-width: 300px; height: calc(100vh - 65px);">
		<app-warehouse-input-output-inventory [setQuery]="setQuery" *ngIf="segmentView=='warehouse-input-output-inventory'"></app-warehouse-input-output-inventory>
		<app-warehouse-transaction [showSearch]="pageConfig.isShowSearch" [setQuery]="setQuery" *ngIf="segmentView=='warehouse-transaction'"></app-warehouse-transaction>
		<app-warehouse-item-location [setQuery]="setQuery" *ngIf="segmentView=='warehouse-item-location'"></app-warehouse-item-location>
		<app-warehouse-item-lot [setQuery]="setQuery" *ngIf="segmentView=='warehouse-item-lot'"></app-warehouse-item-lot>
		<app-warehouse-item-location-lot-lpn [setQuery]="setQuery" *ngIf="segmentView=='warehouse-item-location-lot-lpn'"></app-warehouse-item-location-lot-lpn>
	</div>

	<!-- <app-page-message [itemsLength]="items.length" [showSpinner]="pageConfig.showSpinner"></app-page-message>
	<div *ngIf="items.length && pageConfig.showSpinner==false">
		<section class="table">
			<ion-virtual-scroll [items]="items" approxItemHeight="27px">
				<ng-container *virtualItem="let i; let itemBounds = bounds; let j = index;">
					<div class="row" [ngClass]="{odd: j % 2 != 0}" [ngClass]="{selected: i.checked}">
						<div class="col-checkbox cell">
							<input (click)="changeSelection(i, $event)" class="c-checkbox" [(ngModel)]="i.checked" type="checkbox">
						</div>
						<div class="col-code cell">
							{{i.Storer}}
						</div>
						<div class="col-code cell">
							{{i.Zone}}
						</div>
						<div class="col-code cell">
							{{i.Location}}
						</div>
						<div class="col-code cell">
							{{i.LOT}}
						</div>
						<div class="col-code cell">
							{{i.LPN}}
						</div>
						<div class="col-code cell">
							{{i.Item}}
						</div>
						<div class="col-number cell">
							i.
						</div>
					</div>
				</ng-container>
			</ion-virtual-scroll>
		</section>
	</div>
	<ion-infinite-scroll color="primary" threshold="20%" (ionInfinite)="loadData($event)" [disabled]="!pageConfig.infiniteScroll || pageConfig.isEndOfData">
		<ion-infinite-scroll-content loadingSpinner="dots"></ion-infinite-scroll-content>
	</ion-infinite-scroll> -->
</ion-content>