<ion-header>
    <ion-toolbar class="no-padding">
        <ion-buttons slot="start">
            <ion-button color="dark" class="ion-hide-sm-down">
                Checkin logs
            </ion-button>
        </ion-buttons>
        <ion-buttons slot="end">
            <ion-button (click)="refresh()" title="Refresh">
                <ion-icon slot="icon-only" name="reload-outline"></ion-icon>
            </ion-button>

            <ion-button title="Trợ giúp" (click)="help()">
                <ion-icon slot="icon-only" name="help-circle-outline"></ion-icon>
            </ion-button>

            <ion-button title="Đóng lại" color="secondary" (click)="closeModal()">
                <ion-icon slot="icon-only" name="close"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content appScrollbarTheme class="ion-padding" fullscreen>
    <form [formGroup]="formGroup">
        <ion-grid fixed>
            <ion-row>
                

                <ion-col size="12" size-sm="12" size-md="12">
                    <div class="c-control" >
                        <label class="c-label" for="IDStaff">Chọn nhân sự
                            <span *ngIf="!formGroup.controls.IDStaff.valid && !formGroup.controls.IDStaff.pending && (formGroup.controls.IDStaff.dirty || submitAttempt)" ion-text color="danger">(*)</span>
                        </label>
                        <div class="c-control">
                            <ng-select class="c-input" labelForId="IDStaff" formControlName="IDStaff" [items]="staffList" bindLabel="FullName" bindValue="id" placeholder="Chọn nhân sự...">
                                <ng-template ng-option-tmp let-i="item" let-search="searchTerm">
                                    <div *ngIf="i">
                                        <div> <span [ngOptionHighlight]="search"><b>{{i.Code}}</b> {{i.FullName}}</span></div>
                                    </div>
                                </ng-template>
                            </ng-select>
                        </div> 
                    </div>

                    <div class="c-control">
                        <label class="c-label" for="IDOffice">Địa điểm
                            <span *ngIf="!formGroup.controls.IDOffice.valid && !formGroup.controls.IDOffice.pending && (formGroup.controls.IDOffice.dirty || submitAttempt)" ion-text color="danger">(*)</span>
                        </label>
                        <ng-select class="c-input" (change)="changeOffice()" labelForId="IDOffice" formControlName="IDOffice" [items]="officeList" bindLabel="Name" bindValue="Id" placeholder="Tìm kiếm...">
                            <ng-template ng-option-tmp let-i="item" let-search="searchTerm">
                                <div *ngIf="i">
                                    <div [ngOptionHighlight]="search">{{i.Name}}</div>
                                </div>
                            </ng-template>
                        </ng-select>
                    </div>

                    

                    <div class="c-control">
                        <label class="c-label" for="IDGate">Cổng checkin
                            <span *ngIf="!formGroup.controls.IDGate.valid && !formGroup.controls.IDGate.pending && (formGroup.controls.IDGate.dirty || submitAttempt)" ion-text color="danger">(*)</span>
                        </label>
                        <ng-select class="c-input" labelForId="IDGate" formControlName="IDGate" [items]="gateViewList" bindLabel="Name" bindValue="Id" placeholder="Tìm kiếm...">
                            <ng-template ng-option-tmp let-i="item" let-search="searchTerm">
                                <div *ngIf="i">
                                    <div>  <b [ngOptionHighlight]="search">{{i.Name}}</b>&nbsp;<span>{{i.Type}}</span></div>
                                </div>
                            </ng-template>
                        </ng-select>
                    </div>

                    <div class="c-control">
                        <label class="c-label" for="LogTime">Thời gian
                            <span *ngIf="!formGroup.controls.LogTime.valid && !formGroup.controls.LogTime.pending && (formGroup.controls.LogTime.dirty || submitAttempt)" ion-text color="danger">(*)</span>
                        </label>
                        <input class="c-input" id="LogTime" formControlName="LogTime" type="datetime-local">
                    </div>

                    <!-- <div class="c-control">
                        <div>
                            <input class="c-checkbox" id="IsValidLog" formControlName="IsValidLog" type="checkbox">
                            <label class="c-label checkbox" for="IsValidLog">Valid log
                                <span *ngIf="!formGroup.controls.IsValidLog.valid && !formGroup.controls.IsValidLog.pending && (formGroup.controls.IsValidLog.dirty || submitAttempt)" ion-text color="danger">(*)</span>
                            </label>
                        </div>
                    </div> -->

                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col>
                    <div class="c-control ion-text-right">
                        <label class="c-label" for=""></label>
                        <ion-button (click)="massShiftAssignment()">Thêm log</ion-button>
                    </div>
                </ion-col>
            </ion-row>
        </ion-grid>
    </form>
</ion-content>