<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button defaultHref="mcp"></ion-back-button>
            <ion-button color="dark" class="ion-hide-sm-down">
                Tuyến bán hàng
            </ion-button>
        </ion-buttons>
        <ion-buttons slot="end">
            <app-detail-toolbar [item]="item" [pageConfig]="pageConfig" (refresh)="refresh()" (delete)="delete()" (help)="help()"></app-detail-toolbar>
        </ion-buttons>
    </ion-toolbar>
</ion-header>


<ion-content appScrollbarTheme class="ion-padding">
    <app-page-message [itemsLength]="item? 1: 0" [showSpinner]="pageConfig.showSpinner"></app-page-message>

    <div class="main-view" *ngIf="item && pageConfig.showSpinner==false">
        <ion-grid fixed>
            <form [formGroup]="formGroup">
                <ion-row class="hr-group" style=" border: none">
                    <ion-col size="12" size-sm="12" size-md="12" size-xl="3">
                        <ion-list-header class="ion-no-padding">
                            <ion-label color="primary">Thông tin tuyến</ion-label>
                        </ion-list-header>
                    </ion-col>
                    <ion-col size="12" size-sm size-xl="4">
                        <div class="c-control" *ngIf="item.Id">
                            <label class="c-label" for="Id">Id</label>
                            <input class="c-input" id="Id" formControlName="Id" type="number">
                        </div>

                        <div class="c-control">
                            <label class="c-label" for="Name">Tên gọi chung
                                <span *ngIf="!formGroup.controls.Name.valid && !formGroup.controls.Name.pending && (formGroup.controls.Name.dirty || submitAttempt)" ion-text color="danger">(*)</span>
                            </label>
                            <input (change)="saveChange()" class="c-input" id="Name" formControlName="Name" type="text">
                        </div>

                        <div class="c-control">
                            <label class="c-label" for="IDSeller">Nhân viên bán hàng <small>Seller</small>
                                <span *ngIf="!formGroup.controls.IDSeller.valid && !formGroup.controls.IDSeller.pending && (formGroup.controls.IDSeller.dirty || submitAttempt)" ion-text color="danger">(*)</span>
                            </label>
                            <ng-select (change)="saveChange()" class="c-input" #IDSeller formControlName="IDSeller" labelForId="IDSeller" [items]="sellerList$ | async" [typeahead]="sellerListInput$" [loading]='sellerListLoading' [virtualScroll]="true" bindLabel="FullName" bindValue="Id" placeholder="Tìm tên, mã hoặc số điện thoại...">
                                <ng-template ng-option-tmp let-i="item" let-search="searchTerm">
                                    <div *ngIf="i">
                                        <div><span [ngOptionHighlight]="search">{{i.FullName}}</span></div>
                                        <small>#<b><span class="important" [ngOptionHighlight]="search">{{i.Id}} - {{i.Code}}</span></b> <span *ngIf="i.Phone"> | điện thoại: <b [ngOptionHighlight]="search">{{i.Phone}}</b></span></small>
                                    </div>
                                </ng-template>
                            </ng-select>

                        </div>

                        <div class="c-control">
                            <label class="c-label" for="IDWarehouse">Kho hàng</label>
                            <ng-select class="c-input" (change)="saveChange()" #IDWarehouse formControlName="IDWarehouse" labelForId="IDWarehouse" [items]="wareHouseList" bindLabel="Name" bindValue="Id" placeholder="Chọn kho...">
                                <ng-template ng-option-tmp let-i="item" let-search="searchTerm">
                                    <div *ngIf="i">
                                        <div><span [ngOptionHighlight]="search">{{i.Name}}</span></div>
                                    </div>
                                </ng-template>
                            </ng-select>
                        </div>

                    </ion-col>
                    <ion-col size="12" size-sm size-xl="4">
                        <div class="c-control">
                            <label class="c-label" for="IDVehicleForUrgent">Xe giao hàng gấp</label>
                            <ng-select (change)="changedVehicle()" class="c-input" #IDVehicleForUrgent formControlName="IDVehicleForUrgent" labelForId="IDVehicleForUrgent" [items]="vehicleList" bindLabel="Name" bindValue="Id" placeholder="Tìm số xe...">
                                <ng-template ng-option-tmp let-i="item" let-search="searchTerm">
                                    <div *ngIf="i">
                                        <div><span [ngOptionHighlight]="search">{{i.Name}}</span></div>
                                    </div>
                                </ng-template>
                            </ng-select>
                        </div>

                        <div class="c-control">
                            <label class="c-label" for="IDVehicleForWholeSale">Xe giao hàng sỉ</label>
                            <ng-select (change)="changedVehicle()" class="c-input" #IDVehicleForWholeSale formControlName="IDVehicleForWholeSale" labelForId="IDVehicleForWholeSale" [items]="vehicleList" bindLabel="Name" bindValue="Id" placeholder="Tìm số xe...">
                                <ng-template ng-option-tmp let-i="item" let-search="searchTerm">
                                    <div *ngIf="i">
                                        <div><span [ngOptionHighlight]="search">{{i.Name}}</span></div>
                                    </div>
                                </ng-template>
                            </ng-select>
                        </div>

                        <div class="c-control">
                            <label class="c-label" for="IDVehicleForSample">Xe giao hàng trưng bày</label>
                            <ng-select (change)="changedVehicle()" class="c-input" #IDVehicleForSample formControlName="IDVehicleForSample" labelForId="IDVehicleForSample" [items]="vehicleList" bindLabel="Name" bindValue="Id" placeholder="Tìm số xe...">
                                <ng-template ng-option-tmp let-i="item" let-search="searchTerm">
                                    <div *ngIf="i">
                                        <div><span [ngOptionHighlight]="search">{{i.Name}}</span></div>
                                    </div>
                                </ng-template>
                            </ng-select>
                        </div>

                        <div class="c-control">
                            <label class="c-label" for="IDVehicle">Xe giao hàng tiêu chuẩn</label>
                            <ng-select (change)="changedVehicle()" class="c-input" #IDVehicle formControlName="IDVehicle" labelForId="IDVehicle" [items]="vehicleList" bindLabel="Name" bindValue="Id" placeholder="Tìm số xe...">
                                <ng-template ng-option-tmp let-i="item" let-search="searchTerm">
                                    <div *ngIf="i">
                                        <div><span [ngOptionHighlight]="search">{{i.Name}}</span></div>
                                    </div>
                                </ng-template>
                            </ng-select>
                        </div>

                        <!-- <div class="c-control">
                            <label class="c-label" for="IDShipper">Nhân viên giao hàng <small>Shipper</small>
                                <span *ngIf="!formGroup.controls.IDShipper.valid && !formGroup.controls.IDShipper.pending && (formGroup.controls.IDShipper.dirty || submitAttempt)" ion-text color="danger">(*)</span>
                            </label>
                            <ng-select (change)="saveChange()" class="c-input" #IDShipper formControlName="IDShipper" labelForId="IDShipper" [items]="shipperList$ | async" [typeahead]="shipperListInput$" [loading]='shipperListLoading' [virtualScroll]="true" bindLabel="FullName" bindValue="Id" placeholder="Tìm tên, mã hoặc số điện thoại...">
                                <ng-template ng-option-tmp let-i="item" let-search="searchTerm">
                                    <div *ngIf="i">
                                        <div><span [ngOptionHighlight]="search">{{i.FullName}}</span></div>
                                        <small>#<b><span class="important" [ngOptionHighlight]="search">{{i.Id}} - {{i.Code}}</span></b> <span *ngIf="i.Phone"> | điện thoại: <b [ngOptionHighlight]="search">{{i.Phone}}</b></span></small>
                                    </div>
                                </ng-template>
                            </ng-select>
                        </div>

                        <div class="c-control">
                            <label class="c-label" for="StartDate">Ngày bắt đầu <small>Start date</small>
                                <span *ngIf="!formGroup.controls.StartDate.valid && !formGroup.controls.StartDate.pending && (formGroup.controls.StartDate.dirty || submitAttempt)" ion-text color="danger">(*)</span>
                            </label>
                            <input (change)="saveChange()" class="c-input" id="StartDate" formControlName="StartDate" [ngModel]="item.StartDate | date:'yyyy-MM-dd'" type="date" [min]="minDOB" [max]="maxDOB">
                        </div> -->

                        <div class="c-control">
                            <label class="c-label" for=""></label>
                            <ion-button *ngIf="!item.Id && pageConfig.canAdd" expand="block" (click)="saveChange()" [disabled]="!formGroup.dirty">Thêm tuyến</ion-button>
                        </div>

                    </ion-col>
                </ion-row>

                <!-- <ion-row class="hr-group">
                    <ion-col size="12" size-sm="12" size-md="12" size-xl="3">
                        <ion-list-header class="ion-no-padding">
                            <ion-label color="primary">Thông tin sản phẩm</ion-label>
                        </ion-list-header>
                    </ion-col>
                    <ion-col size="12" size-sm size-xl="4">
                        
                    </ion-col>
                    <ion-col size="12" size-sm size-xl="4">
                        
                    </ion-col>
                </ion-row> -->
            </form>


        </ion-grid>

        <div class="row-full shadow full-screen">
            <ion-toolbar color="primary">
                <ion-buttons class="ion-hide-md-down" slot="start" *ngIf="segmentView == 's1'">

                    <ion-button color="primary" *ngIf="pageConfig.canEdit">
                        <ion-icon slot="start" name="truck"></ion-icon>
                        Thêm khách hàng
                    </ion-button>

                    <ion-button color="primary" title="Export">
                        <ion-icon slot="icon-only" name="cloud-download-outline"></ion-icon>
                    </ion-button>

                    <ion-button color="primary" title="Import" *ngIf="pageConfig.canEdit">
                        <ion-icon slot="icon-only" name="cloud-upload-outline"></ion-icon>
                    </ion-button>

                </ion-buttons>

                <ion-segment scrollable="false" (ionChange)="segmentChanged($event)" [value]="segmentView">
                    <ion-segment-button value="s1">
                        <ion-label>Khách hàng <span *ngIf="routeDetail.length">({{routeDetail.length}})</span></ion-label>
                    </ion-segment-button>
                    <ion-segment-button value="s2">
                        <ion-label>Bản đồ lộ trình</ion-label>
                    </ion-segment-button>
                </ion-segment>

                <ion-buttons slot="end" *ngIf="segmentView == 's1'">

                    <ion-button (click)="showMCPCustomerPickerModal()" *ngIf="pageConfig.canEdit">
                        <ion-icon slot="start" name="truck"></ion-icon>
                        Thêm khách hàng
                    </ion-button>

                    <ion-button title="Export">
                        <ion-icon slot="icon-only" name="cloud-download-outline"></ion-icon>
                    </ion-button>

                    <ion-button title="Import" *ngIf="pageConfig.canEdit">
                        <ion-icon slot="icon-only" name="cloud-upload-outline"></ion-icon>
                    </ion-button>

                </ion-buttons>

            </ion-toolbar>

            <div *ngIf="segmentView == 's1'">

                <div class="table-contain">
                    <section class="table" style="min-width: 1220px;">
                        <header class="bold">
                            <div class="col-name cell">Khách hàng</div>


                            <div class="col-code cell">Thứ tự lấy hàng</div>

                            <div class="col-checkbox cell ">W1</div>
                            <div class="col-checkbox cell ">W2</div>
                            <div class="col-checkbox cell ">W3</div>
                            <div class="col-checkbox cell ">W4</div>

                            <div class="col-checkbox cell">Mon</div>
                            <div class="col-checkbox cell">Tue</div>
                            <div class="col-checkbox cell">Wed</div>
                            <div class="col-checkbox cell">Thu</div>
                            <div class="col-checkbox cell">Fri</div>
                            <div class="col-checkbox cell">Sat</div>
                            <div class="col-checkbox cell">Sun</div>

                            <div class="col-checkbox cell">F</div>
                            <div class="col-checkbox cell" *ngIf="pageConfig.canEdit"></div>

                        </header>
                    </section>
                    <section class="table table-scroll">
                        <div class="row" [ngClass]="{odd: j % 2 != 0 }" *ngFor="let i of routeDetail; let j = index;">
                            <div class="col-name cell">{{i.CustomerName}} <small> {{i.IDContact}}</small> <small>{{i.AddressLine1}}</small> <small *ngIf="i.AddressLine2">{{i.AddressLine2}}</small></div>

                            <div class="col-code cell"><input [disabled]="!pageConfig.canEdit" (change)="saveRouteDetail(i)" class="c-input" [(ngModel)]="i.Sort" type="number"></div>

                            <div class="col-checkbox cell week"><input [disabled]="!pageConfig.canEdit" (change)="saveRouteDetail(i)" class="c-checkbox" [(ngModel)]="i.Week1" type="checkbox"></div>
                            <div class="col-checkbox cell week"><input [disabled]="!pageConfig.canEdit" (change)="saveRouteDetail(i)" class="c-checkbox" [(ngModel)]="i.Week2" type="checkbox"></div>
                            <div class="col-checkbox cell week"><input [disabled]="!pageConfig.canEdit" (change)="saveRouteDetail(i)" class="c-checkbox" [(ngModel)]="i.Week3" type="checkbox"></div>
                            <div class="col-checkbox cell week"><input [disabled]="!pageConfig.canEdit" (change)="saveRouteDetail(i)" class="c-checkbox" [(ngModel)]="i.Week4" type="checkbox"></div>

                            <div class="col-checkbox cell"><input [disabled]="!pageConfig.canEdit" (change)="saveRouteDetail(i)" class="c-checkbox" [(ngModel)]="i.Monday" type="checkbox"></div>
                            <div class="col-checkbox cell"><input [disabled]="!pageConfig.canEdit" (change)="saveRouteDetail(i)" class="c-checkbox" [(ngModel)]="i.Tuesday" type="checkbox"></div>
                            <div class="col-checkbox cell"><input [disabled]="!pageConfig.canEdit" (change)="saveRouteDetail(i)" class="c-checkbox" [(ngModel)]="i.Wednesday" type="checkbox"></div>
                            <div class="col-checkbox cell"><input [disabled]="!pageConfig.canEdit" (change)="saveRouteDetail(i)" class="c-checkbox" [(ngModel)]="i.Thursday" type="checkbox"></div>
                            <div class="col-checkbox cell"><input [disabled]="!pageConfig.canEdit" (change)="saveRouteDetail(i)" class="c-checkbox" [(ngModel)]="i.Friday" type="checkbox"></div>
                            <div class="col-checkbox cell"><input [disabled]="!pageConfig.canEdit" (change)="saveRouteDetail(i)" class="c-checkbox" [(ngModel)]="i.Saturday" type="checkbox"></div>
                            <div class="col-checkbox cell"><input [disabled]="!pageConfig.canEdit" (change)="saveRouteDetail(i)" class="c-checkbox" [(ngModel)]="i.Sunday" type="checkbox"></div>



                            <!-- <div class="col-checkbox cell" (click)="i.Monday = !i.Monday; saveRouteDetail(i)">
                                <ion-checkbox [disabled]="!pageConfig.canEdit" [checked]="i.Monday"></ion-checkbox>
                            </div>
                            <div class="col-checkbox cell" (click)="i.Tuesday = !i.Tuesday; saveRouteDetail(i)">
                                <ion-checkbox [disabled]="!pageConfig.canEdit" [checked]="i.Tuesday"></ion-checkbox>
                            </div>
                            <div class="col-checkbox cell" (click)="i.Wednesday = !i.Wednesday; saveRouteDetail(i)">
                                <ion-checkbox [disabled]="!pageConfig.canEdit" [checked]="i.Wednesday"></ion-checkbox>
                            </div>
                            <div class="col-checkbox cell" (click)="i.Thursday = !i.Thursday; saveRouteDetail(i)">
                                <ion-checkbox [disabled]="!pageConfig.canEdit" [checked]="i.Thursday"></ion-checkbox>
                            </div>
                            <div class="col-checkbox cell" (click)="i.Friday = !i.Friday; saveRouteDetail(i)">
                                <ion-checkbox [disabled]="!pageConfig.canEdit" [checked]="i.Friday"></ion-checkbox>
                            </div>
                            <div class="col-checkbox cell" (click)="i.Saturday = !i.Saturday; saveRouteDetail(i)">
                                <ion-checkbox [disabled]="!pageConfig.canEdit" [checked]="i.Saturday"></ion-checkbox>
                            </div>
                            <div class="col-checkbox cell" (click)="i.Sunday = !i.Sunday; saveRouteDetail(i)">
                                <ion-checkbox [disabled]="!pageConfig.canEdit" [checked]="i.Sunday"></ion-checkbox>
                            </div> -->

                            <div class="col-checkbox cell">{{i.Frequency}}</div>
                            <div class="col-checkbox cell" *ngIf="pageConfig.canEdit" (click)="deleteRouteDetail(i)">
                                <ion-icon color="danger" class="min-btn" name="trash-outline"></ion-icon>
                            </div>

                        </div>

                    </section>
                </div>
                
            </div>
        </div>
    </div>

</ion-content>