<ion-header>
    <ion-toolbar class="no-padding">
        <ion-buttons slot="start">
            <ion-button color="dark" class="ion-hide-sm-down">
                Phân ca
            </ion-button>
        </ion-buttons>
        <ion-buttons slot="end">
            <ion-button (click)="refresh()" title="Refresh">
                <ion-icon slot="icon-only" name="reload-outline"></ion-icon>
            </ion-button>

            <ion-button title="Trợ giúp" (click)="help()">
                <ion-icon slot="icon-only" name="help-circle-outline"></ion-icon>
            </ion-button>

            <ion-button title="Đóng lại" color="secondary" (click)="closeModal()">
                <ion-icon slot="icon-only" name="close"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content appScrollbarTheme class="ion-padding" fullscreen>
    <form [formGroup]="formGroup">
        <ion-grid fixed>
            <ion-row>
                <ion-col size="12" size-sm="12" size-md="6">
                    <div class="c-control">
                        <label class="c-label" for="FromDate">Từ ngày
                            <span *ngIf="!formGroup.controls.FromDate.valid && !formGroup.controls.FromDate.pending && (formGroup.controls.FromDate.dirty || submitAttempt)" ion-text color="danger">(*)</span>
                        </label>
                        <input class="c-input" id="FromDate" formControlName="FromDate" type="date">
                    </div>
                </ion-col>
                <ion-col size="12" size-sm="12" size-md="6">
                    <div class="c-control">
                        <label class="c-label" for="ToDate">Đến ngày
                            <span *ngIf="!formGroup.controls.ToDate.valid && !formGroup.controls.ToDate.pending && (formGroup.controls.ToDate.dirty || submitAttempt)" ion-text color="danger">(*)</span>
                        </label>
                        <input class="c-input" id="ToDate" formControlName="ToDate" type="date">
                    </div>
                </ion-col>
                <ion-col size="12" size-sm="12" size-md="12">
                    <div class="c-control">
                        <label class="c-label" for="SelectedDate">Các ngày trong tuần
                            <span *ngIf="!formGroup.controls.SelectedDate.valid && !formGroup.controls.SelectedDate.pending && (formGroup.controls.SelectedDate.dirty || submitAttempt)" ion-text color="danger">(*)</span>
                        </label>
                        <div class="c-control">
                            <ng-select class="c-input" labelForId="SelectedDate" formControlName="SelectedDate" 
                            groupBy="Group" [selectableGroup]="true"
                            [selectableGroupAsModel]="false"
                            [closeOnSelect]="false"
                            [items]="dayList" bindLabel="Day" bindValue="Value" [multiple]="true" placeholder="Chọn ngày trong tuần...">
                                <ng-template ng-optgroup-tmp let-item="item" let-item$="item$" let-index="index">
                                    <input id="item-{{index}}" type="checkbox" [ngModel]="item$.selected" [ngModelOptions]="{standalone: true}"/> Tất cả
                                </ng-template>
                                <ng-template ng-option-tmp let-item="item" let-item$="item$" let-index="index">
                                    <input id="item-{{index}}" type="checkbox" [ngModel]="item$.selected" [ngModelOptions]="{standalone: true}"/> {{item.Day}}
                                </ng-template>
                            </ng-select>
                        </div> 
                    </div>

                    <div class="c-control">
                        <label class="c-label" for="IDShift">Chọn ca
                            <span *ngIf="!formGroup.controls.IDShift.valid && !formGroup.controls.IDShift.pending && (formGroup.controls.IDShift.dirty || submitAttempt)" ion-text color="danger">(*)</span>
                        </label>
                        <ng-select class="c-input" labelForId="IDShift" formControlName="IDShift" [items]="shiftList" bindLabel="Name" bindValue="Id" placeholder="Tìm kiếm...">
                            <ng-template ng-option-tmp let-i="item" let-search="searchTerm">
                                <div *ngIf="i">
                                    <div>  <b [ngOptionHighlight]="search">{{i.Name}}</b>&nbsp;<span>({{i.Start}} - {{i.End}})</span></div>
                                </div>
                            </ng-template>
                        </ng-select>
                    </div>

                    <div class="c-control" *ngIf="!formGroup.controls.IsOpenShift.value && !formGroup.controls.IsAllStaff.value">
                        <label class="c-label" for="SelectedStaff">Chọn nhân sự
                            <span *ngIf="!formGroup.controls.SelectedStaff.valid && !formGroup.controls.SelectedStaff.pending && (formGroup.controls.SelectedStaff.dirty || submitAttempt)" ion-text color="danger">(*)</span>
                        </label>
                        <div class="c-control">
                            <ng-select class="c-input" labelForId="SelectedStaff" formControlName="SelectedStaff" [items]="staffList" bindLabel="FullName" bindValue="id" [multiple]="true" placeholder="Chọn nhân sự...">
                                <ng-template ng-option-tmp let-i="item" let-search="searchTerm">
                                    <div *ngIf="i">
                                        <div> <span [ngOptionHighlight]="search"><b>{{i.Code}}</b> {{i.FullName}}</span></div>
                                    </div>
                                </ng-template>
                            </ng-select>
                        </div> 
                    </div>

                    <div class="c-control">
                        <div>
                            <input class="c-checkbox" id="IsOpenShift" formControlName="IsOpenShift" type="checkbox">
                            <label class="c-label checkbox" for="IsOpenShift">Là ca mở
                                <span *ngIf="!formGroup.controls.IsOpenShift.valid && !formGroup.controls.IsOpenShift.pending && (formGroup.controls.IsOpenShift.dirty || submitAttempt)" ion-text color="danger">(*)</span>
                            </label>
                        </div>
                        <div *ngIf="!formGroup.controls.IsOpenShift.value">
                            <input class="c-checkbox" id="IsAllStaff" formControlName="IsAllStaff" type="checkbox">
                            <label class="c-label checkbox" for="IsAllStaff">Tất cả nhân sự trong lịch làm việc
                                <span *ngIf="!formGroup.controls.IsAllStaff.valid && !formGroup.controls.IsAllStaff.pending && (formGroup.controls.IsAllStaff.dirty || submitAttempt)" ion-text color="danger">(*)</span>
                            </label>
                        </div>
                    </div>

                    


                    <!-- <div class="c-control">
                        <label class="c-label" for="FromDate">Tên rút gọn
                            <span *ngIf="!formGroup.controls.FromDate.valid && !formGroup.controls.FromDate.pending && (formGroup.controls.FromDate.dirty || submitAttempt)" ion-text color="danger">(*)</span>
                        </label>
                        <input class="c-input" id="FromDate" formControlName="FromDate" type="date">
                    </div> -->


                </ion-col>

            </ion-row>
            <ion-row>
                <ion-col>


                    <div class="c-control ion-text-right">
                        <label class="c-label" for=""></label>
                        <ion-button (click)="massShiftAssignment()">Phân ca</ion-button>
                    </div>

                </ion-col>
            </ion-row>
        </ion-grid>


    </form>
</ion-content>