
ion-content{
    --background: linear-gradient(180deg, var(--menu-background-top), var(--menu-background-bottom));
}

.login{

	form{
		max-width: 400px;
		margin: auto;
		margin-top: 9vh;
	
		.removeAutoComplete{
			opacity: 0;
			height: 1px;
			width: 1px;
		}
		
		ion-label{
			color: var(--ion-color-medium);
			font-size: 1.8rem;
			font-weight: bold;
			padding-top: 10px;
		}
	
		ion-input{
			--background: var(--ion-color-light);
			border-radius: 4px;
			padding: 5px 20px !important;
			input{

				color: var(--ion-color-light-contrast); 
				background-color: var(--ion-color-light);
				
			}
		} 
	}
}

.c-control{
    margin-bottom: 25px;
    padding-left: 0px;
    position: relative;
     
    .c-input, .c-dropdown{
        display: inline-block;
        border-radius: 4px;
        padding: 15px 25px;

        // height: 36px;
        // line-height: 36px;

        font-size: 1.4rem;
        color: var(--ion-color-light-contrast);
        border: 1px solid var(--ion-color-secondary);
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        background-color: var(--ion-color-light);
        text-overflow: ellipsis;
        overflow: hidden;
        width: calc(100% - 0px);
        &.ng-dirty{
            //border: 1px solid var(--ion-color-secondary); 
        }
        &.ng-invalid{
            //border: 1px solid red; 
        }
    }
   
    .c-dropdown, .date{
        background-image: url('../../../../assets/ddown.svg'), none;
        background-repeat: no-repeat;
        background-size: 26px;
        background-position: right center;
        padding-right: 32px;
    }
    .c-label{
        color: var(--ion-color-medium);
        margin-right: 10px;
        margin-bottom: 8px;
        font-size:1rem;
        font-weight: bold;
        display: inline-block;
        width: calc(100% - 0px);
        text-align: left;
        vertical-align: top;
        
    }
    p.text {
        margin-top: -48px;
        padding-left: 5px;
        position: absolute;
        background: var(--ion-color-medium);
        padding: 16px 17px;
        border-radius: 10px;
        color: #FFF;
        z-index: 1;
        white-space: nowrap;
        &:before {
            content: '';
            display: block;
            width: 0;
            height: 0;
            border: 10px solid var(--ion-color-secondary);
            position: absolute;
            
        }
        &.message-right{
            //margin-top: 25px;
            left: calc(100% + 15px);
            &:before {
                border-top-color: transparent;
                border-bottom-color: transparent;
                border-left-color: transparent;
                
                left: -16px;
                top: 14px;
              }
        }
        &.message-left{
            //margin-top: 25px;
            right: calc(100% + 15px);
            &:before {
                border-top-color: transparent;
                border-bottom-color: transparent;
                border-right-color: transparent;
                right: -16px;
                top: 14px;
              }
        }
    }
    
}