<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button defaultHref="pos-kitchen"></ion-back-button>
            <ion-button color="dark" class="ion-hide-sm-down">
                Bếp
            </ion-button>
        </ion-buttons>
        <ion-buttons slot="end">
            <app-detail-toolbar [item]="item" [pageConfig]="pageConfig" (refresh)="refresh()" (delete)="delete()" (help)="help()"></app-detail-toolbar>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content appScrollbarTheme class="ion-padding">
    <div class="main-view" *ngIf="item && pageConfig.showSpinner==false">
        <div class="row-full shadow full-screen">
            <div>
                <div *ngIf="segmentView == 's1'">
                    <div class="ion-padding">
                        <ion-grid fixed>
                            <form [formGroup]="formGroup">
                                <ion-row class="hr-group">
                                    <ion-col size="12" size-sm="12" size-md="4" size-xl="4">
                                        <ion-list-header class="ion-no-padding">
                                            <ion-label color="primary">Thông tin chung</ion-label>
                                        </ion-list-header>
                                    </ion-col>
                                    <ion-col size="12" size-sm size-md="8" size-xl="6">
                                        <div class="c-control" *ngIf="item.Id">
                                            <label class="c-label" for="Id">Id</label>
                                            <input class="c-input" id="Id" formControlName="Id" type="number">
                                        </div>
                                        <div class="c-control">
                                            <label class="c-label" for="Name">Tên gọi
                                                <span *ngIf="!formGroup.controls.Name.valid && !formGroup.controls.Name.pending && (formGroup.controls.Name.dirty || submitAttempt)" ion-text color="danger">(*)</span>
                                            </label>
                                            <input class="c-input" id="Name" (change)="saveChange();" formControlName="Name" type="text">
                                        </div>
                                    </ion-col>
                                </ion-row>

                                <ion-row class="hr-group">
                                    <ion-col size="12" size-sm="12" size-md="4" size-xl="4">
                                        <ion-list-header class="ion-no-padding">
                                            <ion-label color="primary">Máy in</ion-label>
                                        </ion-list-header>
                                    </ion-col>
                                    <ion-col size="12" size-sm size-md="8" size-xl="6">
                                        <div class="c-control">
                                            <label class="c-label" for="IDPrinter">Printer
                                                <span *ngIf="!formGroup.controls.IDPrinter.valid && !formGroup.controls.IDPrinter.pending && (formGroup.controls.IDPrinter.dirty || submitAttempt)" ion-text color="danger">(*)</span>
                                            </label>
                                            <ng-select class="c-input" (change)="saveChange();" labelForId="IDPrinter" formControlName="IDPrinter" [items]="IDPrinterList" bindLabel="Name" bindValue="Id" placeholder="Tìm kiếm...">
                                                <ng-template ng-option-tmp let-i="item" let-search="searchTerm">
                                                    <div *ngIf="i">
                                                        <div> <span *ngFor="let l of i.levels">&nbsp;&nbsp;&nbsp;</span> <span [ngOptionHighlight]="search">{{i.Name}}</span></div>
                                                    </div>
                                                </ng-template>
                                            </ng-select>
                                        </div>

                                        <div class="c-control">
                                            <label class="c-label" for="Remark">Mô tả
                                                <span *ngIf="!formGroup.controls.Remark.valid && !formGroup.controls.Remark.pending && (formGroup.controls.Remark.dirty || submitAttempt)" ion-text color="danger">(*)</span>
                                            </label>
                                            <textarea [readonly]="!(pageConfig.canEdit || pageConfig.canAdd)" (change)="saveChange()" rows="3" class="c-input" id="Remark" formControlName="Remark" type="textarea"></textarea>
                                        </div>



                                    </ion-col>
                                </ion-row>

                            </form>
                        </ion-grid>
                    </div>
                </div>
                <div *ngIf="segmentView == 's2'">

                    
                </div>
            </div>
        </div>
    </div>
    <app-page-message [itemsLength]="item? 1: 0" [showSpinner]="pageConfig.showSpinner"></app-page-message>
</ion-content>