<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button defaultHref="shipment"></ion-back-button>
            <ion-button color="dark" class="ion-hide-sm-down" class="ion-hide-sm-down">
                Phân tài giao hàng
            </ion-button>
        </ion-buttons>
        <ion-buttons slot="end">
            <app-detail-toolbar [item]="item" [pageConfig]="pageConfig" (refresh)="refresh()" (delete)="delete()" (help)="help()"></app-detail-toolbar>
        </ion-buttons>
    </ion-toolbar>
</ion-header>


<ion-content appScrollbarTheme class="ion-padding">
    <div id="order-detail-page" style="position: absolute;">

    </div>
    <div class="main-view" *ngIf="item && pageConfig.showSpinner==false">
        <ion-grid fixed>
            <form [formGroup]="formGroup">
                <ion-row class="hr-group">
                    <ion-col size="12" size-sm="12" size-md="12" size-xl="3">
                        <ion-list-header class="ion-no-padding">
                            <ion-label color="primary">Chuyến giao hàng</ion-label>
                        </ion-list-header>
                    </ion-col>
                    <ion-col size="12" size-sm size-xl="4">
                        <div class="c-control">
                            <label class="c-label" for="IDVehicle">Số xe</label>
                            <ng-select (change)="changedVehicle()" class="c-input" #IDVehicle formControlName="IDVehicle" labelForId="IDVehicle" [items]="vehicleList" [loading]='shipperListLoading' bindLabel="Name" bindValue="Id" placeholder="Tìm số xe...">
                                <ng-template ng-option-tmp let-i="item" let-search="searchTerm">
                                    <div *ngIf="i">
                                        <div><span [ngOptionHighlight]="search">{{i.Name}}</span></div>
                                    </div>
                                </ng-template>
                            </ng-select>
                        </div>

                        <div class="c-control">
                            <label class="c-label" for="IDShipper">Nhân viên giao hàng</label>
                            <ng-select (change)="saveChange()" class="c-input" #IDShipper formControlName="IDShipper" labelForId="IDShipper" [items]="shipperList$ | async" [typeahead]="shipperListInput$" [loading]='shipperListLoading' [virtualScroll]="true" bindLabel="FullName" bindValue="Id" placeholder="Tìm tên, mã hoặc số điện thoại...">
                                <ng-template ng-option-tmp let-i="item" let-search="searchTerm">
                                    <div *ngIf="i">
                                        <div><span [ngOptionHighlight]="search">{{i.FullName}}</span></div>
                                        <small>#<b><span class="important" [ngOptionHighlight]="search">{{i.Id}} - {{i.Code}}</span></b> <span *ngIf="i.Phone"> | điện thoại: <b [ngOptionHighlight]="search">{{i.Phone}}</b></span></small>
                                    </div>
                                </ng-template>
                            </ng-select>
                        </div>

                        <div class="c-control">
                            <label class="c-label">Ngày-giờ giao hàng {{item.DeliveryDatePart}}</label>
                            <input (change)="saveChange()" formControlName="DeliveryDatePart" [ngModel]="item.DeliveryDatePart | date:'yyyy-MM-dd'" class="c-input" type="date" style=" width: calc(100% - 110px); ">
                            <input (change)="saveChange()" formControlName="DeliveryTimePart" class="c-input" type="time" style=" width: 100px; margin-left: 10px; ">
                        </div>

                        <div class="c-control">
                            <label class="c-label" for="IDWarehouse">Kho hàng</label>
                            <ng-select class="c-input" (change)="saveChange()" #IDWarehouse formControlName="IDWarehouse" labelForId="IDWarehouse" [items]="wareHouseList" bindLabel="Name" bindValue="Id" placeholder="Chọn kho...">
                                <ng-template ng-option-tmp let-i="item" let-search="searchTerm">
                                    <div *ngIf="i">
                                        <div><span [ngOptionHighlight]="search">{{i.Name}}</span></div>
                                    </div>
                                </ng-template>
                            </ng-select>
                        </div>

                        <!-- <div class="c-control">
                            <label class="c-label" for="OriginalTotalAfterTax">Tổng tiền <small>OriginalTotalAfterTax</small>
                                <span *ngIf="!formGroup.controls.OriginalTotalAfterTax.valid && !formGroup.controls.OriginalTotalAfterTax.pending && (formGroup.controls.OriginalTotalAfterTax.dirty || submitAttempt)" ion-text color="danger">(*)</span>
                            </label>
                            <input mask="separator.2" thousandSeparator="," suffix=" ₫" class="c-input" id="OriginalTotalAfterTax" formControlName="OriginalTotalAfterTax" type="text">
                        </div> -->

                    </ion-col>
                    <ion-col size="12" size-sm size-xl="4">
                        <div class="c-control" *ngIf="item.Id">
                            <label class="c-label" for="Id"># Id</label>
                            <input class="c-input" id="Id" formControlName="Id" type="number">
                        </div>

                        <div class="c-control">
                            <label class="c-label" for="IDStatus">Tình trạng giao hàng

                                <ion-text color="primary">
                                    <small class="clickable" title="Xem chi tiết giao hàng" (click)="nav('delivery-note/'+item.Id,'forward')">In phiếu GH&nbsp;<ion-icon name="open-outline"></ion-icon></small>
                                    <small class="clickable" title="Xem chi tiết giao hàng" (click)="nav('delivery-review/'+item.Id,'forward')">Kết quả GH&nbsp;<ion-icon name="open-outline"></ion-icon></small>
                                </ion-text>

                                <span *ngIf="!formGroup.controls.IDStatus.valid && !formGroup.controls.IDStatus.pending && (formGroup.controls.IDStatus.dirty || submitAttempt)" ion-text color="danger">(*)</span>
                            </label>
                            <select class="c-input c-dropdown" formControlName="IDStatus">
                                <option *ngFor="let i of statusList" [value]="i.Id">{{i.Name}}</option>

                            </select>
                        </div>

                        <div class="c-control">
                            <label class="c-label" for="ProductWeight">Khối lượng <small>ProductWeight</small> &nbsp;&nbsp; <ion-text color="primary" *ngIf="item.ProductWeight">{{(item.ProductWeight/1000) | mask: 'separator.2':','}} tấn / {{item.WeightRecommend}} tấn (max: {{item.WeightMax}} tấn)</ion-text>
                                <span *ngIf="!formGroup.controls.ProductWeight.valid && !formGroup.controls.ProductWeight.pending && (formGroup.controls.ProductWeight.dirty || submitAttempt)" ion-text color="danger">(*)</span>
                            </label>
                            <input readonly class="c-input" id="ProductWeight" formControlName="ProductWeight" type='text' mask="separator.2" thousandSeparator="," suffix=" kg">
                            <ion-progress-bar [value]="item.WeightLoading" [buffer]="item.WeightLoadingBuffer"></ion-progress-bar>
                        </div>

                        <div class="c-control">
                            <label class="c-label" for="ProductDimensions">Thể tích <small>Volume </small> &nbsp;&nbsp; <ion-text color="primary" *ngIf="item.ProductDimensionsM">{{item.ProductDimensionsM | mask: 'separator.2':','}} m³ / {{item.VolumeRecommend}} m³ (max: {{item.VolumeMax}} m³)</ion-text>
                                <span *ngIf="!formGroup.controls.ProductDimensions.valid && !formGroup.controls.ProductDimensions.pending && (formGroup.controls.ProductDimensions.dirty || submitAttempt)" ion-text color="danger">(*)</span>
                            </label>

                            <input readonly class="c-input" id="ProductDimensions" formControlName="ProductDimensions" type='text' mask="separator.2" thousandSeparator="," suffix=" cm³">

                            <ion-progress-bar [value]="item.VolumeLoading" [buffer]="item.VolumeLoadingBuffer"></ion-progress-bar>

                        </div>




                        <!-- <div class="c-control">
                            <label class="c-label" for=""></label>
                            <ion-button *ngIf="!item.Id && pageConfig.canAdd" expand="block" (click)="saveChange()" [disabled]="!formGroup.dirty">Thêm đơn hàng</ion-button>
                        </div> -->

                    </ion-col>
                </ion-row>

                <!-- <ion-row class="hr-group">
                    <ion-col size="12" size-sm="12" size-md="12" size-xl="3">
                        <ion-list-header class="ion-no-padding">
                            <ion-label color="primary">Thông tin sản phẩm</ion-label>
                        </ion-list-header>
                    </ion-col>
                    <ion-col size="12" size-sm size-xl="4">
                        

                    </ion-col>
                    <ion-col size="12" size-sm size-xl="4">
                        
                    </ion-col>
                </ion-row> -->

            </form>
        </ion-grid>

        <div class="row-full shadow full-screen">
            <ion-toolbar color="primary">
                <ion-buttons slot="start" *ngIf="segmentView == 's1' && item.Id">
                    <ion-button color="primary" *ngIf="pageConfig.canEdit">
                        <ion-icon slot="start" name="truck"></ion-icon>
                        Thêm đơn hàng
                    </ion-button>
                    <ion-button color="primary">
                        <ion-icon slot="icon-only" name="search"></ion-icon>
                    </ion-button>
                </ion-buttons>
                <ion-buttons slot="start" *ngIf="segmentView == 's2' && item.Id">
                    <ion-button color="primary" *ngIf="pageConfig.canEdit">
                        <ion-icon slot="start" name="truck"></ion-icon>
                        Thêm phiếu nợ
                    </ion-button>
                </ion-buttons>

                <ion-segment scrollable="true" (ionChange)="segmentChanged($event)" [value]="segmentView">

                    <ion-segment-button value="s1">
                        <ion-label>Đơn hàng đi giao <span *ngIf="SelectedOrderList.length">({{SelectedOrderList.length}})</span> </ion-label>
                    </ion-segment-button>
                    <ion-segment-button value="s2">
                        <ion-label>Nợ cần thu <span *ngIf="SelectedDebtOrderList.length">({{SelectedDebtOrderList.length}})</span></ion-label>
                    </ion-segment-button>
                    <ion-segment-button value="s3">
                        <ion-label>Bản đồ</ion-label>
                    </ion-segment-button>
                </ion-segment>

                <ion-buttons slot="end" *ngIf="segmentView == 's1' && item.Id">
                    <ion-button (click)="showShipmentModal()" *ngIf="pageConfig.canEdit">
                        <ion-icon slot="start" name="truck"></ion-icon>
                        Thêm đơn hàng
                    </ion-button>
                    <ion-button title="Search" (click)="pageConfig.isShowSearch = !pageConfig.isShowSearch">
                        <ion-icon slot="icon-only" name="search"></ion-icon>
                    </ion-button>
                </ion-buttons>
                <ion-buttons slot="end" *ngIf="segmentView == 's2' && item.Id">
                    <ion-button (click)="showShipmentDebtModal()" *ngIf="pageConfig.canEdit">
                        <ion-icon slot="start" name="truck"></ion-icon>
                        Thêm phiếu nợ
                    </ion-button>
                </ion-buttons>
            </ion-toolbar>

            <div>
                <div *ngIf="segmentView == 's1'">
                    <div class="table-contain" *ngIf="SelectedOrderList.length">
                        <section class="table">
                            <header class="bold">
                                <div class="col-checkbox cell" *ngIf="pageConfig.canEdit">
                                    <input (change)="toggleSelectAll()" [(ngModel)]="isAllChecked" class="c-checkbox" type="checkbox">
                                </div>
                                <div class="col-id cell" (click)="sortToggle('Id')">
                                    #Order
                                    <ion-icon class="min-btn" *ngIf="sort.Id" [name]="sort.Id == 'Id'?'arrow-down': 'arrow-up'"></ion-icon>
                                    <ion-icon class="min-btn" (click)="pageConfig.isShowSearch = !pageConfig.isShowSearch" *ngIf="query.Id" name="search" color="primary"></ion-icon>
                                </div>

                                <div class="col-code cell" (click)="sortToggle('OrderDate')">
                                    Ngày lên đơn
                                    <ion-icon class="min-btn" *ngIf="sort.OrderDate" [name]="sort.OrderDate == 'OrderDate'?'arrow-down': 'arrow-up'"></ion-icon>
                                    <ion-icon class="min-btn" (click)="pageConfig.isShowSearch = !pageConfig.isShowSearch" *ngIf="query.OrderDate" name="search" color="primary"></ion-icon>
                                </div>

                                <div class="col-name cell" (click)="sortToggle('CustomerName')">
                                    Khách hàng
                                    <small>#Id</small>

                                    <ion-icon class="min-btn" *ngIf="sort.CustomerName" [name]="sort.CustomerName == 'CustomerName'?'arrow-down': 'arrow-up'"></ion-icon>
                                    <ion-icon class="min-btn" (click)="pageConfig.isShowSearch = !pageConfig.isShowSearch" *ngIf="localQuery.CustomerName" name="search" color="primary"></ion-icon>

                                    <small class="right">
                                        <ion-text color="dark"> Địa chỉ</ion-text>
                                    </small>
                                </div>
                                <div class="col-code cell money" (click)="sortToggle('OriginalTotalAfterTax')">
                                    Trị giá sau CK
                                    <ion-icon class="min-btn" *ngIf="sort.OriginalTotalAfterTax" [name]="sort.OriginalTotalAfterTax == 'OriginalTotalAfterTax'?'arrow-down': 'arrow-up'"></ion-icon>
                                    <ion-icon class="min-btn" (click)="pageConfig.isShowSearch = !pageConfig.isShowSearch" *ngIf="query.OriginalTotalAfterTax" name="search" color="primary"></ion-icon>
                                </div>
                                <div class="col-code cell money" (click)="sortToggle('ProductWeight')">
                                    Khối lượng
                                    <ion-icon class="min-btn" *ngIf="sort.ProductWeight" [name]="sort.ProductWeight == 'ProductWeight'?'arrow-down': 'arrow-up'"></ion-icon>
                                    <ion-icon class="min-btn" (click)="pageConfig.isShowSearch = !pageConfig.isShowSearch" *ngIf="query.ProductWeight" name="search" color="primary"></ion-icon>
                                </div>
                                <div class="col-code cell money" (click)="sortToggle('ProductDimensions')">
                                    Thể tích
                                    <ion-icon class="min-btn" *ngIf="sort.ProductDimensions" [name]="sort.ProductDimensions == 'ProductDimensions'?'arrow-down': 'arrow-up'"></ion-icon>
                                    <ion-icon class="min-btn" (click)="pageConfig.isShowSearch = !pageConfig.isShowSearch" *ngIf="query.ProductDimensions" name="search" color="primary"></ion-icon>
                                </div>
                                <div class="col-code cell" (click)="sortToggle('Code')">
                                    Mã của NCC
                                    <ion-icon class="min-btn" *ngIf="sort.Code" [name]="sort.Code == 'Code'?'arrow-down': 'arrow-up'"></ion-icon>
                                    <ion-icon class="min-btn" (click)="pageConfig.isShowSearch = !pageConfig.isShowSearch" *ngIf="query.Code" name="search" color="primary"></ion-icon>
                                </div>

                                <div class="col-checkbox cell clickable" *ngIf="pageConfig.canEdit" title="Xóa các đơn đang chọn" (click)="removeAlSelectedOrder()">
                                    <ion-icon color="danger" class="min-btn" name="trash-outline"></ion-icon>
                                </div>

                            </header>

                            <form action="#">
                                <header class="filter" *ngIf="pageConfig.isShowSearch">
                                    <div class="col-checkbox cell" *ngIf="pageConfig.canEdit">

                                    </div>
                                    <div class="col-id cell">
                                        <!-- <input [ngModelOptions]="{standalone: true}" [(ngModel)]="query.Id" class="c-input" [ngClass]="{active: query.Id}" type="text">
                                        <ion-icon class="min-btn" (click)="query.Id=''; loadSelectedOrders()" *ngIf="query.Id" name="close-circle-outline"></ion-icon> -->
                                    </div>
                                    <div class="col-code cell">
                                        <!-- <input (change)="loadSelectedOrders()" [ngModelOptions]="{standalone: true}" [(ngModel)]="query.OrderDate" class="c-input" [ngClass]="{active: query.OrderDate}" type="date">
                                        <ion-icon class="min-btn" (click)="query.OrderDate=''; loadSelectedOrders()" *ngIf="query.OrderDate" name="close-circle-outline"></ion-icon> -->
                                    </div>
                                    <div class="col-name cell">
                                        <input [ngModelOptions]="{standalone: true}" [(ngModel)]="localQuery.CustomerName" class="c-input" [ngClass]="{active: localQuery.CustomerName}" type="text">
                                        <ion-icon class="min-btn" (click)="localQuery.CustomerName=''; loadSelectedOrders()" *ngIf="localQuery.CustomerName" name="close-circle-outline"></ion-icon>
                                    </div>
                                    <div class="col-code cell money">
                                        <!-- <input [ngModelOptions]="{standalone: true}" [(ngModel)]="query.OriginalTotalAfterTax" class="c-input" [ngClass]="{active: query.OriginalTotalAfterTax}" type="text">
                                        <ion-icon class="min-btn" (click)="query.OriginalTotalAfterTax=''; loadSelectedOrders()" *ngIf="query.OriginalTotalAfterTax" name="close-circle-outline"></ion-icon> -->
                                    </div>
                                    <div class="col-code cell money"></div>
                                    <div class="col-code cell money"></div>
                                    <div class="col-code cell">
                                        <!-- <input [ngModelOptions]="{standalone: true}" [(ngModel)]="query.Code" class="c-input" [ngClass]="{active: query.Code}" type="text">
                                        <ion-icon class="min-btn" (click)="query.Code=''; loadSelectedOrders()" *ngIf="query.Code" name="close-circle-outline"></ion-icon> -->
                                    </div>
                                    <div class="col-checkbox cell" *ngIf="pageConfig.canEdit">

                                    </div>
                                    <button mat-raised-button type="submit" style="display:none">Search</button>
                                </header>
                            </form>

                            <div class="row" [ngClass]="{selected: i.checked}" *ngFor="let i of SelectedOrderList">
                                <div class="col-checkbox cell" *ngIf="pageConfig.canEdit">
                                    <input class="c-checkbox" [(ngModel)]="i.checked" type="checkbox">
                                </div>
                                <div (click)="nav('sale-order/'+i.Id,'forward')" class="col-id cell">
                                    {{i.Id}}
                                </div>
                                <div class="col-code cell" (click)="query.OrderDate=i.Query; pageConfig.isShowSearch=true; loadSelectedOrders()">
                                    {{i.OrderDateText}}
                                    <small *ngIf="i.OrderTimeText ">{{i.OrderTimeText}}</small>
                                </div>
                                <div class="col-name cell">
                                    <span title="Xem chi tiết đơn hàng" (click)="nav('sale-order/'+i.Id,'forward')" [ngOptionHighlight]="localQuery.CustomerName">{{i.CustomerName}}</span>
                                    <small title="Xem thông tin khách hàng" (click)="nav('business-partner/'+i.IDContact,'forward')">#{{i.IDContact}}</small>
                                    <small class="right">
                                        <ion-text color="dark"> <span>{{i.AddressLine1}}</span> <span *ngIf="i.AddressLine2"> &nbsp; {{i.AddressLine2}}</span> </ion-text>
                                    </small>
                                </div>
                                <div class="col-code cell money">{{i.OriginalTotalText}}</div>
                                <div class="col-code cell money">{{i.ProductWeightText}} kg</div>
                                <div class="col-code cell money">{{i.ProductDimensionsText}} lít</div>
                                <div class="col-code cell">{{i.Code}}</div>
                                <div class="col-checkbox cell clickable" title="Xóa đơn hàng này" (click)="removeSelectedOrder(i)" *ngIf="pageConfig.canEdit">
                                    <ion-icon color="danger" class="min-btn" name="trash-outline"></ion-icon>
                                </div>
                            </div>
                        </section>
                    </div>

                    <div class="empty-message" style="position: relative; padding: 100px;" *ngIf="!SelectedOrderList.length && pageConfig.showSpinner==false">
                        <div class="icon">
                            <img class="svgcolor" appSvgImage src="./assets/undraw_empty.svg">
                        </div>
                        <div class="message">

                            <div class="detail">
                                <div *ngIf="pageConfig.canEdit && item.Id">
                                    <ion-button title="Search" (click)="showShipmentModal()">
                                        <ion-icon slot="start" name="truck"></ion-icon>
                                        Thêm đơn hàng
                                    </ion-button>
                                </div>
                                <ion-text>
                                    Chọn các đơn hàng...
                                </ion-text>
                            </div>
                        </div>
                    </div>

                </div>
                <div *ngIf="segmentView == 's2'">
                    <div class="table-contain" *ngIf="SelectedDebtOrderList.length">
                        <section class="table">
                            <header class="bold">
                                <div class="col-checkbox cell" *ngIf="pageConfig.canEdit">
                                    <input (change)="toggleDebtSelectAll()" [(ngModel)]="isAllDebtChecked" class="c-checkbox" type="checkbox">
                                </div>
                                <div class="col-id cell" (click)="sortToggleDebt('Id')">
                                    #Order
                                    <ion-icon class="min-btn" *ngIf="sortDebt.Id" [name]="sortDebt.Id == 'Id'?'arrow-down': 'arrow-up'"></ion-icon>
                                    <ion-icon class="min-btn" (click)="pageConfig.isShowSearch = !pageConfig.isShowSearch" *ngIf="debtQuery.Id" name="search" color="primary"></ion-icon>
                                </div>

                                <div class="col-code cell" (click)="sortToggleDebt('OrderDate')">
                                    Ngày lên đơn
                                    <ion-icon class="min-btn" *ngIf="sortDebt.OrderDate" [name]="sortDebt.OrderDate == 'OrderDate'?'arrow-down': 'arrow-up'"></ion-icon>
                                    <ion-icon class="min-btn" (click)="pageConfig.isShowSearch = !pageConfig.isShowSearch" *ngIf="debtQuery.OrderDate" name="search" color="primary"></ion-icon>
                                </div>

                                <div class="col-name cell" (click)="sortToggleDebt('CustomerName')">
                                    Khách hàng
                                    <small>#Id</small>

                                    <ion-icon class="min-btn" *ngIf="sortDebt.CustomerName" [name]="sortDebt.CustomerName == 'CustomerName'?'arrow-down': 'arrow-up'"></ion-icon>
                                    <ion-icon class="min-btn" (click)="pageConfig.isShowSearch = !pageConfig.isShowSearch" *ngIf="localQuery.CustomerName" name="search" color="primary"></ion-icon>

                                    <small class="right">
                                        <ion-text color="dark"> Địa chỉ</ion-text>
                                    </small>
                                </div>
                                <div class="col-code cell money" (click)="sortToggleDebt('OriginalTotalAfterTax')">
                                    Tổng tiền
                                    <ion-icon class="min-btn" *ngIf="sortDebt.OriginalTotalAfterTax" [name]="sortDebt.OriginalTotalAfterTax == 'OriginalTotalAfterTax'?'arrow-down': 'arrow-up'"></ion-icon>
                                    <ion-icon class="min-btn" (click)="pageConfig.isShowSearch = !pageConfig.isShowSearch" *ngIf="debtQuery.OriginalTotalAfterTax" name="search" color="primary"></ion-icon>
                                </div>
                                <div class="col-code cell money">
                                    Còn nợ
                                    <ion-icon class="min-btn" *ngIf="sortDebt.ProductWeight" [name]="sortDebt.ProductWeight == 'ProductWeight'?'arrow-down': 'arrow-up'"></ion-icon>
                                    <ion-icon class="min-btn" (click)="pageConfig.isShowSearch = !pageConfig.isShowSearch" *ngIf="debtQuery.ProductWeight" name="search" color="primary"></ion-icon>
                                </div>

                                <div class="col-code cell" (click)="sortToggleDebt('Code')">
                                    Mã của NCC
                                    <ion-icon class="min-btn" *ngIf="sortDebt.Code" [name]="sortDebt.Code == 'Code'?'arrow-down': 'arrow-up'"></ion-icon>
                                    <ion-icon class="min-btn" (click)="pageConfig.isShowSearch = !pageConfig.isShowSearch" *ngIf="debtQuery.Code" name="search" color="primary"></ion-icon>
                                </div>

                                <div class="col-checkbox cell clickable" *ngIf="pageConfig.canEdit" title="Xóa các phiếu nợ đang chọn" (click)="removeAlSelectedDebtOrder()">
                                    <ion-icon color="danger" class="min-btn" name="trash-outline"></ion-icon>
                                </div>

                            </header>

                            <form action="#">
                                <header class="filter" *ngIf="pageConfig.isShowSearch">
                                    <div class="col-checkbox cell" *ngIf="pageConfig.canEdit">

                                    </div>
                                    <div class="col-id cell">
                                        <!-- <input [ngModelOptions]="{standalone: true}" [(ngModel)]="debtQuery.Id" class="c-input" [ngClass]="{active: debtQuery.Id}" type="number">
                                        <ion-icon class="min-btn" (click)="debtQuery.Id=''; loadSelectedOrders()" *ngIf="debtQuery.Id" name="close-circle-outline"></ion-icon> -->
                                    </div>
                                    <div class="col-code cell">
                                        <!-- <input (change)="loadSelectedOrders()" [ngModelOptions]="{standalone: true}" [(ngModel)]="debtQuery.OrderDate" class="c-input" [ngClass]="{active: debtQuery.OrderDate}" type="date">
                                        <ion-icon class="min-btn" (click)="debtQuery.OrderDate=''; loadSelectedOrders()" *ngIf="debtQuery.OrderDate" name="close-circle-outline"></ion-icon> -->
                                    </div>
                                    <div class="col-name cell">
                                        <input [ngModelOptions]="{standalone: true}" [(ngModel)]="localQuery.CustomerName" class="c-input" [ngClass]="{active: localQuery.CustomerName}" type="text">
                                        <ion-icon class="min-btn" (click)="localQuery.CustomerName=''; loadSelectedOrders()" *ngIf="localQuery.CustomerName" name="close-circle-outline"></ion-icon>
                                    </div>
                                    <div class="col-code cell money">
                                        <!-- <input [ngModelOptions]="{standalone: true}" [(ngModel)]="debtQuery.OriginalTotalAfterTax" class="c-input" [ngClass]="{active: debtQuery.OriginalTotalAfterTax}" type="text">
                                        <ion-icon class="min-btn" (click)="debtQuery.OriginalTotalAfterTax=''; loadSelectedOrders()" *ngIf="debtQuery.OriginalTotalAfterTax" name="close-circle-outline"></ion-icon> -->
                                    </div>
                                    <div class="col-code cell money"></div>
                                    <div class="col-code cell money"></div>
                                    <div class="col-code cell">
                                        <!-- <input [ngModelOptions]="{standalone: true}" [(ngModel)]="debtQuery.Code" class="c-input" [ngClass]="{active: debtQuery.Code}" type="text">
                                        <ion-icon class="min-btn" (click)="debtQuery.Code=''; loadSelectedOrders()" *ngIf="debtQuery.Code" name="close-circle-outline"></ion-icon> -->
                                    </div>
                                    <div class="col-checkbox cell" *ngIf="pageConfig.canEdit">

                                    </div>
                                    <button mat-raised-button type="submit" style="display:none">Search</button>
                                </header>
                            </form>

                            <div class="row" [ngClass]="{selected: i.checked}" *ngFor="let i of SelectedDebtOrderList">
                                <div class="col-checkbox cell" *ngIf="pageConfig.canEdit">
                                    <input class="c-checkbox" [(ngModel)]="i.checked" type="checkbox">
                                </div>
                                <div (click)="nav('sale-order/'+i.Id,'forward')" class="col-id cell">
                                    {{i.Id}}
                                </div>
                                <div class="col-code cell" (click)="debtQuery.OrderDate=i.Query; pageConfig.isShowSearch=true; loadSelectedDebtOrders()">
                                    {{i.OrderDateText}}
                                    <small *ngIf="i.OrderTimeText ">{{i.OrderTimeText}}</small>
                                </div>
                                <div class="col-name cell">
                                    <span title="Xem chi tiết đơn hàng" (click)="nav('sale-order/'+i.Id,'forward')" [ngOptionHighlight]="localQuery.CustomerName">{{i.CustomerName}}</span>
                                    <small title="Xem thông tin khách hàng" (click)="nav('business-partner/'+i.IDContact,'forward')">#{{i.IDContact}}</small>
                                    <small class="right">
                                        <ion-text color="dark"> <span>{{i.AddressLine1}}</span> <span *ngIf="i.AddressLine2"> &nbsp; {{i.AddressLine2}}</span> </ion-text>
                                    </small>
                                </div>
                                <div class="col-code cell money">{{i.TotalText}}</div>
                                <div class="col-code cell money">{{i.DebtText}}</div>

                                <div class="col-code cell">{{i.Code}}</div>
                                <div class="col-checkbox cell clickable" title="Bỏ ra khỏi danh sách đi thu" (click)="removeSelectedDebtOrder(i)" *ngIf="pageConfig.canEdit">
                                    <ion-icon color="danger" class="min-btn" name="trash-outline"></ion-icon>
                                </div>
                            </div>
                        </section>
                    </div>

                    <div class="empty-message" style="position: relative; padding: 100px;" *ngIf="!SelectedDebtOrderList.length && pageConfig.showSpinner==false">
                        <div class="icon">
                            <img class="svgcolor" appSvgImage src="./assets/undraw_empty.svg">
                        </div>
                        <div class="message">

                            <div class="detail">
                                <div *ngIf="pageConfig.canEdit && item.Id">
                                    <ion-button title="Search" (click)="showShipmentDebtModal()">
                                        <ion-icon slot="start" name="truck"></ion-icon>
                                        Thêm phiếu nợ
                                    </ion-button>
                                </div>
                                <ion-text>
                                    Chọn các phiếu nợ cần thu...
                                </ion-text>
                            </div>
                        </div>
                    </div>
                </div>

                <div *ngIf="segmentView == 's3'">

                </div>

                <div *ngIf="segmentView == 's4'">

                </div>

                <div *ngIf="segmentView == 's5'">

                </div>

                <div *ngIf="segmentView == 's6'">

                </div>
            </div>
        </div>
    </div>

    <app-page-message [itemsLength]="item? 1: 0" [showSpinner]="pageConfig.showSpinner"></app-page-message>


</ion-content>