<ion-header>
  <app-list-toolbar pageTitle="Brand Analysis" [pageConfig]="pageConfig" [selectedItems]="selectedItems"
    [query]="query">
  </app-list-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-grid fixed>
    <ion-row class="hr-group">
      <ion-col size="12" size-sm="12" size-md="12" size-xl="3">
        <ion-card>
          <div>
            <ion-text color="dark">
              Sample Information
            </ion-text>
          </div>
          <!-- <ion-card-header class="background"> -->

          <!-- </ion-card-header> -->

          <ion-card-content>
            <!-- Pie Chart -->
            <div id="SampleInformationChart" style="width: 100%; height: 100%"></div>
          </ion-card-content>
        </ion-card>
      </ion-col>

      <ion-col size="12" size-sm="12" size-md="12" size-xl="9">
        <ion-row class="hr-group">
          <ion-col size="12" size-sm="12" size-md="12" size-xl="12">
            <ion-card>
              <div>
                <ion-text color="dark">
                  Brand Awareness
                </ion-text>
              </div>
              <!-- <ion-card-header class="background"> -->

              <!-- </ion-card-header> -->

              <ion-card-content>
                <!-- Sorted Bar Chart -->
                <div id="BrandAwarenessChart" style="width: 100%; height: 100%"></div>
              </ion-card-content>
            </ion-card>
          </ion-col>


          <ion-col size="12" size-sm="12" size-md="12" size-xl="12">
            <ion-row class="hr-group">
              <ion-col size="12" size-sm="12" size-md="12" size-xl="6">
                <ion-card>
                  <div>
                    <ion-text color="dark">
                      Top 5 Branding Themes
                    </ion-text>
                  </div>
                  <!-- <ion-card-header class="background"> -->

                  <!-- </ion-card-header> -->

                  <ion-card-content>
                    <!-- Sorted Bar Chart -->
                    <div id="TopBrandingThemesChart" style="width: 100%; height: 100%"></div>
                  </ion-card-content>
                </ion-card>
              </ion-col>

              <ion-col size="12" size-sm="12" size-md="12" size-xl="6">
                <ion-card>
                  <div>
                    <ion-text color="dark">
                      Celebrity Analysis
                    </ion-text>
                  </div>
                  <!-- <ion-card-header class="background"> -->

                  <!-- </ion-card-header> -->

                  <ion-card-content>
                    <!-- Pie Chart -->
                    <div id="CelebrityAnalysisChart" style="width: 100%; height: 100%"></div>
                  </ion-card-content>
                </ion-card>
              </ion-col>
            </ion-row>
          </ion-col>
        </ion-row>
      </ion-col>


    </ion-row>
  </ion-grid>
</ion-content>