<ion-tabs class="gray-background">

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="dashboard">
      <ion-icon name="trending-up"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="daily">
      <ion-icon name="timer"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="finance-management">
      <ion-icon name="analytics"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="finance-statements">
      <ion-icon name="cash"></ion-icon>
    </ion-tab-button>

    <!-- <ion-tab-button tab="pipeline">
      <ion-icon name="git-branch"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="sale-performance">
      <ion-icon name="pulse"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="sale-insignts">
        <ion-icon name="shuffle"></ion-icon>
      </ion-tab-button> -->

    <ion-tab-button tab="profile">
      <ion-icon name="contact"></ion-icon>
    </ion-tab-button>
    <ion-router-outlet></ion-router-outlet>
  </ion-tab-bar>

</ion-tabs>