.feature{
    background: transparent;
}
.search-box {
    margin-bottom: -13px;
}

.table-holder {
    flex-wrap: wrap;
    // margin: -29px;
}

.table-item {
    min-height: 120px;
    min-width: 150px;
    background: var(--ion-color-tertiary-tint);
    overflow: hidden;
    border-radius: 6px;
    margin: 8px;
    padding: 0;

    a {
        display: table;
        width: 100%;
        height: 100%;
    }

    .table-dot {
        position: absolute;
        height: 10px;
        width: 10px;
        background: var(--ion-color-tertiary-tint);
        z-index: 1;
        border: solid 1px var(--ion-color-tertiary);
        border-radius: 6px;
        right: 5px;
        top: 5px;

        small {
            font-size: 110%;
            white-space: nowrap;
            margin-top: -5px;
            margin-left: -50px;
            display: none;
            text-align: right;
            min-width: 50px;
            padding-right: 14px;
        }
    }

    .table-name {
        margin: auto;
        padding: 0 7px;
        bottom: 16px;
        text-align: center;
        font-size: 1.4rem;
        font-weight: bold;
        color: var(--ion-color-dark);
        display: table-cell;
        vertical-align: middle;
    }

    .table-status {
        position: absolute;
        text-align: center;
        bottom: 8px;
        width: 100%;
        font-size: 1rem;
        font-style: italic;
        color: var(--ion-color-primary);
        left: 0;
        z-index: 1;
    }

    &.empty {}

    &.in-serve {
        .table-dot {
            background: var(--ion-color-danger);
            border: solid 1px var(--ion-color-danger-tint);

            small {
                display: block;
            }
        }

        .table-status {
            font-weight: bold;
        }
    }
}

.cart span {
    position: absolute;
    padding: 0 5px;
    background: var(--ion-color-warning);
    color: var(--ion-color-warning-contrast);
    border-radius: 50px;
    min-width: 20px;
    height: 20px;
    text-align: center;
    line-height: 20px;
    top: 0px;
    right: -5px;
    font-size: 93%;
    font-weight: bold;
}

.c-content {
    margin: 16px;

    @media(min-width: 768px) {
        margin: 16px auto;
        max-width: 600px;
    }

    .header-info {
        line-height: 25px;
        text-align: center;
        text-transform: uppercase;

        .so-id {}

        .cus-info {
            .cus-name {
                font-size: 30px;
                font-weight: bold;
                line-height: 40px;
            }

            .cus-more {
                line-height: 20px;
                font-size: 14px;
                margin: 10px;
            }
        }
    }

    .header-box {

        text-align: center;

        .header-name {
            .product-type {
                text-transform: capitalize;
                font-size: 18px;
                line-height: 28px;
                color: var(--ion-color-dark);
                margin: 15px 0;
            }

            .bill-for {
                font-size: 12px;
                color: var(--ion-color-primary);
                margin: 10px 0;
            }

            .total {
                color: var(--ion-color-dark);
                font-size: 1.2rem;
                margin: 25px 0 10px 0;

                .c-control {
                    margin-bottom: 7px;
                }

                .c-input {
                    text-align: right;
                    color: var(--ion-color-primary);
                }

                .c-control .c-label {
                    position: absolute;
                    line-height: 3.8rem;
                    margin-left: 9px;
                    width: auto;
                }

                table {
                    width: 100%;

                    td {
                        text-align: right;
                        font-weight: bold;
                    }

                    .title {
                        font-weight: normal;
                        text-align: left;
                    }
                }
            }
        }
    }

    .box {
        background-color: var(--ion-color-tertiary-tint);
        border-radius: 10px;
        color: var(--ion-color-dark);
        //box-shadow: 0px 22px 36px -29px rgba(0, 0, 0, 0.3);
        //box-shadow: 0px 4px 20px 0px rgba(115, 154, 255, 0.3);
        margin-bottom: 16px;

        &.box-with-top {
            margin-top: 50px;

            .box-content {}
        }

        .top-slot {
            position: relative;
            margin-top: -25px;
            width: 100%;
            text-align: center;

            .box-top {
                border-radius: 30px;
                font-size: 12px;
                box-shadow: 1px 5px 9px 0px var(--ion-color-primary);
                margin-top: -7px;

                &:hover {
                    --opacity: 1;
                }
            }

            .box-top-btn {
                box-shadow: 1px 5px 9px 0px rgba(115, 255, 132, 0.58);
                border-radius: 100px;
                position: absolute;
                right: 0;
                margin-top: -11px;
            }
        }

        .box-content {
            color: var(--ion-color-dark);

            .od {
                border-bottom: dashed 3px var(--ion-color-light);
                padding: 16px 0;

                &:last-child {
                    margin-bottom: 16px;
                }

                &.group {

                    // background-color: #f15a25;
                    // color: #FFF;
                    // font-weight: bold;
                    // margin: 0 -16px;
                    // padding: 16px 16px !important;
                    color: var(--ion-color-primary);
                    font-weight: bold;
                    margin: 0 -16px;
                    padding: 16px 16px !important;

                    ion-button {
                        margin-top: -2px;
                    }

                    .group-price {

                        float: right;
                    }
                }

                .od-name {
                    line-height: 25px;
                    text-transform: uppercase;
                    font-size: 13px;
                }

                .od-price {
                    font-weight: bold;
                    color: var(--ion-color-primary);
                }

                .od-code {
                    font-size: 12px;
                    color: var(--ion-color-medium);
                    margin: 5px 0;
                }

                .od-quantity {
                    line-height: 36px;

                    .quantity {
                        font-size: 20px;

                        .uom {
                            font-size: 12px;
                            color: var(--ion-color-medium);
                            vertical-align: bottom;
                            line-height: 35px;
                        }
                    }
                }

                .od-remark {
                    padding-right: 0px;

                    textarea {
                        background-color: transparent;
                        min-width: 100%;
                        max-width: 100%;
                        min-height: 30px;
                        max-height: 60px;
                        line-height: 17px;
                        font-size: 1.2rem !important;
                        font-style: italic;
                        color: var(--ion-color-warning);
                        border: solid 1px var(--ion-color-warning);
                        border-radius: 5px;
                    }
                }

            }

            .box-item {
                border-bottom: dashed 3px var(--ion-color-light);
                padding: 10px 0;

                .item-title {
                    margin: 5px 0;
                    font-size: 13px;
                    color: var(--ion-color-primary);
                    text-transform: uppercase;
                }

                .item-detail {
                    font-size: 13px;
                    line-height: 20px;
                }

            }
        }

    }

    .check-info {
        position: relative;

        &:before {
            content: "";
            position: absolute;
            top: 0;
            right: 16px;
            bottom: 19px;
            left: 0;
            background-image: url('../../../../assets/undraw_mobile_user_7oqo.svg');
            background-repeat: no-repeat;
            background-size: 50%;
            z-index: 0;
            opacity: 0.1;
            background-position: right bottom;

        }

        .box-content {
            position: relative;
        }
    }
}

.bill {
    display: none;
}

@media print {
    .bill {
        color: #000;
        display: block !important;
        overflow: hidden !important;
        
        .title {
            color: #000;
        }

        .header {
            text-align: center;

            span {
                display: inline-block;
                width: 100%;
            }

            .logo {
                img {
                    max-width: 150px;
                    max-height: 75px;
                }
            }

            .brand {
                font-weight: bold;
            }

            .address {
                font-size: 80%;
                font-style: italic;
            }

            .phone {}

            .bill-no {
                font-weight: bold;
            }


        }

        .table-info {
            border: solid;
            margin: 5px 0;
            padding: 5px;
            border-width: 1px 0;
        }

        .items {
            margin: 5px 0;
            line-height: 18px;

            tr {
                td {
                    border-bottom: dashed 1px #CCC;
                    padding: 0 5px;


                }

                &:last-child td {
                    border: none !important;
                }
            }

            .name {
                width: 100%;
                border: none !important;
            }

            .code {
                font-weight: bold;
                text-transform: uppercase;
            }

            .quantity {
                font-weight: bold;
            }

            .total {
                text-align: right;
            }


        }

        .message {
            text-align: center;
        }
    }
}


.so-rows{
    padding-left: calc(100% - 320px);
}
.toggle{
    display: none;
}
@media screen and (max-width: calc(767px)) {
    ion-toolbar.withFeature{ display: none;}
    .table-list{
        width: 100% !important;
        right: 0;
    }
    .so-rows{
        padding-left: 0;
    }
    .toggle{
        display: block;
    }
}