
.col-id {
    max-width: 44px !important;
    min-width: 44px !important;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.col-code{
    min-width: 350px !important;
    max-width: 250px !important;
}

ion-checkbox {
    height: 17px;
    width: 17px;
}


.row.disable .col-name {
    color: var(--ion-color-medium);
    opacity: 0.6;
}

.multiple{
    height: auto;
}