html{
    font-size: 10px !important;
    
    &.mobile-font{
        font-size: 12px !important;
    }
}



.title {
    color: var(--ion-color-dark);
    font-weight: 300;
    font-size: 1.3rem;
    padding-left: 16px;
    //text-transform: uppercase;

    @media screen and (min-width: 1366px) {
        padding-left: 0;
    }
}

.no-warp {
    white-space: nowrap;
}
.alert-text-left{
    .alert-message{
        text-align: left !important;
    }
    
}
.text-right {
    text-align: right;
}

.text-center {
    text-align: center;
}

.float-right {
    float: right;
}

.bold {
    font-weight: bold;
}

.clickable {
    cursor: pointer;
}

.shadow {
    /* box-shadow: 0px 5px 20px 0px #0072ff; */
    --box-shadow: 0px 5px 20px 0px var(--ion-color-base);
}

.hide-all {
    display: none !important;
}

.hide-small {
    @media screen and (max-width: 991px) {
        display: none !important;
    }
}

.split {
    color: var(--ion-color-light);
    font-size: 1.6rem;
    padding: 0 7px;
}

//svg-image theme color
.cus-fill {
    fill: var(--ion-color-primary) !important;
}

.page-loading {
    position: absolute;
    display: flex;
    border-radius: 10px;
    top: 16px;
    right: 16px;
    bottom: 16px;
    left: 16px;
    /* background-color: #ffffff; */
    flex-direction: column;
    align-items: center;
    justify-content: center;
    --color: var(--ion-color-secondary);


    -webkit-animation: fadein 2s;
    /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: fadein 2s;
    /* Firefox < 16 */
    -ms-animation: fadein 2s;
    /* Internet Explorer */
    -o-animation: fadein 2s;
    /* Opera < 12.1 */
    animation: fadein 2s;
}

.message-container{
    position: relative;
    width: 100%;
    height: 100%;
    
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    
    min-height: 50vh;
}

.empty-message {
    position: absolute;
    display: flex;
    border-radius: 10px;
    top: 16px;
    right: 16px;
    bottom: 16px;
    left: 16px;
    background: var(--ion-color-tertiary-tint);
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    min-width: 250px;

    .icon {
        font-size: 9.0rem;
        color: #ccc;
        width: 51vw;
        max-width: 300px;
    }

    .message {
        padding: 0 16px;
        max-width: 300px;
        text-align: center;

        .title {
            line-height: 30px;
            font-size: 2.0rem;
            color: var(--ion-color-medium);
        }

        .detail {
            line-height: 20px;
            font-size: 1.3rem;
            color: var(--ion-color-medium);
        }
    }
}

::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}

::-webkit-scrollbar-track {
    background: var(--menu-right-border-color);
    background: transprent;
}

::-webkit-scrollbar-thumb {
    border-radius: 0px;
    background: var(--ion-color-primary);
    background: linear-gradient(var(--menu-background-top), var(--main-background-top));
    border: 1px solid rgba(var(--ion-color-primary-rgb,0,0,0),.25);
}

::-webkit-scrollbar-thumb:hover {
    background: linear-gradient(var(--ion-color-primary), var(--ion-color-primary));
}


.blink {
    animation: blinker 1s linear infinite;
}

@keyframes blinker {
    50% {
        opacity: 0;
    }
}

.withFeature{
    width: calc(100% - 320px) !important;

    &.left {
        
        // width: calc(100%) !important;
        // --padding-start: 320px;
        // padding-left: 320px;
        left: 320px;
        position: relative;
        
        .feature {
            left: -320px;
            right: unset;
            border-right: solid 1px var(--ion-color-tertiary-shade);
            border-left: none;
        }
    }

    .feature {
        right: -320px;
    }
}

.feature {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    width: 320px;
    max-width: 100vw;

    overflow: hidden;
    overflow-y: auto;
    background: linear-gradient(180deg, var(--feature-background-top), var(--feature-background-bottom));
    border-left: solid 1px var(--ion-color-tertiary-shade);

    color: var(--ion-color-dark);

    // display: none;
    z-index: 1;
    //box-shadow: -7px 0 5px 0px rgba(0, 0, 0, 0.1);

    // @media screen and (min-width: 1024px) {
    //     display: block !important;
    //     box-shadow: none;
    // }

    &.withSearch {
        top: -70px !important;
    }

    .date-pick input {
        width: calc(49% - 5px);
        height: 28px;
        border: solid 1px var(--ion-color-primary);
        background-color: transparent;
        border-radius: 4px;
        padding: 0 7px;
        margin-right: 4px;
        font-size: 1.2rem;
    }

    .title {
        padding-left: 0;
    }

    .query-time {
        font-size: 1.2rem;
        padding: 5px 0 32px 0;
        font-style: italic;
        color: var(--ion-color-primary);
    }

    .chart-box {
        min-height: 95px;
        border-radius: 6px;
        background-color: var(--ion-color-light);
        width: auto;
        margin-top: 55px !important;

        &.kpi {}
    }

    .ion-padding{
        padding: 20px;
    }


}

.feature-btn {
    display: block;

    @media screen and (min-width: 1024px) {
        display: none;
    }
}

.svgcolor{
    fill: var(--ion-color-primary);
}

.modal90{
    --height: 90vh;
    --width: 90vw;
}

.modal-merge-orders {
    --height: 370px;
    --width: 535px;
}

.modal-saleman-debt {
    --height: 450px;
    --width: 535px;
}

.buffer-circles{
    animation: none !important;
}


.calendar-heatmap-holder {
    display: flex;
    // flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;

    .col1,
    .col2 {
        flex: auto;
        overflow: hidden;
    }

    .col2 {

        min-width: 160px;

        .info {
            border-left: solid 2px var(--ion-color-primary);;
            padding-left: 8px;
            margin-left: 16px;
            font-size: 10px;

            .number {
                display: block;
                font-size: 20px;
            }

            .title {
                display: block;
                color: var(--ion-color-primary);
                text-transform: none;
                padding-bottom: 10px;
                padding-top: 5px;
                padding-left: 0 !important;
            }
        }
    }
}

.info-tooltip{
    float: right;
    &::before {
        content: 'ⓘ';
        font-style: normal;
    }
}

.ribbon {
    background-color: var(--ion-color-primary);
    overflow: hidden;
    white-space: nowrap;
    /* top left corner */
    position: absolute;
    right: -45px;
    top: 19px;
    transform: rotate(45deg);
    box-shadow: 0 0 10px var(--ion-color-light);

    .text {
        border: 1px dashed var(--ion-color-warning); //rgba(var(--ion-color-primary-rgb, 0, 0, 0), .1);
        color: var(--ion-color-primary-contrast);
        display: block;
        
        margin: 1px 0;
        padding: 3px;
        font-size: 1.5rem;
        width: 160px;
        text-align: center;
        text-decoration: none;
        /* for creating shadow */
        text-shadow: 0 0 3px var(--ion-color-light);
        text-transform: uppercase;
    }
}