.ng-select.ng-select-opened>.ng-select-container {
    background: var(--menu-background-bottom);
    border-color: var(--menu-right-border-color) var(--menu-right-border-color) var(--menu-right-border-color)
}

.ng-select.ng-select-opened>.ng-select-container .ng-arrow {
    border-color: transparent transparent var(--ion-color-light-contrast);
}

.ng-select.ng-select-opened>.ng-select-container .ng-arrow:hover {
    border-color: transparent transparent var(--ion-color-light-contrast)
}

.ng-select.ng-select-focused:not(.ng-select-opened)>.ng-select-container {
    border-color: var(--menu-right-border-color);
    box-shadow: none;
}

.ng-select.ng-select-disabled>.ng-select-container {
    background-color: var(--menu-right-border-color)
}

.ng-select .ng-select-container {
    color: var(--ion-color-light-contrast);
    background-color: transparent;
    //background-color: var(--menu-background-bottom);
    //border: 1px solid var(--menu-right-border-color);
    border:none;
}

.ng-select .ng-select-container:hover {
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.06)
}

.ng-select .ng-select-container .ng-value-container .ng-placeholder {
    color: var(--ion-color-light-contrast)
}



.ng-select.ng-select-multiple.ng-select-disabled>.ng-select-container .ng-value-container .ng-value {
    background-color: var(--menu-right-border-color);
    border: 1px solid var(--menu-right-border-color)
}

.ng-select.ng-select-multiple .ng-select-container .ng-value-container{
    
}

.ng-select.ng-select-multiple .ng-select-container .ng-value-container .ng-placeholder {
    padding: 0;
    top: 10px;
}

.ng-select.ng-select-multiple .ng-select-container .ng-value-container .ng-value {
    background-color: var(--menu-background-item-active);
}

.ng-select.ng-select-multiple .ng-select-container .ng-value-container .ng-value.ng-value-disabled {
    background-color: var(--menu-right-border-color)
}

.ng-select.ng-select-multiple .ng-select-container .ng-value-container .ng-value .ng-value-icon:hover {
    background-color: var(--menu-background-bottom);
}

.ng-select.ng-select-multiple .ng-select-container .ng-value-container .ng-value .ng-value-icon.left {
    border-right: 1px solid var(--menu-right-border-color)
}

[dir="rtl"] .ng-select.ng-select-multiple .ng-select-container .ng-value-container .ng-value .ng-value-icon.left {
    border-left: 1px solid var(--menu-right-border-color)
}

.ng-select.ng-select-multiple .ng-select-container .ng-value-container .ng-value .ng-value-icon.right {
    border-left: 1px solid var(--menu-right-border-color)
}

[dir="rtl"] .ng-select.ng-select-multiple .ng-select-container .ng-value-container .ng-value .ng-value-icon.right {
    border-right: 1px solid var(--menu-right-border-color)
}

.ng-select .ng-clear-wrapper {
    color: var(--ion-color-light-contrast)
}

.ng-select .ng-clear-wrapper:hover .ng-clear {
    color: var(--ion-color-danger);
}

.ng-select .ng-arrow-wrapper:hover .ng-arrow {
    border-top-color: var(--ion-color-light-contrast)
}

.ng-select .ng-arrow-wrapper .ng-arrow {
    border-color: var(--ion-color-light-contrast) transparent transparent;
}

.ng-dropdown-panel {
    background-color: var(--menu-background-bottom);
    border: 1px solid var(--menu-right-border-color);
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.06);
}

.ng-dropdown-panel.ng-select-bottom {
    border-top-color: var(--menu-right-border-color);
}


.ng-dropdown-panel.ng-select-top {
    border-bottom-color: var(--menu-right-border-color);
}

.ng-dropdown-panel .ng-dropdown-header {
    border-bottom: 1px solid var(--menu-right-border-color);
}

.ng-dropdown-panel .ng-dropdown-footer {
    border-top: 1px solid var(--menu-right-border-color);
}

.ng-dropdown-panel .ng-dropdown-panel-items .ng-optgroup {
    color: var(--ion-color-light-contrast);
}


.ng-dropdown-panel .ng-dropdown-panel-items .ng-optgroup.ng-option-marked {
    background-color: var(--menu-background-item-active)
}

.ng-dropdown-panel .ng-dropdown-panel-items .ng-optgroup.ng-option-selected,
.ng-dropdown-panel .ng-dropdown-panel-items .ng-optgroup.ng-option-selected.ng-option-marked {
    background-color: var(--menu-background-item-active);
}

.ng-dropdown-panel .ng-dropdown-panel-items .ng-option {
    background-color: var(--menu-background-bottom);
    color: var(--ion-color-light-contrast);
}

.ng-dropdown-panel .ng-dropdown-panel-items .ng-option.ng-option-selected,
.ng-dropdown-panel .ng-dropdown-panel-items .ng-option.ng-option-selected.ng-option-marked {
    color: var(--ion-color-light-contrast);
    background-color: var(--menu-background-item-active)
}

.ng-dropdown-panel .ng-dropdown-panel-items .ng-option.ng-option-marked {
    background-color: var(--menu-background-item-active);
    color: var(--ion-color-light-contrast)
}

.ng-dropdown-panel .ng-dropdown-panel-items .ng-option.ng-option-disabled {
    color: var(--ion-color-medium);
}

.ng-dropdown-panel .ng-dropdown-panel-items .ng-option .highlighted{
    text-decoration: none !important;
    color: var(--ion-color-primary);
}
.important .highlighted{
    color: var(--ion-color-danger) !important;
}
.ng-select .ng-select-container .ng-value-container .ng-input>input{
    padding: 5px 0;
}
.ng-dropdown-panel .ng-dropdown-panel-items .ng-option {
    white-space: normal;
}

// .ng-select.ng-select-single .ng-select-container {
//     height: 36px;
// }
// .ng-select .ng-select-container {
//     min-height: 19px;
// }
// .cell .ng-select.ng-select-single .ng-select-container {
//     height: 19px;
// }


.ng-select.ng-select-single .ng-select-container {
    height: 3.8rem;
}
.ng-select.ng-select-single .ng-select-container .ng-value-container .ng-input {
    line-height: 2.8rem;
}

//mobile hot fix https://github.com/ng-select/ng-select/issues/1451
.ng-select.ng-select.ng-select-single.ng-select-filtered:not(.ng-select-opened) .ng-select-container.ng-has-value .ng-value-container .ng-value{ visibility: visible; }

