<ion-header>
	<app-list-toolbar pageTitle="Chức năng hệ thống" [pageConfig]="pageConfig" [selectedItems]="selectedItems" [query]="query" (add)="add()" (refresh)="refresh()" (export)="export()" (import)="import($event)" (help)="help()" (unselect)="unselect()" (archiveItems)="archiveItems()" (deleteItems)="deleteItems()"></app-list-toolbar>

	<section class="table">
		<header class="bold">
			<div class="col-checkbox cell"></div>
			<div class="col-name cell" (click)="toggleRowAll()">
				<ion-icon class="min-btn" [name]="!isAllRowOpened? 'add-circle-outline':'remove-circle-outline'"></ion-icon>
				Tên gọi
				<ion-icon *ngIf="sort.Name" [name]="sort.Name == 'Name'?'arrow-down': 'arrow-up'"></ion-icon>
				<ion-icon (click)="pageConfig.isShowSearch = !pageConfig.isShowSearch" *ngIf="query.Keyword" name="search" color="primary"></ion-icon>
			</div>
			<div class="col-code cell">Mã
				<ion-icon *ngIf="sort.Code" [name]="sort.Code == 'Code'?'arrow-down': 'arrow-up'"></ion-icon>
				<ion-icon (click)="pageConfig.isShowSearch = !pageConfig.isShowSearch" *ngIf="query.Code" name="search" color="primary"></ion-icon>
			</div>
		</header>
		<form (submit)="refresh()" action="#">
			<header class="filter" *ngIf="pageConfig.isShowSearch">
				<div class="col-checkbox cell"></div>
				<div class="col-name cell">
					<input [ngModelOptions]="{standalone: true}" [(ngModel)]="query.Keyword" class="c-input" [ngClass]="{active: query.Keyword}" type="text">
					<ion-icon (click)="query.Keyword=''; refresh()" *ngIf="query.Keyword" name="close"></ion-icon>
				</div>
				<div class="col-code cell">
					<input [ngModelOptions]="{standalone: true}" [(ngModel)]="query.Code" class="c-input" [ngClass]="{active: query.Code}" type="text">
					<ion-icon (click)="query.Code=''; refresh()" *ngIf="query.Code" name="close"></ion-icon>
				</div>
				<button mat-raised-button type="submit" style="display:none">Search</button>
			</header>
		</form>
	</section>
</ion-header>

<ion-content appScrollbarTheme class="header-table">
	<app-page-message [itemsLength]="itemsState.length" [showSpinner]="pageConfig.showSpinner"></app-page-message>
	<ion-virtual-scroll [items]="itemsView" [trackBy]="trackByFn" approxItemHeight="27px" [itemHeight]="itemHeightFn" class="table" *ngIf="itemsState.length && pageConfig.showSpinner==false">
		<ng-container *virtualItem="let i; let itemBounds = bounds; let j = index;">
			<div class="row" [ngClass]="{odd: j % 2 != 0}" [ngClass]="{selected: i.checked}">
				<div class="col-checkbox cell">
					<input (click)="changeSelection(i, $event)" class="c-checkbox" [(ngModel)]="i.checked" type="checkbox">
				</div>
				<div [ngClass]="i.HasChild? ('bold ') : ('')" class="col-name cell">
					<ng-container *ngFor="let w of i.levels; let k = index;"><span class="spacing" *ngIf="k>0"></span></ng-container>
					<ion-icon (click)="toggleRow(itemsState, i, true);" class="min-btn clickable" [name]="!i.showdetail? 'chevron-forward-outline':'chevron-down-outline'" *ngIf="i.HasChild"></ion-icon>
					<ion-icon class="min-btn clickable" [name]="''" *ngIf="!i.HasChild"></ion-icon>
					<ion-icon class="min-btn" [name]="i.Icon"></ion-icon>
					<ion-text class="clickable" (click)="showModal(i)" [color]="i.Color">{{i.Name}}</ion-text>
					<ion-text color="medium" *ngIf="i.Remark">
						<small>&nbsp; - {{i.Remark}}</small>
					</ion-text>
				</div>
				<div class="col-code cell">
					{{i.Code}}
				</div>
			</div>
		</ng-container>
	</ion-virtual-scroll>
</ion-content>