<ion-header>
  <app-list-toolbar pageTitle="Product Innovation" [pageConfig]="pageConfig" [selectedItems]="selectedItems"
    [query]="query">
  </app-list-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-grid fixed>
    <ion-row class="hr-group">
      <ion-col size="12" size-sm="12" size-md="12" size-xl="8">
        <ion-row class="hr-group">
          <ion-col size="12" size-sm="12" size-md="12" size-xl="5">
            <ion-card>
              <div>
                <ion-text color="dark">
                  Usage Intention
                </ion-text>
              </div>
              <!-- <ion-card-header class="background"> -->

              <!-- </ion-card-header> -->

              <ion-card-content>
                <!-- Pie Chart -->
                <!-- <div id="SampleInformationChart" style="width: 100%; height: 100%"></div> -->
              </ion-card-content>
            </ion-card>
          </ion-col>

          <ion-col size="12" size-sm="12" size-md="12" size-xl="7">
            <ion-card>
              <div>
                <ion-text color="dark">
                  Purchase Intention
                </ion-text>
              </div>
              <!-- <ion-card-header class="background"> -->

              <!-- </ion-card-header> -->

              <ion-card-content>
                <!-- Pie Chart -->
                <!-- <div id="SampleInformationChart" style="width: 100%; height: 100%"></div> -->
              </ion-card-content>
            </ion-card>
          </ion-col>
        </ion-row>
        <ion-row class="hr-group">
          <ion-col size="12" size-sm="12" size-md="12" size-xl="5">
            <ion-card>
              <div>
                <ion-text color="dark">
                  Willingness to Pay
                </ion-text>
              </div>
              <!-- <ion-card-header class="background"> -->

              <!-- </ion-card-header> -->

              <ion-card-content>
                <!-- Pie Chart -->
                <!-- <div id="SampleInformationChart" style="width: 100%; height: 100%"></div> -->
              </ion-card-content>
            </ion-card>
          </ion-col>

          <ion-col size="12" size-sm="12" size-md="12" size-xl="7">
            <ion-card>
              <div>
                <ion-text color="dark">
                  Willingness To Pay
                </ion-text>
              </div>
              <!-- <ion-card-header class="background"> -->

              <!-- </ion-card-header> -->

              <ion-card-content>
                <!-- Pie Chart -->
                <!-- <div id="SampleInformationChart" style="width: 100%; height: 100%"></div> -->
              </ion-card-content>
            </ion-card>
          </ion-col>
        </ion-row>
      </ion-col>

      <ion-col size="12" size-sm="12" size-md="12" size-xl="4">
        <ion-card>
          <div>
            <ion-text color="dark">
              Top 5 Products
            </ion-text>
          </div>
          <!-- <ion-card-header class="background"> -->

          <!-- </ion-card-header> -->

          <ion-card-content>
            <!-- Pie Chart -->
            <!-- <div id="SampleInformationChart" style="width: 100%; height: 100%"></div> -->
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>