.cell b{
    color: var(--ion-color-primary);
}

header{
    height: 60px;
    .cell.col-number{
        white-space: normal !important;
        justify-content: flex-end;
        text-align: right;
    }
}

header.filter{
    height: 30px;
}

.table .col-number {
    max-width: 200px;
    min-width: 200px;
}