<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button defaultHref="vehicle"></ion-back-button>
            <ion-button color="dark" class="ion-hide-sm-down">
                Thông tin xe
            </ion-button>
        </ion-buttons>

        <ion-buttons slot="end">
            <app-detail-toolbar [item]="item" [pageConfig]="pageConfig" (refresh)="refresh()" (delete)="delete()" (help)="help()"></app-detail-toolbar>
        </ion-buttons>

    </ion-toolbar>
</ion-header>


<ion-content appScrollbarTheme class="ion-padding">
    <div class="main-view" *ngIf="item && pageConfig.showSpinner==false">
        <ion-grid fixed>
            <ion-row>
                <ion-col class="img-holder" size="12" size-sm="300px">
                    <div class="avatar">
                        <img src="assets/undraw_street_food_hm5i.svg" (error)="img.src = 'assets/undraw_street_food_hm5i.svg'" #img>
                        <div>
                            <ion-button class="change-avatar" *ngIf="item.IsDisabled" color="danger" size="small">
                                TẠM DỪNG
                            </ion-button>
                            <ion-button class="change-avatar" *ngIf="!item.IsDisabled && item.Id" color="primary" size="small">
                                Đổi hình xe
                            </ion-button>
                        </div>
                    </div>
                </ion-col>
                <ion-col size="12" size-sm>
                    <ion-grid>
                        <ion-row>
                            <ion-col size="12" size-md="12" size-lg="12" size-xl="5">

                                <!-- <div class="c-control">
                                    <label class="c-label" for="Id">Id nhân sự
                                        <span *ngIf="!formGroup.controls.Id.valid && !formGroup.controls.Id.pending && (formGroup.controls.Id.dirty || submitAttempt)" ion-text color="danger">(*)</span>
                                    </label>
                                    <input readonly class="c-input" id="Id" formControlName="Id" type="text" >
                                </div> -->

                                <!-- <div class="c-control">
                                    <label class="c-label" for="Code">Mã nhân sự
                                        <span *ngIf="!formGroup.controls.Code.valid && !formGroup.controls.Code.pending && (formGroup.controls.Code.dirty || submitAttempt)" ion-text color="danger">(*)</span>
                                    </label>
                                    <input class="c-input" id="Code" formControlName="Code" type="text" >
                                </div> -->

                                <div class="c-control">
                                    <label class="c-label">Số xe
                                        <span *ngIf="!formGroup.controls.Name.valid && !formGroup.controls.Name.pending && (formGroup.controls.Name.dirty || submitAttempt)" ion-text color="danger">(*)</span>
                                    </label>
                                    <input readonly class="c-input" [ngModel]="item.Name" type="text">
                                </div>



                            </ion-col>
                            <ion-col size="12" size-md="12" size-lg="12" size-xl="5">
                                <div class="c-control">
                                    <label class="c-label">Nhân viên giao hàng
                                        <span *ngIf="!formGroup.controls.Name.valid && !formGroup.controls.Name.pending && (formGroup.controls.Name.dirty || submitAttempt)" ion-text color="danger">(*)</span>
                                    </label>
                                    <input readonly class="c-input" [ngModel]="item.ShipperName" type="text">
                                </div>
                            </ion-col>
                        </ion-row>
                    </ion-grid>
                </ion-col>
            </ion-row>
        </ion-grid>

        <div class="row-full shadow full-screen">
            <ion-toolbar color="primary">
                <ion-segment scrollable="true" (ionChange)="segmentChanged($event)" [value]="segmentView">

                    <ion-segment-button value="s1">
                        <ion-label>Thông tin xe</ion-label>
                    </ion-segment-button>
                    <ion-segment-button value="s2">
                        <ion-label>Lịch bảo dưỡng</ion-label>
                    </ion-segment-button>
                    <ion-segment-button value="s3">
                        <ion-label>Nhật ký</ion-label>
                    </ion-segment-button>
                    <ion-segment-button value="s4">
                        <ion-label>Các khoản chi phí</ion-label>
                    </ion-segment-button>
                    <ion-segment-button value="s5">
                        <ion-label>Giấy tờ / nhắc đến hạn</ion-label>
                    </ion-segment-button>
                    <ion-segment-button value="s6">
                        <ion-label>Hợp đồng thuê - gia hạn</ion-label>
                    </ion-segment-button>

                </ion-segment>
            </ion-toolbar>

            <div>

                <div *ngIf="segmentView == 's1'">

                    <div class="ion-padding">

                        <ion-grid fixed>
                            <form [formGroup]="formGroup">
                                <ion-row class="hr-group">
                                    <ion-col size="12" size-sm="12" size-md="12" size-xl="3">
                                        <ion-list-header class="ion-no-padding">
                                            <ion-label color="primary">Thông tin chung</ion-label>
                                        </ion-list-header>
                                    </ion-col>
                                    <ion-col size="12" size-sm size-xl="4">
                                        <div class="c-control" *ngIf="item.Id">
                                            <label class="c-label" for="Id">Id</label>
                                            <input class="c-input" id="Id" formControlName="Id" type="number">
                                        </div>
                                        <!-- <div class="c-control">
                                            <label class="c-label" for="Code">Mã (trong Union)
                                                <span *ngIf="!formGroup.controls.Code.valid && !formGroup.controls.Code.pending && (formGroup.controls.Code.dirty || submitAttempt)" ion-text color="danger">(*)</span>
                                            </label>
                                            <input (change)="saveChange()" class="c-input" id="Code" formControlName="Code" type="text">
                                        </div> -->
                                        <div class="c-control">
                                            <label class="c-label" for="Name">Số xe
                                                <span *ngIf="!formGroup.controls.Name.valid && !formGroup.controls.Name.pending && (formGroup.controls.Name.dirty || submitAttempt)" ion-text color="danger">(*)</span>
                                            </label>
                                            <input class="c-input" id="Name" (change)="saveChange();" formControlName="Name" type="text">
                                        </div>

                                        <div class="c-control">
                                            <label class="c-label" for="IDShipper">Nhân viên giao hàng</label>
                                            <ng-select (change)="saveChange()" class="c-input" #IDShipper formControlName="IDShipper" labelForId="IDShipper" [items]="shipperList$ | async" [typeahead]="shipperListInput$" [loading]='shipperListLoading' [virtualScroll]="true" bindLabel="FullName" bindValue="Id" placeholder="Tìm tên, mã hoặc số điện thoại...">
                                                <ng-template ng-option-tmp let-i="item" let-search="searchTerm">
                                                    <div *ngIf="i">
                                                        <div><span [ngOptionHighlight]="search">{{i.FullName}}</span></div>
                                                        <small>#<b><span class="important" [ngOptionHighlight]="search">{{i.Id}} - {{i.RefShipper}}</span></b> <span *ngIf="i.Phone"> | điện thoại: <b [ngOptionHighlight]="search">{{i.Phone}}</b></span></small>
                                                    </div>
                                                </ng-template>
                                            </ng-select>
                                        </div>

                                        <div class="c-control">
                                            <label class="c-label" for="RefShipper">Tham chiếu (Tên NVGH RPT061) 
                                                <span *ngIf="!formGroup.controls.RefShipper.valid && !formGroup.controls.RefShipper.pending && (formGroup.controls.RefShipper.dirty || submitAttempt)" ion-text color="danger">(*)</span>
                                            </label>
                                            <input (change)="saveChange()" class="c-input" id="RefShipper" formControlName="RefShipper" type="text">
                                        </div>

                                    </ion-col>
                                    <ion-col size="12" size-sm size-xl="4">

                                        <div class="c-control">
                                            <label class="c-label" for="DateOfPurchase">Ngày mua</label>
                                            <input (change)="saveChange()" formControlName="DateOfPurchase" [ngModel]="item.DateOfPurchase | date:'yyyy-MM-dd'" class="c-input" type="date">
                                        </div>

                                        <div class="c-control">
                                            <label class="c-label" for="DateOfRegistration">Ngày đăng kiểm mới nhất</label>
                                            <input (change)="saveChange()" formControlName="DateOfRegistration" [ngModel]="item.DateOfRegistration | date:'yyyy-MM-dd'" class="c-input" type="date">
                                        </div>

                                        <div class="c-control">
                                            <label class="c-label" for="DateOfRegistrationExpire">Ngày hết hạn đăng kiểm</label>
                                            <input (change)="saveChange()" formControlName="DateOfRegistrationExpire" [ngModel]="item.DateOfRegistrationExpire | date:'yyyy-MM-dd'" class="c-input" type="date">
                                        </div>


                                    </ion-col>
                                </ion-row>


                                <ion-row class="hr-group">
                                    <ion-col size="12" size-sm="12" size-md="12" size-xl="3">
                                        <ion-list-header class="ion-no-padding">
                                            <ion-label color="primary">Kích thước thùng xe</ion-label>
                                        </ion-list-header>
                                    </ion-col>
                                    <ion-col size="12" size-sm size-xl="4">
                                        <div class="c-control">
                                            <label class="c-label" for="Length"> Chiều dài (m)
                                                <span *ngIf="!formGroup.controls.Length.valid && !formGroup.controls.Length.pending && (formGroup.controls.Length.dirty || submitAttempt)" ion-text color="danger">(*)</span>
                                            </label>
                                            <input (change)="saveChange()" class="c-input" id="Length" formControlName="Length" type="tel" (focus)="$event.target.select()" mask="separator.2" thousandSeparator=",">


                                        </div>

                                        <div class="c-control">
                                            <label class="c-label" for="Width"> Chiều rộng (m)
                                                <span *ngIf="!formGroup.controls.Width.valid && !formGroup.controls.Width.pending && (formGroup.controls.Width.dirty || submitAttempt)" ion-text color="danger">(*)</span>
                                            </label>
                                            <input (change)="saveChange()" class="c-input" id="Width" formControlName="Width" type="tel" (focus)="$event.target.select()" mask="separator.2" thousandSeparator=",">
                                        </div>

                                        <div class="c-control">
                                            <label class="c-label" for="Height"> Chiều cao (m)
                                                <span *ngIf="!formGroup.controls.Height.valid && !formGroup.controls.Height.pending && (formGroup.controls.Height.dirty || submitAttempt)" ion-text color="danger">(*)</span>
                                            </label>
                                            <input (change)="saveChange()" class="c-input" id="Height" formControlName="Height" type="tel" (focus)="$event.target.select()" mask="separator.2" thousandSeparator=",">
                                        </div>

                                    </ion-col>
                                    <ion-col size="12" size-sm size-xl="4">

                                    </ion-col>
                                </ion-row>


                                <ion-row class="hr-group">
                                    <ion-col size="12" size-sm="12" size-md="12" size-xl="3">
                                        <ion-list-header class="ion-no-padding">
                                            <ion-label color="primary">Trọng tải</ion-label>
                                        </ion-list-header>
                                    </ion-col>
                                    <ion-col size="12" size-sm size-xl="4">
                                        <div class="c-control">
                                            <label class="c-label" for="WeightMin"> Trọng lượng chạy tối thiểu (tấn)
                                                <span *ngIf="!formGroup.controls.WeightMin.valid && !formGroup.controls.WeightMin.pending && (formGroup.controls.WeightMin.dirty || submitAttempt)" ion-text color="danger">(*)</span>
                                            </label>
                                            <input (change)="saveChange()" class="c-input" id="WeightMin" formControlName="WeightMin" type="tel" (focus)="$event.target.select()" mask="separator.2" thousandSeparator=",">
                                        </div>
                                        <div class="c-control">
                                            <label class="c-label" for="WeightRecommend"> Trọng lượng chạy tốt nhất (tấn)
                                                <span *ngIf="!formGroup.controls.WeightRecommend.valid && !formGroup.controls.WeightRecommend.pending && (formGroup.controls.WeightRecommend.dirty || submitAttempt)" ion-text color="danger">(*)</span>
                                            </label>
                                            <input (change)="saveChange()" class="c-input" id="WeightRecommend" formControlName="WeightRecommend" type="tel" (focus)="$event.target.select()" mask="separator.2" thousandSeparator=",">
                                        </div>
                                        <div class="c-control">
                                            <label class="c-label" for="WeightMax"> Trọng lượng chạy tối đa (tấn)
                                                <span *ngIf="!formGroup.controls.WeightMax.valid && !formGroup.controls.WeightMax.pending && (formGroup.controls.WeightMax.dirty || submitAttempt)" ion-text color="danger">(*)</span>
                                            </label>
                                            <input (change)="saveChange()" class="c-input" id="WeightMax" formControlName="WeightMax" type="tel" (focus)="$event.target.select()" mask="separator.2" thousandSeparator=",">
                                        </div>
                                    </ion-col>
                                    <ion-col size="12" size-sm size-xl="4">
                                        <div class="c-control">
                                            <label class="c-label" for="VolumeMin"> Thể tích chạy tối thiểu (m³)
                                                <span *ngIf="!formGroup.controls.VolumeMin.valid && !formGroup.controls.VolumeMin.pending && (formGroup.controls.VolumeMin.dirty || submitAttempt)" ion-text color="danger">(*)</span>
                                            </label>
                                            <input (change)="saveChange()" class="c-input" id="VolumeMin" formControlName="VolumeMin" type="tel" (focus)="$event.target.select()" mask="separator.2" thousandSeparator=",">
                                        </div>
                                        <div class="c-control">
                                            <label class="c-label" for="VolumeRecommend"> Thể tích chạy tốt nhất (m³)
                                                <span *ngIf="!formGroup.controls.VolumeRecommend.valid && !formGroup.controls.VolumeRecommend.pending && (formGroup.controls.VolumeRecommend.dirty || submitAttempt)" ion-text color="danger">(*)</span>
                                            </label>
                                            <input (change)="saveChange()" class="c-input" id="VolumeRecommend" formControlName="VolumeRecommend" type="tel" (focus)="$event.target.select()" mask="separator.2" thousandSeparator=",">
                                        </div>
                                        <div class="c-control">
                                            <label class="c-label" for="VolumeMax"> Thể tích chạy tối đa (m³)
                                                <span *ngIf="!formGroup.controls.VolumeMax.valid && !formGroup.controls.VolumeMax.pending && (formGroup.controls.VolumeMax.dirty || submitAttempt)" ion-text color="danger">(*)</span>
                                            </label>
                                            <input (change)="saveChange()" class="c-input" id="VolumeMax" formControlName="VolumeMax" type="tel" (focus)="$event.target.select()" mask="separator.2" thousandSeparator=",">
                                        </div>
                                    </ion-col>
                                </ion-row>


                                <!-- <ion-row class="hr-group">
                    <ion-col size="12" size-sm="12" size-md="12" size-xl="3">
                        <ion-list-header class="ion-no-padding">
                            <ion-label color="primary">Thông tin sản phẩm</ion-label>
                        </ion-list-header>
                    </ion-col>
                    <ion-col size="12" size-sm size-xl="4">
                        

                    </ion-col>
                    <ion-col size="12" size-sm size-xl="4">
                        
                    </ion-col>
                </ion-row> -->


                            </form>
                        </ion-grid>
                    </div>
                </div>
                <div *ngIf="segmentView == 's2'">

                </div>

                <div *ngIf="segmentView == 's3'">


                </div>

                <div *ngIf="segmentView == 's4'">

                </div>

                <div *ngIf="segmentView == 's5'">

                </div>
            </div>
        </div>
    </div>

    <app-page-message [itemsLength]="item? 1: 0" [showSpinner]="pageConfig.showSpinner"></app-page-message>

</ion-content>