.main-view{
    
    
    .row-1{
        display: flex;
        flex-flow: row wrap;

        @media screen and (min-width: 1024px )
        {
            flex-flow: row;
            flex-direction: row;
            margin: 0 40px;
        }
        .top-main-chart{
            padding-top: 40px;
            margin-top: -20px;
            order: 5;
            height: 185px;
            width: 100%;
            border-radius: 0 0 0 18px;
            background-color: var(--ion-color-primary);
            z-index: 0;
            display: flex;

            @media screen and (min-width: 1024px )
            {
                display: block;
                padding-top: 0px;
                margin-top: 0px;
                order: 0;
                width: 240px;
                height: 233px;
                border-radius: 0 0 18px 18px;
            }
            .number{
                font-size: 30px;
                font-weight: 500;
                color: var(--ion-color-primary-contrast);
                
                margin-top: 26px;
                margin-left: 26px;
            }
            .title{
                padding-left: 0;
                font-size: 12px;
                text-transform: uppercase;
                color: var(--ion-color-primary-contrast);
                opacity: 0.5;
                margin: 7px 7px 10px 27px;
                
            }
            .number-container{
                width: 25%;
                min-width: 130px;
                max-width: 200px;
                @media screen and (min-width: 1024px )
                {
                    position: initial;
                    width: 100%;
                }
            }
            .chart-contain{
                flex: auto;
                height: 133px;
                overflow: hidden;

                @media screen and (min-width: 1024px )
                {
                    width: 100%;
                }
            }
        }

        .top-chart{
            flex: auto;
            max-width: 33.33%;
            height: 150px;
            border-radius: 0 0 0px 0px;
            margin-left: 0px;
            background-color: var(--ion-color-tertiary);
            vertical-align: top;
            z-index: 1;
            @media screen and (min-width: 1024px )
            {
                width: 180px;
                margin-left: 30px;
                border-radius: 0 0 18px 18px;
            }

            &.multi-lines{
                padding-top: 26px;
                border-radius: 0 0 0 18px;
                @media screen and (min-width: 1024px )
                {
                    border-radius: 0 0 18px 18px;
                }
                & > div{
                    white-space: nowrap;
                }
            }

            .number{
                font-size: 22px;
                font-weight: 600;
                color: var(--ion-color-dark);
                margin-top: 26px;
                margin-left: 26px;
                white-space: nowrap;
            }
            .title{
                padding: 0;
                font-size: 9px;
                text-transform: uppercase;
                color: var(--ion-color-medium);
                opacity: 0.5;
                margin: 7px 7px 10px 27px;
            }
            .stats{
                font-size: 16px;
                margin-top: 26px;
                margin-left: 17px;
                vertical-align: middle;
                font-weight: bold;

                ion-icon{
                    font-size: 25px;
                    vertical-align: middle;
                    height: 20px;
                }
            }
            
        }
    }
    .row-2{
        margin-top: 40px;

        @media screen and (min-width: 1024px )
        {
            margin: 40px;
            margin-top: 40px;
        }

        .chart-contain{
            height: 255px;
            width: 100%;
            overflow: hidden;
        }
    }

    

    .row-3{
        display: flex;
        // flex-flow: row;
        flex-flow: wrap;
        align-items: stretch;
        margin: -16px;
        margin-top: 25px;
        overflow: hidden;
        overflow-x: auto;
        padding-bottom: 20px;
        @media screen and (min-width: 1024px )
        {
            margin: 25px;
        }
        @media (min-height: 920px) {
            // flex-flow: wrap;
        }

        
    }

    
}

.feature{
    .chart-box{
        min-height: 95px;
        background-color: var(--ion-color-light);

        &.kpi{
            
        }
    }
}



.chart-box{
    flex: auto;
    margin-top: 40px !important;
    min-height: 150px;
    min-width: 240px;
    background: var(--ion-color-tertiary-tint);
    border-radius: 0 0 0 18px;
    margin: 15px;

    @media screen and (min-width: 1024px )
    {
        border-radius: 18px;
    }


    // @media screen and (min-width: 481px )
    // {
    //     max-width: 50vw;
    // }
    .title{
        position: absolute;
        margin-top: -30px;
    }
}

.chart-contain{
    // height: 150px;
    height: 100%;
    width: 100%;
    overflow: hidden;
}

.title{
    color: var(--ion-color-dark);
    font-weight: 300;
    font-size: 13px;
    padding-left: 16px;
    text-transform: uppercase;

    @media screen and (min-width: 1024px )
    {
        padding-left: 0;
    }
}