.head-bg{
    .title{
        text-transform: uppercase;
        font-size: 1.4rem;
    }
}


.main-content{
    position: relative;
    z-index: 1;
    

    .summary{
        text-align: center;
        margin: 20px 0;
        .edit{
            position: absolute;
            right: 16px;
            margin-top: 4px;
        }
        .time {
            font-size: 3.0rem;
            font-weight: bold;
            color: #fff;
            line-height: 30px;
        }
        .date {
            line-height: 20px;
            font-size: 1.4rem;
            color: #fff;
        }
    }
}