<ion-content appScrollbarTheme>
	<div class="one-col ion-padding">
		<div class="ion-text-center">
			<img class="logo" src="../../../assets/art-logo.png">
			<div class="header">
				A.R.T Distribution
			</div>
		</div>
		<div class="ion-margin ion-padding"></div>
		<div class="text ion-text-center">
			<p>Văn phòng : 9/12 đường Số 14, Phường Bình Trưng Tây, Quận 2 TP.HCM <br>
				Điện thoại : 08. 22.53.2112 <br>
				Fax: 08. 22.53.2112 <br>
				Email: info@artdistribution.vn<br><br>
				Kho hàng 1 : Xã Xuân Tâm, Huyện Xuân Lộc, Tỉnh Đồng Nai.<br>
				Điện thoạii: 0616. 548. 797 Hotline: 0981179109<br><br>
				Kho hàng 2: Xã Lộc An, Huyện Long Thành, Tỉnh Đồng Nai.<br>
				Điện thoại: 0616. 545. 627 Hotline : 0981179108<br><br>
				Copyright 2016 artdistribution.vn</p>
		</div>
	</div>
</ion-content>