<ion-header>
	<app-list-toolbar pageTitle="Danh sách" [ShowFeature]="false" [pageConfig]="pageConfig" [selectedItems]="selectedItems" [query]="query" (add)="add()" (refresh)="refresh()" (export)="export()" (import)="import($event)" (help)="help()" (unselect)="unselect()" (archiveItems)="archiveItems()" (deleteItems)="deleteItems()"></app-list-toolbar>

	<section class="table">
		<header class="bold ion-hide-sm-down">
			<div class="col-checkbox cell"></div>
			<div class="col-id cell ion-hide-sm-down" (click)="sortToggle('Id')">
				Id
				<ion-icon class="min-btn" *ngIf="sort.Id" [name]="sort.Id == 'Id'?'arrow-down': 'arrow-up'"></ion-icon>
				<ion-icon class="min-btn" (click)="pageConfig.isShowSearch = !pageConfig.isShowSearch" *ngIf="query.Id" name="search" color="primary"></ion-icon>
			</div>
			<div class="col-checkbox cell clickable" (click)="sortToggle('IsPersonal')">
				<ion-icon name="people-circle-outline"></ion-icon>
				<ion-icon class="min-btn" *ngIf="sort.IsPersonal" [name]="sort.IsPersonal == 'IsPersonal'?'arrow-down': 'arrow-up'"></ion-icon>
				<ion-icon class="min-btn" (click)="pageConfig.isShowSearch = !pageConfig.isShowSearch" *ngIf="query.IsPersonal" name="search" color="primary"></ion-icon>
			</div>
			<div class="col-name cell" (click)="sortToggle('Name')">
				Tên gọi
				<ion-icon class="min-btn" *ngIf="sort.Name" [name]="sort.Name == 'Name'?'arrow-down': 'arrow-up'"></ion-icon>
				<ion-icon class="min-btn" (click)="pageConfig.isShowSearch = !pageConfig.isShowSearch" *ngIf="query.CustomerName" name="search" color="primary"></ion-icon>
			</div>
			<div class="col-code cell clickable ion-hide-sm-down" (click)="sortToggle('WorkPhone')">
				Điện thoại
				<ion-icon class="min-btn" *ngIf="sort.WorkPhone" [name]="sort.WorkPhone == 'WorkPhone'?'arrow-down': 'arrow-up'"></ion-icon>
				<ion-icon class="min-btn" (click)="pageConfig.isShowSearch = !pageConfig.isShowSearch" *ngIf="query.WorkPhone" name="search" color="primary"></ion-icon>
			</div>

			<div class="col-id cell ion-hide-sm-down" (click)="sortToggle('IsOutlets')">
				Outlets
				<ion-icon class="min-btn" *ngIf="sort.IsOutlets" [name]="sort.IsOutlets == 'IsOutlets'?'arrow-down': 'arrow-up'"></ion-icon>
				<ion-icon class="min-btn" (click)="pageConfig.isShowSearch = !pageConfig.isShowSearch" *ngIf="query.IsOutlets" name="search" color="primary"></ion-icon>
			</div>
			<div class="col-id cell ion-hide-sm-down" (click)="sortToggle('IsStorer')">
				Storer
				<ion-icon class="min-btn" *ngIf="sort.IsStorer" [name]="sort.IsStorer == 'IsStorer'?'arrow-down': 'arrow-up'"></ion-icon>
				<ion-icon class="min-btn" (click)="pageConfig.isShowSearch = !pageConfig.isShowSearch" *ngIf="query.IsStorer" name="search" color="primary"></ion-icon>
			</div>
			<div class="col-id cell ion-hide-sm-down" (click)="sortToggle('IsVendor')">
				Vendor
				<ion-icon class="min-btn" *ngIf="sort.IsVendor" [name]="sort.IsVendor == 'IsVendor'?'arrow-down': 'arrow-up'"></ion-icon>
				<ion-icon class="min-btn" (click)="pageConfig.isShowSearch = !pageConfig.isShowSearch" *ngIf="query.IsVendor" name="search" color="primary"></ion-icon>
			</div>
			<div class="col-id cell ion-hide-sm-down" (click)="sortToggle('IsCarrier')">
				Carrier
				<ion-icon class="min-btn" *ngIf="sort.IsCarrier" [name]="sort.IsCarrier == 'IsCarrier'?'arrow-down': 'arrow-up'"></ion-icon>
				<ion-icon class="min-btn" (click)="pageConfig.isShowSearch = !pageConfig.isShowSearch" *ngIf="query.IsCarrier" name="search" color="primary"></ion-icon>
			</div>
			<!-- <div class="col-id cell ion-hide-sm-down" (click)="sortToggle('IsCustomer')">
				Customer
				<ion-icon class="min-btn" *ngIf="sort.IsCustomer" [name]="sort.IsCustomer == 'IsCustomer'?'arrow-down': 'arrow-up'"></ion-icon>
				<ion-icon class="min-btn" (click)="pageConfig.isShowSearch = !pageConfig.isShowSearch" *ngIf="query.IsCustomer" name="search" color="primary"></ion-icon>
			</div>
			<div class="col-id cell ion-hide-sm-down" (click)="sortToggle('IsDistributor')">
				Distributor
				<ion-icon class="min-btn" *ngIf="sort.IsDistributor" [name]="sort.IsDistributor == 'IsDistributor'?'arrow-down': 'arrow-up'"></ion-icon>
				<ion-icon class="min-btn" (click)="pageConfig.isShowSearch = !pageConfig.isShowSearch" *ngIf="query.IsDistributor" name="search" color="primary"></ion-icon>
			</div> -->
			<div class="col-id cell ion-hide-sm-down" (click)="sortToggle('IsBranch')">
				Branch
				<ion-icon class="min-btn" *ngIf="sort.IsBranch" [name]="sort.IsBranch == 'IsBranch'?'arrow-down': 'arrow-up'"></ion-icon>
				<ion-icon class="min-btn" (click)="pageConfig.isShowSearch = !pageConfig.isShowSearch" *ngIf="query.IsBranch" name="search" color="primary"></ion-icon>
			</div>
			<div class="col-id cell ion-hide-sm-down" (click)="sortToggle('IsStaff')">
				Staff
				<ion-icon class="min-btn" *ngIf="sort.IsStaff" [name]="sort.IsStaff == 'IsStaff'?'arrow-down': 'arrow-up'"></ion-icon>
				<ion-icon class="min-btn" (click)="pageConfig.isShowSearch = !pageConfig.isShowSearch" *ngIf="query.IsStaff" name="search" color="primary"></ion-icon>
			</div>



			<!-- <div class="col-code cell ion-hide-sm-down">Hashtag</div> -->
			<!-- <div class="col-code cell" (click)="sortToggle('Code')">Đơn vị
				<ion-icon class="min-btn" *ngIf="sort.Code" [name]="sort.Code == 'Code'?'arrow-down': 'arrow-up'"></ion-icon>
				<ion-icon class="min-btn" (click)="pageConfig.isShowSearch = !pageConfig.isShowSearch" *ngIf="query.Code_eq" name="search" color="primary"></ion-icon>
			</div> -->

		</header>
		<form (submit)="refresh()" action="#">
			<header class="filter" *ngIf="pageConfig.isShowSearch">
				<div class="col-checkbox cell"></div>
				<div class="col-id cell ion-hide-sm-down">
					<input [ngModelOptions]="{standalone: true}" [(ngModel)]="query.Id" class="c-input" [ngClass]="{active: query.Id}" type="text">
					<ion-icon class="min-btn" (click)="query.Id=''; refresh()" *ngIf="query.Id" name="close-circle-outline"></ion-icon>
				</div>
				<div class="col-checkbox cell clickable" (click)="query.IsPersonal=query.IsPersonal===true?false:(query.IsPersonal===false? '': true); refresh()">
					<ion-icon [name]="query.IsPersonal===true?'person-outline':(query.IsPersonal===false?'business-outline':'people-circle-outline')"></ion-icon>
				</div>
				<div class="col-name cell">
					<input placeholder="Tìm theo mã, tên, số điện thoại" [ngModelOptions]="{standalone: true}" [(ngModel)]="query.CustomerName" class="c-input" [ngClass]="{active: query.CustomerName}" type="text">
					<ion-icon class="min-btn" (click)="query.CustomerName=''; refresh()" *ngIf="query.CustomerName" name="close-circle-outline"></ion-icon>
				</div>
				<div class="col-code cell ion-hide-sm-down">
					<input [ngModelOptions]="{standalone: true}" [(ngModel)]="query.WorkPhone" class="c-input" [ngClass]="{active: query.WorkPhone}" type="text">
					<ion-icon class="min-btn" (click)="query.WorkPhone=''; refresh()" *ngIf="query.WorkPhone" name="close-circle-outline"></ion-icon>
				</div>

				<div class="col-id cell cell-btn ion-hide-sm-down" (click)="query.IsOutlets=query.IsOutlets===true?false:(query.IsOutlets===false? '': true); refresh()">
					<ion-icon class="min-btn" [name]="query.IsOutlets===true?'checkmark-outline':(query.IsOutlets===false?'ban-outline':'checkmark-done-outline')"></ion-icon>
				</div>
				<div class="col-id cell cell-btn ion-hide-sm-down" (click)="query.IsStorer=query.IsStorer===true?false:(query.IsStorer===false? '': true); refresh()">
					<ion-icon class="min-btn" [name]="query.IsStorer===true?'checkmark-outline':(query.IsStorer===false?'ban-outline':'checkmark-done-outline')"></ion-icon>
				</div>
				<div class="col-id cell cell-btn ion-hide-sm-down" (click)="query.IsVendor=query.IsVendor===true?false:(query.IsVendor===false? '': true); refresh()">
					<ion-icon class="min-btn" [name]="query.IsVendor===true?'checkmark-outline':(query.IsVendor===false?'ban-outline':'checkmark-done-outline')"></ion-icon>
				</div>
				<div class="col-id cell cell-btn ion-hide-sm-down" (click)="query.IsCarrier=query.IsCarrier===true?false:(query.IsCarrier===false? '': true); refresh()">
					<ion-icon class="min-btn" [name]="query.IsCarrier===true?'checkmark-outline':(query.IsCarrier===false?'ban-outline':'checkmark-done-outline')"></ion-icon>
				</div>
				<!-- <div class="col-id cell cell-btn ion-hide-sm-down" (click)="query.IsCustomer=query.IsCustomer===true?false:(query.IsCustomer===false? '': true); refresh()">
					<ion-icon  class="min-btn" [name]="query.IsCustomer===true?'checkmark-outline':(query.IsCustomer===false?'ban-outline':'checkmark-done-outline')"></ion-icon>
				</div>
				<div class="col-id cell cell-btn ion-hide-sm-down" (click)="query.IsDistributor=query.IsDistributor===true?false:(query.IsDistributor===false? '': true); refresh()">
					<ion-icon  class="min-btn" [name]="query.IsDistributor===true?'checkmark-outline':(query.IsDistributor===false?'ban-outline':'checkmark-done-outline')"></ion-icon>
				</div> -->

				<div class="col-id cell cell-btn ion-hide-sm-down" (click)="query.IsBranch=query.IsBranch===true?false:(query.IsBranch===false? '': true); refresh()">
					<ion-icon class="min-btn" [name]="query.IsBranch===true?'checkmark-outline':(query.IsBranch===false?'ban-outline':'checkmark-done-outline')"></ion-icon>
				</div>
				<div class="col-id cell cell-btn ion-hide-sm-down" (click)="query.IsStaff=query.IsStaff===true?false:(query.IsStaff===false? '': true); refresh()">
					<ion-icon class="min-btn" [name]="query.IsStaff===true?'checkmark-outline':(query.IsStaff===false?'ban-outline':'checkmark-done-outline')"></ion-icon>
				</div>


				<!-- <div class="col-code cell">
					<select (change)="refresh()" [ngModelOptions]="{standalone: true}" [(ngModel)]="query.IDWorkPhone" class="c-input c-dropdown" [ngClass]="{active: query.IDWorkPhone}">
						<option [disabled]="t.Flag" *ngFor="let t of departmentList" [value]="t.Query">{{t.NamePadding}}</option>
					</select>
					<ion-icon class="min-btn" (click)="query.IDWorkPhone=''; refresh()" *ngIf="query.IDWorkPhone" name="close-circle-outline"></ion-icon>
				</div> -->
				<!-- <div class="col-code cell">
					<select (change)="refresh()" [ngModelOptions]="{standalone: true}" [(ngModel)]="query.IDJobTitle" class="c-input c-dropdown" [ngClass]="{active: query.IDJobTitle}">
						<option [disabled]="!t.Flag" *ngFor="let t of branchList" [value]="t.Id">{{t.NamePadding}}</option>
					</select>
					<ion-icon class="min-btn" (click)="query.IDJobTitle=''; refresh()" *ngIf="query.IDJobTitle" name="close-circle-outline"></ion-icon>
				</div> -->

				<button mat-raised-button type="submit" style="display:none">Search</button>
			</header>
		</form>
	</section>
</ion-header>

<ion-content appScrollbarTheme class="header-table">
	<app-page-message [itemsLength]="items.length" [showSpinner]="pageConfig.showSpinner"></app-page-message>

	<div *ngIf="items.length && pageConfig.showSpinner==false">
		<section class="table">
			<ion-virtual-scroll [items]="items" approxItemHeight="27px">
				<ng-container *virtualItem="let i; let itemBounds = bounds; let j = index;">
					<div class="row" [ngClass]="{odd: j % 2 != 0}" [ngClass]="{selected: i.checked}">
						<div class="col-checkbox cell">
							<input (click)="changeSelection(i, $event)" class="c-checkbox" [(ngModel)]="i.checked" type="checkbox">
						</div>
						<div (click)="nav(this.pageConfig.pageName+'/'+i.Id,'forward')" class="col-id cell ion-hide-sm-down">
							{{i.Id}}
						</div>
						<div class="col-checkbox cell">
							<ion-icon class="min-btn" [color]="i.IsPersonal?'success':'warning'" [name]="i.IsPersonal?'person-outline':'business-outline'"></ion-icon>
						</div>

						<div (click)="nav(this.pageConfig.pageName+'/'+i.Id,'forward')" class="col-name cell">
							{{i.Name}}
						</div>
						<div class="col-code cell ion-hide-sm-down">{{i.WorkPhone}}</div>

						<div class="col-id cell ion-hide-sm-down">
							<ion-icon class="min-btn" *ngIf="i.IsOutlets" name="checkmark"></ion-icon>
						</div>
						<div class="col-id cell ion-hide-sm-down">
							<ion-icon class="min-btn" *ngIf="i.IsStorer" name="checkmark"></ion-icon>
						</div>
						<div class="col-id cell ion-hide-sm-down">
							<ion-icon class="min-btn" *ngIf="i.IsVendor" name="checkmark"></ion-icon>
						</div>
						<div class="col-id cell ion-hide-sm-down">
							<ion-icon class="min-btn" *ngIf="i.IsCarrier" name="checkmark"></ion-icon>
						</div>
						<!-- <div class="col-id cell ion-hide-sm-down">
							<ion-icon class="min-btn" *ngIf="i.IsCustomer" name="checkmark"></ion-icon>
						</div>
						<div class="col-id cell ion-hide-sm-down">
							<ion-icon class="min-btn" *ngIf="i.IsDistributor" name="checkmark"></ion-icon>
						</div> -->
						<div class="col-id cell ion-hide-sm-down">
							<ion-icon class="min-btn" *ngIf="i.IsBranch" name="checkmark"></ion-icon>
						</div>
						<div class="col-id cell ion-hide-sm-down">
							<ion-icon class="min-btn" *ngIf="i.IsStaff" name="checkmark"></ion-icon>
						</div>

						<!-- <div class="col-code cell">{{i.JobTitle}}</div> -->
						<!-- <div class="col-code cell">{{i.Branch}}</div> -->
					</div>
				</ng-container>
			</ion-virtual-scroll>
		</section>
	</div>

	<ion-infinite-scroll color="primary" threshold="20%" (ionInfinite)="loadData($event)" [disabled]="!pageConfig.infiniteScroll || pageConfig.isEndOfData">
		<ion-infinite-scroll-content loadingSpinner="dots"></ion-infinite-scroll-content>
	</ion-infinite-scroll>
</ion-content>