<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button defaultHref="zone"></ion-back-button>
            <ion-button color="dark" class="ion-hide-sm-down">
                Zone
            </ion-button>
        </ion-buttons>
        <ion-buttons slot="end">
            <app-detail-toolbar [item]="item" [pageConfig]="pageConfig" (refresh)="refresh()" (delete)="delete()" (help)="help()"></app-detail-toolbar>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content appScrollbarTheme>
    <!-- <ion-toolbar color="primary">
        <ion-segment scrollable="true" (ionChange)="segmentChanged($event)" [value]="segmentView">
            <ion-segment-button value="s1">
                <ion-label>Thông tin chung</ion-label>
            </ion-segment-button>
        </ion-segment>
    </ion-toolbar> -->

    <div class="main-view ion-padding" *ngIf="item && pageConfig.showSpinner==false">
        <div class="row-full shadow full-screen">
            <div>
                <div *ngIf="segmentView == 's1'">
                    <div class="ion-padding">
                        <ion-grid fixed>
                            <form [formGroup]="formGroup">
                                <ion-row class="hr-group">
                                    <ion-col size="12" size-sm="12" size-md="12" size-xl="3">
                                        <ion-list-header class="ion-no-padding">
                                            <ion-label color="primary">Thông tin chung</ion-label>
                                        </ion-list-header>
                                    </ion-col>
                                    <ion-col size="12" size-sm="6" size-xl="4">
                                        <!-- <div class="c-control">
                                            <label class="c-label" for="Code">Mã <span *ngIf="formGroup.controls.Id.value">(Id: {{formGroup.controls.Id.value}})</span>
                                                <span *ngIf="!formGroup.controls.Code.valid && !formGroup.controls.Code.pending && (formGroup.controls.Code.dirty || submitAttempt)" ion-text color="danger">(*)</span>
                                            </label>
                                            <input (change)="saveChange()" class="c-input" id="Code" formControlName="Code" type="text">
                                        </div> -->
                                        <div class="c-control">
                                            <label class="c-label" for="Name">Tên gọi <span *ngIf="formGroup.controls.Id.value">(Id: {{formGroup.controls.Id.value}})</span>
                                                <span *ngIf="!formGroup.controls.Name.valid && !formGroup.controls.Name.pending && (formGroup.controls.Name.dirty || submitAttempt)" ion-text color="danger">(*)</span>
                                            </label>
                                            <input class="c-input" id="Name" (change)="saveChange();" formControlName="Name" type="text">
                                        </div>
                                        <div class="c-control">
                                            <label class="c-label" for="IDBranch">Kho
                                                <span *ngIf="!formGroup.controls.IDBranch.valid && !formGroup.controls.IDBranch.pending && (formGroup.controls.IDBranch.dirty || submitAttempt)" ion-text color="danger">(*)</span>
                                            </label>
                                            <ng-select class="c-input" (change)="saveChange();" labelForId="IDBranch" formControlName="IDBranch" [items]="branchList" [virtualScroll]="true" bindLabel="Name" bindValue="Id" placeholder="Tìm kiếm...">
                                                <ng-template ng-option-tmp let-i="item" let-search="searchTerm">
                                                    <div *ngIf="i">
                                                        <div> <span *ngFor="let l of i.levels">&nbsp;&nbsp;&nbsp;</span> <span [ngOptionHighlight]="search">{{i.Name}}</span></div>
                                                    </div>
                                                </ng-template>
                                            </ng-select>
                                        </div>
                                        <div class="c-control">
                                            <label class="c-label" for="MaxPalletsPerItem">Số lượng pallet tối đa cho mỗi item
                                                <span *ngIf="!formGroup.controls.MaxPalletsPerItem.valid && !formGroup.controls.MaxPalletsPerItem.pending && (formGroup.controls.MaxPalletsPerItem.dirty || submitAttempt)" ion-text color="danger">(*)</span>
                                            </label>
                                            <input class="c-input" id="MaxPalletsPerItem" (change)="saveChange();" formControlName="MaxPalletsPerItem" type="number">
                                        </div>
                                        <div class="c-control">
                                            <label class="c-label" for="MaximumPickerOneTime">Số lượng nhân viên cùng lấy hàng
                                                <span *ngIf="!formGroup.controls.MaximumPickerOneTime.valid && !formGroup.controls.MaximumPickerOneTime.pending && (formGroup.controls.MaximumPickerOneTime.dirty || submitAttempt)" ion-text color="danger">(*)</span>
                                            </label>
                                            <input class="c-input" id="MaximumPickerOneTime" (change)="saveChange();" formControlName="MaximumPickerOneTime" type="number">
                                        </div>
                                        <div class="c-control">
                                            <label class="c-label" for="DefaultPickToLocation">Vị trí tập kết sau khi lấy hàng
                                                <span *ngIf="!formGroup.controls.DefaultPickToLocation.valid && !formGroup.controls.DefaultPickToLocation.pending && (formGroup.controls.DefaultPickToLocation.dirty || submitAttempt)" ion-text color="danger">(*)</span>
                                            </label>
                                            <ng-select class="c-input" (change)="saveChange();" labelForId="DefaultPickToLocation" formControlName="DefaultPickToLocation" [items]="locationList" [virtualScroll]="true" bindLabel="Name" bindValue="Id" placeholder="Tìm kiếm...">
                                                <ng-template ng-option-tmp let-i="item" let-search="searchTerm">
                                                    <div *ngIf="i">
                                                        <div> <span *ngFor="let l of i.levels">&nbsp;&nbsp;&nbsp;</span> <span [ngOptionHighlight]="search">{{i.Name}}</span></div>
                                                    </div>
                                                </ng-template>
                                            </ng-select>
                                        </div>
                                    </ion-col>
                                    <ion-col size="12" size-sm="6" size-xl="4">
                                        <div class="c-control">
                                            <label class="c-label" for="InLocation">Vị trí vào
                                                <span *ngIf="!formGroup.controls.InLocation.valid && !formGroup.controls.InLocation.pending && (formGroup.controls.InLocation.dirty || submitAttempt)" ion-text color="danger">(*)</span>
                                            </label>
                                            <ng-select class="c-input" (change)="saveChange();" labelForId="InLocation" formControlName="InLocation" [items]="locationList" [virtualScroll]="true" bindLabel="Name" bindValue="Id" placeholder="Tìm kiếm...">
                                                <ng-template ng-option-tmp let-i="item" let-search="searchTerm">
                                                    <div *ngIf="i">
                                                        <div> <span *ngFor="let l of i.levels">&nbsp;&nbsp;&nbsp;</span> <span [ngOptionHighlight]="search">{{i.Name}}</span></div>
                                                    </div>
                                                </ng-template>
                                            </ng-select>
                                        </div>
                                        <div class="c-control">
                                            <label class="c-label" for="OutLocation">Vị trí ra
                                                <span *ngIf="!formGroup.controls.OutLocation.valid && !formGroup.controls.OutLocation.pending && (formGroup.controls.OutLocation.dirty || submitAttempt)" ion-text color="danger">(*)</span>
                                            </label>
                                            <ng-select class="c-input" (change)="saveChange();" labelForId="OutLocation" formControlName="OutLocation" [items]="locationList" [virtualScroll]="true" bindLabel="Name" bindValue="Id" placeholder="Tìm kiếm...">
                                                <ng-template ng-option-tmp let-i="item" let-search="searchTerm">
                                                    <div *ngIf="i">
                                                        <div> <span *ngFor="let l of i.levels">&nbsp;&nbsp;&nbsp;</span> <span [ngOptionHighlight]="search">{{i.Name}}</span></div>
                                                    </div>
                                                </ng-template>
                                            </ng-select>
                                        </div>
                                        <div class="c-control">
                                            <label class="c-label" for="Sort">Sắp xếp
                                                <span *ngIf="!formGroup.controls.Sort.valid && !formGroup.controls.Sort.pending && (formGroup.controls.Sort.dirty || submitAttempt)" ion-text color="danger">(*)</span>
                                            </label>
                                            <input class="c-input" id="Sort" (change)="saveChange();" formControlName="Sort" type="number">
                                        </div>
                                        <div class="c-control">
                                            <label class="c-label" for="Remark">Ghi chú
                                                <span *ngIf="!formGroup.controls.Remark.valid && !formGroup.controls.Remark.pending && (formGroup.controls.Remark.dirty || submitAttempt)" ion-text color="danger">(*)</span>
                                            </label>
                                            <textarea (change)="saveChange()" rows="3" class="c-input" id="Remark" formControlName="Remark" type="textarea"></textarea>
                                        </div>
                                    </ion-col>
                                </ion-row>
                                <ion-row class="hr-group">
                                    <ion-col size="12" size-sm="12" size-md="12" size-xl="3">
                                        <ion-list lines="none">
                                        <ion-list-header class="ion-no-padding">
                                            <ion-label color="primary">Quy tắc phân việc</ion-label>
                                        </ion-list-header>
                                       
                                    </ion-list>
                                    </ion-col>
                                    <ion-col size="12" size-sm="6" size-xl="4">
                                        <div class="c-control">
                                            <span class="no-warp">
                                                <input (change)="saveChange()" class="c-checkbox" id="IsCreateAssignments" formControlName="IsCreateAssignments" type="checkbox">
                                                <label class="c-label checkbox" for="IsCreateAssignments">Sử dụng phân việc
                                                    <span *ngIf="!formGroup.controls.IsCreateAssignments.valid && !formGroup.controls.IsCreateAssignments.pending && (formGroup.controls.IsCreateAssignments.dirty || submitAttempt)" ion-text color="danger">(*)</span>
                                                </label>
                                                <p>
                                                    Tối đa / một lần lấy hàng
                                                </p>
                                            </span>
                                        </div>
                                    </ion-col>
                                    <ion-col size="12" size-sm="6" size-xl="4">
                                        <div class="c-control">
                                            <span class="no-warp">
                                                <input (change)="saveChange()" class="c-checkbox" id="IsZoneBreak" formControlName="IsZoneBreak" type="checkbox">
                                                <label class="c-label checkbox" for="IsZoneBreak">Tách công việc theo mỗi zone
                                                    <span *ngIf="!formGroup.controls.IsZoneBreak.valid && !formGroup.controls.IsZoneBreak.pending && (formGroup.controls.IsZoneBreak.dirty || submitAttempt)" ion-text color="danger">(*)</span>
                                                </label>
                                            </span>
                                        </div>
                                    </ion-col>
                                    <ion-col size="12" size-sm="6" size-xl="4" offset-xl="3">
                                        <div class="c-control">
                                            <label class="c-label" for="MaxPickLines">Số lượng loại sản phẩm
                                                <span *ngIf="!formGroup.controls.MaxPickLines.valid && !formGroup.controls.MaxPickLines.pending && (formGroup.controls.MaxPickLines.dirty || submitAttempt)" ion-text color="danger">(*)</span>
                                            </label>
                                            <input class="c-input" id="MaxPickLines" (change)="saveChange();" formControlName="MaxPickLines" type="number">
                                        </div>
                                        <div class="c-control">
                                            <label class="c-label" for="MaxPickContainers">Số lượng container
                                                <span *ngIf="!formGroup.controls.MaxPickContainers.valid && !formGroup.controls.MaxPickContainers.pending && (formGroup.controls.MaxPickContainers.dirty || submitAttempt)" ion-text color="danger">(*)</span>
                                            </label>
                                            <input class="c-input" id="MaxPickContainers" (change)="saveChange();" formControlName="MaxPickContainers" type="number">
                                        </div>
                                        <div class="c-control">
                                            <label class="c-label" for="MaxCaseCount">Số lượng thùng
                                                <span *ngIf="!formGroup.controls.MaxCaseCount.valid && !formGroup.controls.MaxCaseCount.pending && (formGroup.controls.MaxCaseCount.dirty || submitAttempt)" ion-text color="danger">(*)</span>
                                            </label>
                                            <input class="c-input" id="MaxCaseCount" (change)="saveChange();" formControlName="MaxCaseCount" type="number">
                                        </div>
                                    </ion-col>
                                    <ion-col size="12" size-sm="6" size-xl="4">
                                        
                                        <div class="c-control">
                                            <label class="c-label" for="MaxCube">Thể tích tối đa
                                                <span *ngIf="!formGroup.controls.MaxCube.valid && !formGroup.controls.MaxCube.pending && (formGroup.controls.MaxCube.dirty || submitAttempt)" ion-text color="danger">(*)</span>
                                            </label>
                                            <input class="c-input" id="MaxCube" (change)="saveChange();" formControlName="MaxCube" type="number">
                                        </div>
                                        <div class="c-control">
                                            <label class="c-label" for="MaxWeight">Trọng lượng tối đa
                                                <span *ngIf="!formGroup.controls.MaxWeight.valid && !formGroup.controls.MaxWeight.pending && (formGroup.controls.MaxWeight.dirty || submitAttempt)" ion-text color="danger">(*)</span>
                                            </label>
                                            <input class="c-input" id="MaxWeight" (change)="saveChange();" formControlName="MaxWeight" type="number">
                                        </div>
                                    </ion-col>
                                </ion-row>
                                <!-- <ion-row class="hr-group">
                                    <ion-col size="12" size-sm="12" size-md="12" size-xl="3">
                                        <ion-list-header class="ion-no-padding">
                                            <ion-label color="primary">Loại trừ khỏi zone </ion-label>
                                        </ion-list-header>
                                    </ion-col>
                                    <ion-col size="12" size-sm="6" size-xl="4">

                                    </ion-col>
                                    <ion-col size="12" size-sm="6" size-xl="4">
                                        
                                        EquipmentProfile:[''],
                                    </ion-col>
                                </ion-row> -->
                            </form>
                        </ion-grid>
                    </div>
                </div>
                <div *ngIf="segmentView == 's2'">

                </div>
            </div>
        </div>
    </div>
    <app-page-message [itemsLength]="item? 1: 0" [showSpinner]="pageConfig.showSpinner"></app-page-message>
</ion-content>