<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button defaultHref="user-device"></ion-back-button>
            <ion-button color="dark" class="ion-hide-sm-down">
                Thông tin chi tiết
            </ion-button>
        </ion-buttons>
        <ion-buttons slot="end">
            <app-detail-toolbar [item]="item" [pageConfig]="pageConfig" (refresh)="refresh()" (delete)="delete()" (help)="help()"></app-detail-toolbar>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content appScrollbarTheme class="ion-padding">
    <div class="main-view" *ngIf="item && pageConfig.showSpinner==false">
        <div class="row-full shadow full-screen">
            <div class="ion-padding">
                <ion-grid fixed>
                    <form [formGroup]="formGroup">
                        <!-- Thông tin thiết bị -->
                        <ion-row class="hr-group">
                            <ion-col size="12" size-md="12" size-lg="12" size-xl="4">
                                <ion-list-header class="ion-no-padding">
                                    <ion-label color="primary">Thông tin thiết bị</ion-label>
                                </ion-list-header>
                            </ion-col>

                            <ion-col size="12" size-md="12" size-lg="12" size-xl="6">
                                <!-- <div class="c-control">
                                    <label class="c-label" for="Id">Id</label>
                                    <input class="c-input" id="Id" formControlName="Id" type="number">
                                </div> -->

                                <div class="c-control">
                                    <label class="c-label" for="IDStaff">Staff 
                                        <span *ngIf="!formGroup.controls.IDStaff.valid && !formGroup.controls.IDStaff.pending && (formGroup.controls.IDStaff.dirty || submitAttempt)" ion-text color="danger">(*)</span>
                                    </label>
                                    <ng-select (change)="saveChange()" class="c-input" #IDStaff labelForId="IDStaff" formControlName="IDStaff" [items]="staffList$ | async" [typeahead]="staffListInput$" [loading]='staffListLoading' [virtualScroll]="true" bindLabel="FullName" bindValue="Id" placeholder="Tìm tên, mã hoặc số điện thoại...">
                                        <ng-template ng-option-tmp let-i="item" let-search="searchTerm">
                                            <div *ngIf="i">
                                                <div><span [ngOptionHighlight]="search">{{i.FullName}}</span></div>
                                                <small>#<b><span class="important" [ngOptionHighlight]="search">{{i.Id}}</span> <span *ngIf="i.Code"> - {{i.Code}}</span></b> <span *ngIf="i.Phone"> | điện thoại: <b [ngOptionHighlight]="search">{{i.Phone}}</b></span></small>
                                            </div>
                                        </ng-template>
                                    </ng-select>
                                </div>

                                <div class="c-control">
                                    <label class="c-label" for="Name">Name</label>
                                    <input (change)="saveChange()" class="c-input" id="Name" formControlName="Name" type="text">
                                </div>
                                <div class="c-control">
                                    <label class="c-label" for="Code">Code</label>
                                    <input (change)="saveChange()" class="c-input" id="Code" formControlName="Code" type="text">
                                </div>
                                <div class="c-control">
                                    <label class="c-label" for="Model">Model</label>
                                    <input (change)="saveChange()" class="c-input" id="Model" formControlName="Model" type="text">
                                </div>
                                <div class="c-control">
                                    <label class="c-label" for="Platform">Platform</label>
                                    <input (change)="saveChange()" class="c-input" id="Platform" formControlName="Platform" type="text">
                                </div>
                                <div class="c-control">
                                    <label class="c-label" for="OperatingSystem">OperatingSystem</label>
                                    <input (change)="saveChange()" class="c-input" id="OperatingSystem" formControlName="OperatingSystem" type="text">
                                </div>
                                
                            
                                <div class="c-control">
                                    <label class="c-label" for="OsVersion">OsVersion</label>
                                    <input (change)="saveChange()" class="c-input" id="OsVersion" formControlName="OsVersion" type="text">
                                </div>
                                <div class="c-control">
                                    <label class="c-label" for="Manufacturer">Manufacturer</label>
                                    <input (change)="saveChange()" class="c-input" id="Manufacturer" formControlName="Manufacturer" type="text">
                                </div>
                                <div class="c-control">
                                    <label class="c-label" for="WebViewVersion">WebViewVersion</label>
                                    <input (change)="saveChange()" class="c-input" id="WebViewVersion" formControlName="WebViewVersion" type="text">
                                </div>
                                
                                <div class="c-control">
                                    <label class="c-label" for="Remark">Mô tả
                                        <span *ngIf="!formGroup.controls.Remark.valid && !formGroup.controls.Remark.pending && (formGroup.controls.Remark.dirty || submitAttempt)" ion-text color="danger">(*)</span>
                                    </label>
                                    <textarea rows="3" class="c-input remark" id="Remark" formControlName="Remark" type="textarea"></textarea>
                                </div>
                                <div class="c-control">
                                    <span class="no-warp">
                                        <input (change)="saveChange()" class="c-checkbox" id="IsVirtual" formControlName="IsVirtual" type="checkbox">
                                        <label class="c-label checkbox" for="IsVirtual"> Virtual device
                                            <!-- <span *ngIf="!formGroup.controls.IsVirtual.valid && !formGroup.controls.IsVirtual.pending && (formGroup.controls.IsVirtual.dirty || submitAttempt)" ion-text color="danger">(*)</span> -->
                                        </label>
                                    </span><br>
                                    <span class="no-warp">
                                        <input (change)="saveChange()" class="c-checkbox" id="IsAllowCheckIn" formControlName="IsAllowCheckIn" type="checkbox">
                                        <label class="c-label checkbox" for="IsAllowCheckIn"> Allow checkin
                                            <!-- <span *ngIf="!formGroup.controls.IsAllowCheckIn.valid && !formGroup.controls.IsAllowCheckIn.pending && (formGroup.controls.IsAllowCheckIn.dirty || submitAttempt)" ion-text color="danger">(*)</span> -->
                                        </label>
                                    </span><br>
                                </div>
                            </ion-col>
                        </ion-row>


                    </form>
                </ion-grid>
            </div>
        </div>
    </div>
    <app-page-message [itemsLength]="item? 1: 0" [showSpinner]="pageConfig.showSpinner"></app-page-message>
</ion-content>