<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button defaultHref="delivery"></ion-back-button>
        </ion-buttons>

        <ion-title *ngIf="item">
            <ion-button class="title" text-center fill="clear" expand="full" size="small">
                <ion-icon slot="start" name="radio-button-on" [color]="item.Status.Color"></ion-icon>
                #{{item.SaleOrder.Id}}
            </ion-button>
        </ion-title>

        <ion-buttons slot="end">
            <ion-button (click)="isShowAllDiscount = !isShowAllDiscount">
                <ion-icon slot="icon-only" [name]="isShowAllDiscount?'eye':'eye-off-outline'"></ion-icon>
            </ion-button>
            <ion-button (click)="reopenOrder()" title="Sửa đơn" *ngIf="item && !item.IsDebt && item.DA_GIAO_HANG && pageConfig.canEdit">
                <ion-icon slot="icon-only" name="pencil"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>
<ion-content appScrollbarTheme class="ion-padding">
    <div *ngIf="pageConfig.showSpinner" class="page-loading">
        <ion-spinner name="dots"></ion-spinner>
    </div>

    <div class="empty-message" *ngIf=" !item && pageConfig.showSpinner==false">
        <div class="icon">
            <img style="width: 51vw; max-width: 300px;" src="./assets/undraw_empty.svg">
        </div>
        <div class="message">
            <div class="title">
                Không tìm thấy đơn hàng...
            </div>
            <div class="detail">
            </div>
        </div>
    </div>

    <div class="main-view" *ngIf="item">

        <div class="summary">
            <div class="time">{{item.SaleOrder.Customer.Name}}</div>
            <div class="date">
                <ion-button size="small" fill="clear" [href]="'tel:'+item.SaleOrder.Customer.WorkPhone">#{{item.SaleOrder.Customer.Id}}
                </ion-button>
                <ion-button *ngIf="item.SaleOrder.Customer.WorkPhone" size="small" fill="clear" [href]="'tel:'+item.SaleOrder.Customer.WorkPhone">
                    <ion-icon slot="start" color="danger" name="call"></ion-icon>{{item.SaleOrder.Customer.WorkPhone}}
                </ion-button>
            </div>
            <div>
                <ion-button *ngIf="pageConfig.canEdit" size="small" (click)="UpdatePosition()" fill="outline" shape="round">
                    <span *ngIf="item.position">{{item.position}}</span>
                    <span *ngIf="!item.position">Cập nhật tọa độ</span>
                </ion-button>
            </div>
            <div class="date">{{item.SaleOrder.Customer.AddressLine1}}</div>
        </div>

        <div class="full-screen">
            <div style="min-height: calc(100vh - 410px);">

                <ion-card class="booking ion-no-margin">

                    <div class="logo"></div>

                    <!-- Order detail -->
                    <ion-card-header>
                        <ion-card-title>
                            <ion-text color="primary">
                                {{item.SaleOrder.TotalAfterTaxText}} / <small>{{item.SaleOrder.OriginalTotalAfterTaxText}}</small>
                            </ion-text>
                        </ion-card-title>

                    </ion-card-header>

                    <!-- Order detail rows canEditDiscountFromSalesman-->
                    <ion-card-content class="info barcode" *ngFor="let i of item.SaleOrder.OrderLines">
                        <div class="field">
                            <b>{{i.ItemCode}}</b> - {{i.ItemName}}
                        </div>
                        <ion-range (click)="i.txtQtyShow = !i.txtQtyShow" *ngIf="i.Quantity" [disabled]="!pageConfig.canEdit || item.DA_GIAO_HANG || (i.DiscountFromSalesman && !pageConfig.canEditDiscountFromSalesman)" (ionChange)="changeSoLuong(i)" debounce="300" min="0" [max]="i.Quantity" [(ngModel)]="i.ShippedQuantity" color="success" pin="true" step="1" [snaps]="i.Quantity < 21">
                            <div slot="start">
                                <ion-badge class="ion-text-lowercase" slot="start" [color]="i.ShippedQuantity == i.Quantity? 'success': 'warning' " *ngIf="i.Quantity"> {{i.ShippedQuantity}} {{i.UoMName}}</ion-badge>
                                <input (focus)="$event.target.select()" [readonly]="!pageConfig.canEdit || item.DA_GIAO_HANG || (i.DiscountFromSalesman && !pageConfig.canEditDiscountFromSalesman)" class="txtQtyInput" type="number" [(ngModel)]="i.ShippedQuantity" (ionChange)="changeSoLuong(i, $event)">
                            </div>
                        </ion-range>

                        <ng-container *ngIf="i.ShippedQuantity &&  !(i.DiscountFromSalesman && !pageConfig.canEditDiscountFromSalesman)" >
                            <div class="c-control" *ngIf="!i.IsPromotionItem && (i.OriginalDiscount1 && i.ShippedQuantity != i.Quantity || isShowAllDiscount)">
                                <label class="c-label" for="OriginalDiscount1">CK NCC:  <small>{{i.Discount1Text}}</small></label>
                                <input id="OriginalDiscount1"
                                [disabled]="!pageConfig.canEdit || item.DA_GIAO_HANG || (i.DiscountFromSalesman && !pageConfig.canEditDiscountFromSalesman)" 
                                *ngIf="!item.DA_GIAO_HANG && (i.OriginalDiscount1 && i.ShippedQuantity != i.Quantity || isShowAllDiscount)" 
                                [(ngModel)]="i.Discount1" 
                                (change)="changeDiscount(i, $event, 'CK1')"  
                                class="c-input no-check-dirty txtTienInput" 
                                type="number" min="0" inputmode="numeric" pattern="[0-9]*"
                                >
                            </div>

                            <div class="c-control" *ngIf="!i.IsPromotionItem && (i.OriginalDiscount2 && i.ShippedQuantity != i.Quantity || isShowAllDiscount)">
                                <label class="c-label" for="OriginalDiscount2">CK NPP:  <small>{{i.Discount2Text}}</small></label>
                                <input id="OriginalDiscount2"
                                [disabled]="!pageConfig.canEdit || item.DA_GIAO_HANG || (i.DiscountFromSalesman && !pageConfig.canEditDiscountFromSalesman)" 
                                *ngIf="!item.DA_GIAO_HANG && (i.OriginalDiscount2 && i.ShippedQuantity != i.Quantity || isShowAllDiscount)" 
                                [(ngModel)]="i.Discount2" 
                                (change)="changeDiscount(i, $event, 'CK2')"
                                class="c-input no-check-dirty txtTienInput" 
                                type="number" min="0" inputmode="numeric" pattern="[0-9]*"
                                >
                            </div>

                            <div class="c-control" *ngIf="(i.DiscountFromSalesman && i.ShippedQuantity != i.Quantity || isShowAllDiscount)">
                                <label class="c-label" for="DiscountFromSalesman">CK NVBH:  <small>{{i.DiscountFromSalesmanText}}</small></label>
                                <input id="DiscountFromSalesman" 
                                [disabled]="!pageConfig.canEdit || item.DA_GIAO_HANG || (i.DiscountFromSalesman && !pageConfig.canEditDiscountFromSalesman)" 
                                *ngIf="!item.DA_GIAO_HANG && (i.DiscountFromSalesman && i.ShippedQuantity != i.Quantity || isShowAllDiscount)" 
                                [(ngModel)]="i.DiscountFromSalesman" 
                                (change)="changeDiscount(i, $event, 'CK3')"
                                class="c-input no-check-dirty txtTienInput" 
                                type="number" inputmode="numeric" pattern="[0-9]*"
                                >
                            </div>
                            <!-- [imask]="maskSigned" unmask="typed"
                            (complete)="changeDiscount(i, $event, 'CK3')" -->
                        <!-- (change)="changeDiscount(i, $event, 'CK3')" 
                            <div class="field ion-text-center" *ngIf="(i.OriginalDiscount1 && i.ShippedQuantity != i.Quantity || isShowAllDiscount)">
                                <ion-badge color="warning"> CK NCC: {{i.Discount1Text}} </ion-badge>
                            </div>
                            <ion-input class="txtTienInput txtCKInput" [disabled]="!pageConfig.canEdit || item.DA_GIAO_HANG || (i.DiscountFromSalesman && !pageConfig.canEditDiscountFromSalesman)" *ngIf="!item.DA_GIAO_HANG && (i.OriginalDiscount1 && i.ShippedQuantity != i.Quantity || isShowAllDiscount)" slot="start" type="number" [(ngModel)]="i.Discount1" (ionChange)="changeDiscount(i, $event, 'CK1')" min="0"></ion-input>
                            
                            <div class="field ion-text-center" *ngIf="(i.OriginalDiscount2 && i.ShippedQuantity != i.Quantity || isShowAllDiscount)">
                                <ion-badge color="warning"> CK NPP: {{i.Discount2Text}} </ion-badge>
                            </div>
                            <ion-input class="txtTienInput txtCKInput" [disabled]="!pageConfig.canEdit || item.DA_GIAO_HANG || (i.DiscountFromSalesman && !pageConfig.canEditDiscountFromSalesman)" *ngIf="!item.DA_GIAO_HANG && (i.OriginalDiscount2 && i.ShippedQuantity != i.Quantity || isShowAllDiscount)" slot="start" type="number" [(ngModel)]="i.Discount2" (ionChange)="changeDiscount(i, $event, 'CK2')" min="0"></ion-input>
                         -->
                            
                        
                        
                        </ng-container>
                    </ion-card-content>

                    <!-- Chiết khấu -->
                    <!-- <ion-card-content class="info barcode warning" *ngIf="item.SaleOrder.OriginalTotalDiscount && item.SaleOrder.TotalAfterTax != item.SaleOrder.OriginalTotalAfterTax && item.SaleOrder.TotalAfterTax > 0">
                        <img class="card-background-image" src="/assets/undraw_discount_d4bd.svg">
                        <div class="field">
                            <ion-badge class="ion-float-right"> {{item.SaleOrder.TotalDiscountText}}</ion-badge>
                            <ion-badge color="warning">Chiết khấu {{ ( item.viewCK_THUC) }}%</ion-badge>
                        </div>
                        <ion-input class="txtTienInput" slot="start" type="number" [(ngModel)]="item.SaleOrder.TotalDiscount" (ionBlur)="changeChietKhau($event)" min="0"></ion-input>
                        <div style=" margin: 10px 0;">
                            <div style=" text-align: center">
                                <ion-button color="dark" size="small" (click)="setChietKhau('=', 0)">0 ₫</ion-button>
                                <ion-button color="dark" *ngIf="item.SaleOrder.OriginalTotalDiscount > 50000" size="small" (click)="setChietKhau('+', 50000)">+50.000 ₫
                                </ion-button>
                                <ion-button color="dark" *ngIf="item.SaleOrder.OriginalTotalDiscount > 100000" size="small" (click)="setChietKhau('+', 100000)">+100.000 ₫
                                </ion-button>
                                <ion-button color="dark" *ngIf="item.SaleOrder.OriginalTotalDiscount > 500000" size="small" (click)="setChietKhau('+', 500000)">+500.000 ₫
                                </ion-button>
                                <ion-button color="dark" size="small" (click)="setChietKhau('=', item.SaleOrder.OriginalTotalDiscount)">
                                    {{item.SaleOrder.OriginalTotalDiscount}}</ion-button>
                            </div>
                        </div>
                    </ion-card-content> -->

                    <!-- Thanh toán -->
                    <ion-card-content class="info barcode secondary" *ngIf="item.IsDebt || (!item.DA_GIAO_HANG && item.SaleOrder.TotalAfterTax)">
                        <div class="field"></div>

                        <div>
                            <ion-badge class="ion-float-right">{{item.SaleOrder.TotalAfterTaxText}}</ion-badge>
                            <ion-badge color="secondary">TIỀN HÀNG</ion-badge>
                        </div>

                        <div *ngIf="item.IsDebt">
                            <ion-badge class="ion-float-right">
                                {{item.SaleOrder.ReceivedText}}</ion-badge>
                            <ion-badge color="secondary">ĐÃ THANH TOÁN</ion-badge>
                        </div>

                        <div *ngIf="item.SaleOrder.DiscountFromSalesman">
                            <ion-badge class="ion-float-right">
                                {{item.SaleOrder.DiscountFromSalesmanText}}</ion-badge>
                            <ion-badge color="secondary">CK NVBH</ion-badge>
                        </div>

                        <div *ngIf="!item.IsDebt">
                            <ion-badge class="ion-float-right">
                                {{item.SaleOrder.CustomerDebtText}}</ion-badge>
                            <ion-badge color="secondary">NỢ</ion-badge>
                        </div>

                        <div *ngIf="item.IsDebt">
                            <ion-badge class="ion-float-right">
                                {{item.CustomerDebtText}}</ion-badge>
                            <ion-badge color="secondary">NỢ</ion-badge>
                        </div>

                        <div>
                            <ion-badge class="ion-float-right">
                                {{item.ReceivedText}}</ion-badge>
                            <ion-badge color="secondary">ĐÃ NHẬN {{item.ReceivedPercent}}%</ion-badge>

                        </div>

                        <!-- <ion-input *ngIf="pageConfig.canEdit" class="txtTienInput" slot="start" type="number" 
                        [(ngModel)]="item.Received" (ionChange)="changeDaNhan($event)" min="0">
                        </ion-input> -->
                        <div class="c-control" >
                            <input id="Received" *ngIf="pageConfig.canEdit" 
                                [(ngModel)]="item.Received" 
                                (keyup)="changeDaNhan($event)" 
                                class="c-input no-check-dirty txtTienInput" 
                                type="number" min="0" inputmode="numeric" pattern="[0-9]*"
                                >

                                <!-- [imask]="mask" unmask="typed"
                                (complete)="changeDaNhan($event)"  -->
                        </div>
                        
                        <div style=" margin: 10px 0;" *ngIf="pageConfig.canEdit">
                            <div style=" text-align: center">
                                <ion-button color="dark" size="small" (click)="setDaNhan('=', 0)">0 ₫</ion-button>
                                <ion-button color="dark" size="small" *ngIf="item.MaxReceive >50000" (click)="setDaNhan('+', 50000)">+50.000 ₫</ion-button>
                                <ion-button color="dark" size="small" *ngIf="item.MaxReceive >100000" (click)="setDaNhan('+', 100000)">+100.000 ₫</ion-button>
                                <ion-button color="dark" size="small" *ngIf="item.MaxReceive >500000" (click)="setDaNhan('+', 500000)">+500.000 ₫</ion-button>

                                <ion-button color="dark" size="small" *ngIf="item.MaxReceive" (click)="setDaNhan('=', item.MaxReceive )">
                                    {{item.MaxReceiveText}}
                                </ion-button>
                            </div>
                        </div>

                    </ion-card-content>

                    <!-- Tình trạng & Ghi chú -->
                    <ion-card-content class="info barcode" *ngIf="!item.IsDebt && !fullSoLuong">
                        <div [ngClass]="{'ion-hide': item.TongSoLuongLe}">
                            <ion-radio-group [value]="307">
                                <ion-list-header>
                                    <ion-label color="dark">Lý do rớt</ion-label>
                                </ion-list-header>

                                <ion-item *ngFor="let i of statusList" (click)="item.IDStatus = i.Id;">
                                    <ion-label>{{i.Name}}</ion-label>
                                    <ion-radio [disabled]="i.Id == 319 || item.DA_GIAO_HANG" slot="end" color="secondary" [value]="i.Id"></ion-radio>
                                </ion-item>
                            </ion-radio-group>
                        </div>

                        <div class="ion-padding" *ngIf="item.TongSoLuongLe"></div>

                        <ion-item>
                            <ion-label position="stacked">Ghi chú</ion-label>
                            <ion-textarea [readonly]="item.DA_GIAO_HANG" [(ngModel)]="item.Remark" placeholder="Mô tả thêm..."></ion-textarea>
                        </ion-item>

                        <div class="ion-padding" *ngIf="item.TongSoLuongLe==0 && !item.DA_GIAO_HANG && pageConfig.canEdit">
                            <ion-button expand="block" (click)="saveDonHang()" color="secondary">Cập nhật tình trạng</ion-button>
                        </div>

                    </ion-card-content>

                    <ion-card-content class="info barcode" *ngIf="item.IsDebt && item.Received == 0">
                        <div>
                            <ion-radio-group [value]="324">
                                <ion-list-header>
                                    <ion-label color="dark">Lý do không thu được</ion-label>
                                </ion-list-header>

                                <ion-item *ngFor="let i of statusDebtList" (click)="item.IDStatus = i.Id;">
                                    <ion-label>{{i.Name}}</ion-label>
                                    <ion-radio slot="end" color="secondary" [value]="i.Id"></ion-radio>
                                </ion-item>
                            </ion-radio-group>
                        </div>
                        <ion-item>
                            <ion-label position="stacked">Ghi chú</ion-label>
                            <ion-textarea [(ngModel)]="item.Remark" placeholder="Mô tả thêm..."></ion-textarea>
                        </ion-item>

                        <div class="ion-padding" *ngIf="pageConfig.canEdit">
                            <ion-button expand="block" (click)="saveDonHang()" color="secondary">Cập nhật tình trạng</ion-button>
                        </div>

                    </ion-card-content>

                    <!-- Hoàn tất btn -->
                    <ion-card-content *ngIf="(item.IsDebt && item.Received) || (!item.DA_GIAO_HANG && item.TongSoLuongLe >0  ) && pageConfig.canEdit">
                        <div class="ion-padding">
                            <ion-button expand="block" (click)="saveDonHang()" color="secondary">HOÀN TẤT
                            </ion-button>

                            <ion-button *ngIf="!item.DA_GIAO_HANG" expand="block" fill="outline" (click)="dropAll()" color="secondary">RỚT 100%
                            </ion-button>
                        </div>
                    </ion-card-content>

                </ion-card>

            </div>
        </div>

    </div>
</ion-content>