<ion-header>
    <ion-toolbar>
        <ion-title>{{item.Name}}</ion-title>

        <ion-buttons slot="primary">
            <ion-button title="Đóng lại" color="secondary" (click)="closeModal()">
                <ion-icon slot="icon-only" name="close"></ion-icon>
            </ion-button>
        </ion-buttons>

    </ion-toolbar>
</ion-header>
<ion-content appScrollbarTheme class="ion-padding" fullscreen>
    <form [formGroup]="formGroup">
        <ion-grid fixed>
            <ion-row>
                <ion-col size="12" size-sm="12" size-md="6">
                    <div class="c-control">
                        <label class="c-label" for="Code">Tài khoản
                            <span *ngIf="!formGroup.controls.Code.valid && !formGroup.controls.Code.pending && (formGroup.controls.Code.dirty || submitAttempt)" ion-text color="danger">(*)</span>
                        </label>
                        <input class="c-input" id="Code" formControlName="Code" type="text">
                    </div>
                    <div class="c-control">
                        <label class="c-label" for="Name">Tên tài khoản <small *ngIf="item.Id">Id: {{item.Id}}</small>
                            <span *ngIf="!formGroup.controls.Name.valid && !formGroup.controls.Name.pending && (formGroup.controls.Name.dirty || submitAttempt)" ion-text color="danger">(*)</span>
                        </label>
                        <input class="c-input" id="Name" formControlName="Name" type="text">
                    </div>

                    

                    <div class="c-control">
                        <label class="c-label" for="IDParent">Thuộc tài khoản
                            <span *ngIf="!formGroup.controls.IDParent.valid && !formGroup.controls.IDParent.pending && (formGroup.controls.IDParent.dirty || submitAttempt)" ion-text color="danger">(*)</span>
                        </label>

                        <select class="c-input c-dropdown" formControlName="IDParent" >
                            <option [disabled]="t.flag" *ngFor="let t of glList" [value]="t.Id">{{t.Name}}</option>
                        </select>
                    </div>

                    
                    <div class="c-control">
                        <label class="c-label" for="IDBranch">Thuộc đơn vị
                            <span *ngIf="!formGroup.controls.IDBranch.valid && !formGroup.controls.IDBranch.pending && (formGroup.controls.IDBranch.dirty || submitAttempt)" ion-text color="danger">(*)</span>
                        </label>

                        <select class="c-input c-dropdown" formControlName="IDBranch" >
                            <option *ngFor="let t of env.branchList" [value]="t.Id">{{t.Name}}</option>
                        </select>
                    </div>

                </ion-col>
                <ion-col size="12" size-sm="12" size-md="6">
                    <div class="c-control">
                        <label class="c-label" for="ExternalCode">ExternalCode
                            <span *ngIf="!formGroup.controls.ExternalCode.valid && !formGroup.controls.ExternalCode.pending && (formGroup.controls.ExternalCode.dirty || submitAttempt)" ion-text color="danger">(*)</span>
                        </label>
                        <input class="c-input" id="ExternalCode" formControlName="ExternalCode" type="text">
                    </div>
                    <div class="c-control">
                        <label class="c-label" for="ForeignName">Foreign Name
                            <span *ngIf="!formGroup.controls.ForeignName.valid && !formGroup.controls.ForeignName.pending && (formGroup.controls.ForeignName.dirty || submitAttempt)" ion-text color="danger">(*)</span>
                        </label>
                        <input class="c-input" id="ForeignName" formControlName="ForeignName" type="text">
                    </div>
                    
                    <div class="c-control">
                        <label class="c-label" for="Remark">Mô tả
                            <span *ngIf="!formGroup.controls.Remark.valid && !formGroup.controls.Remark.pending && (formGroup.controls.Remark.dirty || submitAttempt)" ion-text color="danger">(*)</span>
                        </label>
                        <textarea rows="3" class="c-input remark" id="Remark" formControlName="Remark" type="textarea"></textarea>
                    </div>

                    <div class="c-control">
                        <span class="no-warp">
                            <input  id="IsActiveAccount1" type="radio" [value]="true" formControlName="IsActiveAccount" class="c-checkbox">
                            <label class="c-label radio" for="IsActiveAccount1">
                                <span>Tài khoản</span>
                            </label>
                        </span>
                        <span class="no-warp">
                            <input id="IsActiveAccount2" type="radio" [value]="false" formControlName="IsActiveAccount" class="c-checkbox">
                            <label class="c-label radio" for="IsActiveAccount2">
                                <span>Tài khoản mẹ</span>
                            </label>
                        </span>
                    </div>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col>
                    
                    
                    <div class="c-control ion-text-right" *ngIf="!item.Id && (pageConfig.canAdd || pageConfig.canEdit)">
                        <label class="c-label" for=""></label>
                        <ion-button (click)="saveChange()">Thêm tài khoản</ion-button>
                    </div>
                    <div class="c-control ion-text-right" *ngIf="item.Id && pageConfig.canEdit || pageConfig.canDelete">
                        <ion-button *ngIf="pageConfig.canEdit" (click)="saveChange()" [disabled]="!formGroup.dirty">Lưu</ion-button>
                        <ion-button (click)="refresh()" color="warning">Hủy thay đổi</ion-button>
                        <ion-button *ngIf="item.Id && pageConfig.canDelete" (click)="delete()" color="danger">Xóa bỏ</ion-button>
                    </div>
                    
                </ion-col>
            </ion-row>
        </ion-grid>

        <!-- <div class="c-control" *ngIf="item.Id">
            <label class="c-label" for="Code">Id</label>
            <input readonly class="c-input" id="Id" formControlName="Id" type="text">
        </div> -->

        <!-- <div class="c-control">
            <label class="c-label" for="Code">Mã trung tâm
                <span
                    *ngIf="!formGroup.controls.Code.valid && !formGroup.controls.Code.pending && (formGroup.controls.Code.dirty || submitAttempt)"
                    ion-text color="danger">(*)</span>
            </label>
            <input class="c-input" id="Code" formControlName="Code" type="text">
        </div> -->
    </form>

</ion-content>