<ion-header>
	<app-list-toolbar pageTitle="Nhóm sản phẩm" [pageConfig]="pageConfig" [selectedItems]="selectedItems" [query]="query" (add)="add()" (refresh)="refresh()" (export)="export()" (import)="import($event)" (help)="help()" (unselect)="unselect()" (archiveItems)="archiveItems()" (deleteItems)="deleteItems()"></app-list-toolbar>

	<section class="table">
		<header class="bold">
			<div class="col-checkbox cell"></div>
			<div class="col-id cell">
				Id
				<ion-icon *ngIf="sort.Id" [name]="sort.Id == 'Id'?'arrow-down': 'arrow-up'"></ion-icon>
				<ion-icon (click)="pageConfig.isShowSearch = !pageConfig.isShowSearch" *ngIf="query.Id" name="search" color="primary"></ion-icon>
			</div>
			<div class="col-name cell" (click)="toggleRowAll()">
				<ion-icon class="min-btn" [name]="!isAllRowOpened? 'add-circle-outline':'remove-circle-outline'"></ion-icon>
				Tên nhóm
				<ion-icon *ngIf="sort.Name" [name]="sort.Name == 'Name'?'arrow-down': 'arrow-up'"></ion-icon>
				<ion-icon (click)="pageConfig.isShowSearch = !pageConfig.isShowSearch" *ngIf="query.Keyword" name="search" color="primary"></ion-icon>
			</div>
			<div class="col-code cell">Mã sản phẩm
				<ion-icon *ngIf="sort.Code" [name]="sort.Code == 'Code'?'arrow-down': 'arrow-up'"></ion-icon>
				<ion-icon (click)="pageConfig.isShowSearch = !pageConfig.isShowSearch" *ngIf="query.Code_eq" name="search" color="primary"></ion-icon>
			</div>
		</header>
		<form (submit)="refresh()" action="#">
			<header class="filter" *ngIf="pageConfig.isShowSearch">
				<div class="col-checkbox cell"></div>
				<div class="col-id cell">
					<input [ngModelOptions]="{standalone: true}" [(ngModel)]="query.Id" class="c-input" [ngClass]="{active: query.Id}" type="text">
					<ion-icon (click)="query.Id=''; refresh()" *ngIf="query.Id" name="close"></ion-icon>
				</div>
				<div class="col-name cell">
					<input [ngModelOptions]="{standalone: true}" [(ngModel)]="query.Keyword" class="c-input" [ngClass]="{active: query.Keyword}" type="text">
					<ion-icon (click)="query.Keyword=''; refresh()" *ngIf="query.Keyword" name="close"></ion-icon>
				</div>
				<div class="col-code cell">
					<input [ngModelOptions]="{standalone: true}" [(ngModel)]="query.Code_eq" class="c-input" [ngClass]="{active: query.Code_eq}" type="text">
					<ion-icon (click)="query.Code_eq=''; refresh()" *ngIf="query.Code_eq" name="close"></ion-icon>
				</div>
				<button mat-raised-button type="submit" style="display:none">Search</button>
			</header>
		</form>
	</section>

</ion-header>

<ion-content appScrollbarTheme class="header-table">
	<app-page-message [itemsLength]="items.length" [showSpinner]="pageConfig.showSpinner"></app-page-message>

	<div *ngIf="items.length && pageConfig.showSpinner==false">
		<section class="table">
			<ng-container *ngFor="let i of dataItemGroup; let j = index;">
				<div class="row" *ngIf="i.show" [ngClass]="{odd: j % 2 != 0}" [ngClass]="{selected: i.checked}">
					<div class="col-checkbox cell">
						<input (click)="changeSelection(i, $event)" class="c-checkbox" [(ngModel)]="i.checked" type="checkbox">
					</div>
					<div (click)="showItemGroup(i)" class="col-id cell">
						{{i.Id}}
					</div>
					<div [ngClass]="i.HasChild? ('bold ') : ('')" class="col-name cell">
						<ng-container *ngFor="let w of i.levels; let k = index;"><span class="spacing" *ngIf="k>0"></span></ng-container>
						<ion-icon (click)="toggleRow(dataItemGroup, i, true);" class="min-btn clickable" [name]="i.HasChild? (!i.showdetail? 'chevron-forward-outline':'chevron-down-outline') : ''"></ion-icon>
						<span class="clickable" (click)="showItemGroup(i)"> {{i.Name }}</span>
					</div>
					<div class="col-code cell">{{i.Code}}</div>
				</div>
			</ng-container>
		</section>
	</div>
</ion-content>