<ion-grid fixed>
	<form [formGroup]="formGroup">
		<ion-row class="hr-group">
			<ion-col size="12" size-sm="12" size-md="12" size-xl="3">
				<ion-list-header class="ion-no-padding">
					<ion-label color="primary">Người liên hệ</ion-label>
				</ion-list-header>
			</ion-col>
			<ion-col size="12" size-sm size-xl="8">
				<div class="table-contain">
					<section class="table">
						<header class="bold" style="padding-right: 0;">
							<div class="col-name cell">Họ và tên</div>
							<div class="col-title cell">Chức danh</div>
							<div class="col-phone cell">Điện thoại</div>
							<div class="col-dob cell">Ngày sinh</div>
							<div class="col-gender cell">Giới tính</div>
							<!-- <div class="col-checkbox cell"></div> -->
							<div class="col-checkbox cell" *ngIf="pageConfig.canEdit"></div>
						</header>
						<ng-container formArrayName="ContactPoints">
							<div class="row" [ngClass]="{odd: j % 2 != 0 }" *ngFor="let c of formGroup.get('ContactPoints')['controls']; let j=index">
								<ng-container [formGroup]="c">
									<div class="col-name cell">
										<input class="c-input" (change)="saveContact(c)" formControlName="Name">
									</div>
									<div class="col-title cell">
										<input class="c-input" (change)="saveContact(c)" formControlName="Title">
									</div>
									<ng-container [formGroup]="c.controls.PersonInfo">
										<div class="col-phone cell">
											<input class="c-input" (change)="saveContact(c)" formControlName="WorkPhone" type="tel">
										</div>
										<div class="col-dob cell">
											<input class="c-input" (change)="saveContact(c)" formControlName="DateOfBirth" type="date">
										</div>
										<div class="col-gender cell">
											<select class="c-input c-dropdown" [attr.disabled]="!pageConfig.canEdit?'':null" (change)="saveContact(c)" formControlName="Gender">
												<option [value]="true">Nam</option>
												<option [value]="false">Nữ</option>
											</select>
										</div>
									</ng-container>
									<!-- <div (click)="nav(pageConfig.pageName+'/'+i.Id,'forward')"><ion-icon name="open-outline"></ion-icon></div> -->
									<div class="col-checkbox cell" *ngIf="pageConfig.canEdit" (click)="removeContactPoint(j)">
										<ion-icon color="danger" class="min-btn" name="trash-outline"></ion-icon>
									</div>
								</ng-container>
							</div>
						</ng-container>
						<div *ngIf="pageConfig.canEdit" class="row footer">
							<div class="cell">
								<ng-select class="c-input" [readonly]="submitAttempt" (change)="selectContact($event)" [addTag]="addContactLine.bind(this)" appendTo="#selectholder" [items]="contactList$ | async" [typeahead]="contactListInput$" [loading]='contactListLoading' [virtualScroll]="true" placeholder="Thêm liên hệ (tìm tên, mã hoặc số điện thoại)...">
									<ng-template ng-option-tmp let-i="item" let-search="searchTerm">
										<div *ngIf="i">
											<div><span [ngOptionHighlight]="search">{{i.Name}}</span></div>
											<small>#<b><span class="important" [ngOptionHighlight]="search">{{i.Id}}</span></b> <span *ngIf="i.Title"> - {{i.Title}}</span> <span *ngIf="i.WorkPhone"> | điện thoại: <b [ngOptionHighlight]="search">{{i.WorkPhone}}</b></span></small>
										</div>
									</ng-template>
									<ng-template ng-tag-tmp let-search="searchTerm">
										<b>Thêm mới/đổi tên</b>: {{search}}
									</ng-template>
								</ng-select>
							</div>
							<div class="col-checkbox cell">
								<ion-icon color="success" class="min-btn" name="add-circle-outline"></ion-icon>
							</div>
						</div>
					</section>
				</div>
			</ion-col>
		</ion-row>
	</form>
</ion-grid>