<ion-header>
  <app-list-toolbar pageTitle="Production Quality" [pageConfig]="pageConfig" [selectedItems]="selectedItems" [query]="query">
  </app-list-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-grid fixed>
    <ion-row class="hr-group">
      <ion-col size="12" size-sm="12" size-md="12" size-xl="6">
        <ion-card>
          <div>
            <ion-text color="dark">
              Rate Of Return
            </ion-text>
          </div>
          <!-- <ion-card-header class="background"> -->

          <!-- </ion-card-header> -->

          <ion-card-content>
            <!-- Column Chart -->
            <div id="RateOfReturnChart" style="width: 100%; height: 100%"></div>
          </ion-card-content>
        </ion-card>
      </ion-col>

      <ion-col size="12" size-sm="12" size-md="12" size-xl="6">
        <ion-row class="hr-group">
          <ion-col size="12" size-sm="12" size-md="12" size-xl="12">
            <ion-card>
              <div>
                <ion-text color="dark">
                  Right First Time
                </ion-text>
              </div>
              <!-- <ion-card-header class="background"> -->

              <!-- </ion-card-header> -->

              <ion-card-content>
                <!-- Gauge Chart -->
                <div id="RightFirstTimeChart" style="width: 100%; height: 100%"></div>
              </ion-card-content>
            </ion-card>
          </ion-col>

          <ion-col size="12" size-sm="12" size-md="12" size-xl="12">
            <ion-card>
              <div>
                <ion-text color="dark">
                  Most Common Defects
                </ion-text>
              </div>
              <!-- <ion-card-header class="background"> -->

              <!-- </ion-card-header> -->

              <ion-card-content>
                <!-- Pie Chart -->
                <div id="MostCommonDefectsChart" style="width: 100%; height: 100%"></div>
              </ion-card-content>
            </ion-card>
          </ion-col>

          <ion-col size="12" size-sm="12" size-md="12" size-xl="12">
            <ion-card>
              <div>
                <ion-text color="dark">
                  Defect Density
                </ion-text>
              </div>
              <!-- <ion-card-header class="background"> -->

              <!-- </ion-card-header> -->

              <ion-card-content>
                <!-- Highlighting Chart -->
                <div id="DefectDensityChart" style="width: 100%; height: 100%"></div>
              </ion-card-content>
            </ion-card>
          </ion-col>
        </ion-row>
      </ion-col>

    </ion-row>
  </ion-grid>
</ion-content>