
	<form [formGroup]="formGroup">
		<ion-row class="hr-group">
			<ion-col size="12" size-sm="12" size-md="12" size-xl="3">
				<ion-list-header class="ion-no-padding">
					<ion-label color="primary">DS sản phẩm</ion-label>
				</ion-list-header>
				<div>
					<ion-button fill="clear" size="small">
						<ion-icon slot="start" name="cloud-upload"></ion-icon>
						Import sản phẩm / bảng giá
					</ion-button>
				</div>
			</ion-col>
			<ion-col size="12" size-sm size-xl="8">
				<div class="table-contain">
					<section class="table">
						<header class="bold" style="padding-right: 0;">
							<div class="col-id cell">Id</div>
							<div class="col-code cell">Mã sản phẩm</div>
							<div class="col-name cell">Tên sản phẩm</div>
							<div class="col-money cell">Giá</div>

							<div class="col-checkbox cell" *ngIf="pageConfig.canEdit"></div>
						</header>
						<ng-container formArrayName="Items">
							<div class="row" [ngClass]="{odd: j % 2 != 0 }" *ngFor="let c of formGroup.get('Items')['controls']; let j=index">
								<ng-container [formGroup]="c">
									<div class="col-id cell">
										<a [routerLink]="['/item/'+c.controls._Item.value.Id]">{{c.controls._Item.value.Id}}</a>
									</div>
									<div class="col-code cell">{{c.controls._Item.value.Code}}</div>
									<div class="col-name cell">{{c.controls._Item.value.Name}}</div>
									<div class="col-money cell"><input formControlName="Price" class="c-input"  mask="separator.4" thousandSeparator="," [allowNegativeNumbers]="false" type="tel" ></div>

									<!-- <div class="col-name cell">
										<input class="c-input" (change)="saveContact(c)" formControlName="Name">
									</div>
									<div class="col-title cell">
										<input class="c-input" (change)="saveContact(c)" formControlName="Title">
									</div> -->

									<!-- <div (click)="nav(pageConfig.pageName+'/'+i.Id,'forward')"><ion-icon name="open-outline"></ion-icon></div> -->
									<div class="col-checkbox cell" *ngIf="pageConfig.canEdit">
										<ion-icon color="danger" class="min-btn" name="trash-outline"></ion-icon>
									</div>
								</ng-container>
							</div>
						</ng-container>
						<!-- <div *ngIf="pageConfig.canEdit" class="row footer">
							<div class="cell">
								<ng-select class="c-input" [readonly]="submitAttempt" (change)="selectContact($event)" [addTag]="addContactLine.bind(this)" appendTo="#selectholder" [items]="contactList$ | async" [typeahead]="contactListInput$" [loading]='contactListLoading' [virtualScroll]="true" placeholder="Thêm liên hệ (tìm tên, mã hoặc số điện thoại)...">
									<ng-template ng-option-tmp let-i="item" let-search="searchTerm">
										<div *ngIf="i">
											<div><span [ngOptionHighlight]="search">{{i.Name}}</span></div>
											<small>#<b><span class="important" [ngOptionHighlight]="search">{{i.Id}}</span></b> <span *ngIf="i.Title"> - {{i.Title}}</span> <span *ngIf="i.WorkPhone"> | điện thoại: <b [ngOptionHighlight]="search">{{i.WorkPhone}}</b></span></small>
										</div>
									</ng-template>
									<ng-template ng-tag-tmp let-search="searchTerm">
										<b>Thêm mới/đổi tên</b>: {{search}}
									</ng-template>
								</ng-select>
							</div>
							<div class="col-checkbox cell">
								<ion-icon color="success" class="min-btn" name="add-circle-outline"></ion-icon>
							</div>
						</div> -->
					</section>
				</div>
			</ion-col>
		</ion-row>
	</form>
