<ion-header>
	<app-list-toolbar pageTitle="Tùy chỉnh cá nhân" [pageConfig]="pageConfig" [selectedItems]="selectedItems" [query]="query" (add)="add()" (refresh)="refresh()" (export)="export()" (import)="import($event)" (help)="help()" (unselect)="unselect()" (archiveItems)="archiveItems()" (deleteItems)="deleteItems()"></app-list-toolbar>
</ion-header>

<ion-content appScrollbarTheme class="header-table">
	<app-page-message [itemsLength] = "items.length" [showSpinner]="pageConfig.showSpinner"></app-page-message>
	

	<div *ngIf="items.length && pageConfig.showSpinner==false">
			
	content
			
	</div>


</ion-content>

